<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.expert.rule.import.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun-plugins.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/scms/js/jquery.request.js"></script>
<script type="text/javascript">
$(document).ready(function(){

   var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.expert.rule.import.title")',
		id:'importExpertRuleBox'
	});
	box.addDom('dataForm');
	
	var succesDialog = jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	succesDialog.addDom('succesInfo');
	
	var faileDialog = jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.imp.errorarray")'
	});
	faileDialog.addDom('faileInfo');

	/*
	检查上传文件类型				
	str						传入的字符
	Msg						输入域标题,用于提示
	返回值					true or false
	*/
	function FileType(str) {
		allowSubmit = false; 
		if (!str) {
			return false;
		}
		
		while (str.indexOf("\\") != -1){
			str = str.slice(str.indexOf("\\") + 1);
		}
		
		ext = str.slice(str.indexOf(".")).toLowerCase();	
		
		if(ext==".zip"){
			allowSubmit = true; 
		}
		return allowSubmit;
	}
	var editloading = new jcl.ui.Loading({
	         id:'rulemapedit-loading',
	         zindex : 800
	         });
	// 导入
	$("#importfile").click(function(){
	
		if($("input[name='importFile']").val() == '' ||$("input[name='importFile']").val() == '' ) {
			alert('#springMessage("view.tms.rule.condition.impbody.title")!');
			return false;
		}
		if(!FileType($("input[name='importFile']").val())){
			alert('#springMessage("view.tms.rule.condition.impbody.onlyzip")');
			return false;
		}


		/*var params = $('#dataForm').serialize();

		jcl.postJSON('/tms/expert/import', params, function(data){
			var list = data.list;
			if(list == null || list == ""){
				succesDialog.show();
			}else{
				var htmlStr = "<table id='condTabId' border='1' style='border-collapse: collapse;width:100%'>";
				htmlStr+="<tr style='font-weight: bold;'>";
				htmlStr+="<td width='30%'>文件名</td>";
				htmlStr+="<td width='70%'>错误信息</td>";
				htmlStr+="</tr>";
				for(var i = 0 ; i < list.length; i++){
					htmlStr+="<tr>";
					htmlStr+="<td width='30%'>"+list[i]['xmlFileName']+"</td>";
					htmlStr+="<td width='70%'>"+list[i]['errorInfo']+"</td>";
					htmlStr+="</tr>";
				} 
				htmlStr+="</table>";
				$('#faileInfo').html(htmlStr);
				faileDialog.show();
			}
		});*/
		
		window.document.dataForm.submit();
		editloading.show();
	});
	
	// 返回
	$('#cancelBtn').click(function(){
		jcl.go('/tms/expert/list');
	});
	

	// 继续
	$('#goonBtn').click(function(){
		jcl.go('/tms/expert/import');
	});
	

	// 返回
	$('#backBtn').click(function(){
		jcl.go('/tms/expert/list');
	});


});

</script>

</head>
<body>

<div id="succesInfo">
	<div>#springMessage("view.tms.pub.imp.success")</div>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.continueCrt")" class="btn" id="goonBtn"/>
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="backBtn"/>
	</div>
</div>

<form id="dataForm" name="dataForm" method="post" action="$rc.contextPath/tms/expert/import" enctype="multipart/form-data">
<ul class="list-box">
	<li class="list-box-item">

		<label width="14%">#springMessage("view.tms.rule.condition.impbody.title"):</label> 
		<span width="86%">
		<input name="importFile" id="importFile" type="file" contentEditable="false"/>
		</span>
</ul>
<div class="button-box">
	     <input type="button" value='#springMessage("view.tms.pub.btn.sure")' class="btn" id="importfile"/>
		 <input type="button" value='#springMessage("view.cmc.pub.btn.banck")' class="btn" id="cancelBtn"/>   
</div>
</form>

<div id="faileInfo">
	
</div>

</body>
</html>
