<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.pub.imp.errorarray")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun-plugins.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/scms/js/jquery.request.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	jcl.postJSON('/tms/expert/getErrorInfo', "", function(data){
		if(data.isSucc == '0') {alert("导入成功");jcl.go('/tms/expert/list');}
	});
		//组装表格
	var g = $("#boxdiv").grid({
		title:'#springMessage("view.tms.pub.imp.errorarray")',
		width:1150,
		height:325,
		checkboxEnable:false,
		columns:[
			{name:'#springMessage("view.tms.rule.condition.add.successname")', width: 8, dataIndex:'xmlFileName'},
			{name:'#springMessage("view.tms.pub.imp.errorarray")', width: 22, dataIndex:'errorInfo'}
		],
		ds:{
			url:"/tms/expert/getErrorInfo",
			params:{}
		},
		toolbar:[
			{id:"btn-back", icon:"icon-tb-add", text:'#springMessage("view.tms.pub.btn.banck")'}
		],
		pagebar: true,
		qform: {id:"qform", display:false}

	});
	g.goPage();

	// 返回
	$('#btn-back').click(function(){
		jcl.go('/tms/expert/import');
	});

});


</script>

</head>
<body>

<form name="dataForm" id="dataForm" method="post">
<div id="boxdiv" class="box">

</div>
</form>
</body>
</html>
