<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>指定规则参数</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link href="$rc.contextPath/s/common/css/tree.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/tree.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl_tms_json.js"></script>
<script type="text/javascript">
var ruleTxnChange = new Array();;//标识符参数js对象组
var ruleTxnRowid = new Array();;//标识符参数js对象组
var condfun = new Array();//运算符参数js对象组,json对象
var actionfun = new Array();
var s = 0;
var featureList;//属性列表
var isPatter;
$(document).ready(function(){
	jcl.postJSON('/tms/dp/txn/getAll', "", function(data){
		$.each(data.row, function(i,row){
			if(row['K'].indexOf('G')>-1){//如果是组或渠道，添加为optgroup属性，不能选择               
				$("select[name=TXNID]").append("<optgroup label='"+row['V']+"'> "+ row['V'] + "</optgroup>");
			}else{
				$("select[name=TXNID]").append("<option value='" + row['K'] + "'>" + row['V'] + "</option>");
			}   
		}); 
	});

	var rulebox = new jcl.ui.Box({
		title: '专家规则',
		width:1150,
		id:'expertRuleBox'
	});
	rulebox.addDom('experrulediv');
	
	var ruleId = "ruleId="+jQuery.url.param("ruleId");
	jcl.postJSON('/tms/expert/torule', ruleId, function(data){
			$('#RULEID').val(jQuery.url.param("ruleId"));
			var ruleCondList = data.ruleCondList;
			var ruleActionList = data.ruleActionList;
			var txnList = data.txnList;
			featureList = data.featureList;//属性列表;
			isPatter = data.isPatter;//是否行为模式
			var condcount = 0;
			var atomcount = 0;
			var actioncount = 0;

			if(ruleCondList.length == 0){
				$('#conddiv').html('');
			}
			
			if(ruleActionList.length == 0){
				$('#actiondiv').html('');
			}
			// 规则条件页面初始化
			for(var i = 0 ; i < ruleCondList.length; i++){
				var condid = ruleCondList[i]['EXPERTCONDID'];// 隐藏域
				var target = ruleCondList[i]['TARGET'];// 隐藏域
				var score = ruleCondList[i]['SCORE'];// 隐藏域
				var weight = ruleCondList[i]['WEIGHT'];// 隐藏域
				var condrange = ruleCondList[i]['CONDRANGE'];// 隐藏域
				var condlimit = ruleCondList[i]['CONDLIMIT'];// 隐藏域
				var countround = ruleCondList[i]['COUNTROUND'];// 隐藏域
				var countunit = ruleCondList[i]['COUNTUNIT'];// 隐藏域
				var orderby = ruleCondList[i]['ORDERBY'];// 隐藏域
				var relation = ruleCondList[i]['RELATION'];// 隐藏域

				var condname = ruleCondList[i]['CONDNAME'];
				var isruletxn = ruleCondList[i]['ISRULETXN'];
				var featureisparam = ruleCondList[i]['FEATUREISPARAM'];
				var funcdisplay = ruleCondList[i]['FUNCDISPLAY'];
				var atomlist = ruleCondList[i]['ATOMLIST'];

				var td0 = "<tr><td>";
				td0 += "<input name='EXPERTCONDID"+i+"' type='hidden' id='EXPERTCONDID"+i+"' value='"+condid+"'/>";
				td0 += "<input name='ISRULETXN"+i+"' type='hidden' id='ISRULETXN"+i+"'  value='"+isruletxn+"'/>";
				td0 += "<input name='FEATUREISPARAM"+i+"' type='hidden' id='FEATUREISPARAM"+i+"'  value='"+featureisparam+"'/>";
				td0 += "<input name='TARGET"+i+"' type='hidden' id='TARGET"+i+"'  value='"+target+"'/>";
				td0 += "<input name='SCORE"+i+"' type='hidden' id='SCORE"+i+"'  value='"+score+"'/>";
				td0 += "<input name='WEIGHT"+i+"' type='hidden' id='WEIGHT"+i+"'  value='"+weight+"'/>";
				td0 += "<input name='CONDRANGE"+i+"' type='hidden' id='CONDRANGE"+i+"'  value='"+condrange+"'/>";
				td0 += "<input name='CONDLIMIT"+i+"' type='hidden' id='CONDLIMIT"+i+"'  value='"+condlimit+"'/>";
				td0 += "<input name='COUNTROUND"+i+"' type='hidden' id='COUNTROUND"+i+"'  value='"+countround+"'/>";
				td0 += "<input name='COUNTUNIT"+i+"' type='hidden' id='COUNTUNIT"+i+"'  value='"+countunit+"'/>";
				td0 += "<input name='ORDERBY"+i+"' type='hidden' id='ORDERBY"+i+"'  value='"+orderby+"'/>";
				td0 += "<input name='RELATION"+i+"' type='hidden' id='RELATION"+i+"'  value='"+relation+"'/>";
				td0 += "<input name='CONDNAME"+i+"' type='hidden' id='CONDNAME"+i+"'  value='"+condname+"'/>";

				td0 += (i+1);
				td0 += "</td>";
				td0 += "<td>"+condname+"</td>";
				
				td0+= '<td><table width="100%"><tr>';
				// 条件的交易和规则不是同一交易，页面上显示交易下拉列表
				if(isruletxn == 0){
					td0+="<td>交易：";
					td0+='<select name="CONDTXNID'+i+'" id="CONDTXNID'+i+'" style="width: 120px"';
					td0+=' onchange="changeFeature(this,\''+i+'\')"';
					td0+=' >';
					td0+='<option value="" >--请选择--</option>';
					for(var k=0;k<txnList.length;k++){
						if(txnList[k]['K'].indexOf('G')>-1){//如果是组或渠道，添加为optgroup属性，不能选择               
							td0+="<optgroup label='"+txnList[k]['V']+"'> "+ txnList[k]['V'] + "</optgroup>";
						}else{
							td0+="<option value='" + txnList[k]['K'] + "'>" + txnList[k]['V'] + "</option>";
						} 
					}
					td0+='</select></td>';	
				}

				td0+= '<td><table width="100%" id="smalltbody'+i+'">';

				td0+='</table></td></tr></table></td></tr>';
				$('#condtableid').append(td0);
				condfun[i]=new Array(); 
				var isdisplay = false;
				for(var j = 0 ;j <atomlist.length; j++){
					var atomindex = i+'000000'+j;
					var funcjson = atomlist[j]['FUNCJSON'];
					var relation = atomlist[j]['RELATION'];
					var funcid = atomlist[j]['FUNCID'];
					var orderby = atomlist[j]['ORDERBY'];
					
					var jsonobj = eval("({root:"+_jsonCharFilter(funcjson)+"})");
					var feature = jsonobj.root.FEATURE;

					// 条件交易和规则交易一致，记录下规则交易的onchange事件需要填充的条件因子的交易属性
					if(isruletxn == 1){
						ruleTxnChange[s] = 'FEATUREID'+atomindex;
						ruleTxnRowid[s] = i;
						s++;
					}

					var atd0 = '<tr><td>';
					atd0 += "<input name='RELATION"+atomindex+"' type='hidden' id='RELATION"+atomindex+"' value='"+relation+"'/>";
					atd0 += "<input name='FUNCID"+atomindex+"' type='hidden' id='FUNCID"+atomindex+"' value='"+funcid+"'/>";
					atd0 += "<input name='ORDERBY"+atomindex+"' type='hidden' id='ORDERBY"+atomindex+"' value='"+orderby+"'/>";
					atd0 += "<input name='CONDJSON"+atomindex+"' type='hidden' id='CONDJSON"+atomindex+"' value='"+funcjson+"'/>";

					// HIT和模式小于不显示交易属性下拉列表
					if(feature == 'hit'){
						atd0 += "<input name='FEATUREID"+atomindex+"' type='hidden' id='FEATUREID"+atomindex+"' value='HITID'/>";
					}else if(feature == 'custom'){
						atd0 += "<input name='FEATUREID"+atomindex+"' type='hidden' id='FEATUREID"+atomindex+"' value='CUSTOMID'/>";
					}else{
						if(featureisparam == 1){
							atd0+='交易属性：<select name="FEATUREID'+atomindex+'" id="FEATUREID'+atomindex+'" style="width: 120px"';
							atd0+=' >';
							atd0+='<option value="" >--请选择--</option>';
							atd0+='</select>';	
						}else{
							atd0 += "<input name='FEATUREID"+atomindex+"' type='hidden' id='FEATUREID"+atomindex+"' value=''/>";
						}
						
						isdisplay = true;
					}
					atd0+='</td>';

					atd0+= "<td><div id='PARAM_"+atomindex+"' style='display: inline'></div></td></tr>";
					$('#smalltbody'+i).append(atd0);
					var funInvoke = new jcl_tms.util.FuncInvoke({ 
						id:'funInvoke'+atomindex
					});
					
					condfun[i][j] = new Array(funInvoke);
					condfun[i][j][0].setJson(funcjson);
					condfun[i][j][0].show('PARAM_'+atomindex, "edit");
					atomcount ++;
				}
				
				condcount ++;
				
			} 
			
			
			// 规则动作页面初始化
			for(var i = 0 ; i < ruleActionList.length; i++){
				var expertactionid = ruleActionList[i]['EXPERTACTIONID'];
				var actionname = ruleActionList[i]['ACTIONNAME'];
				var funcid = ruleActionList[i]['FUNCID'];
				var funcjson = ruleActionList[i]['FUNCJSON'];
				var funcdisplay1 = ruleActionList[i]['FUNCDISPLAY'];
				
				var oTbody =document.getElementById("actiontbody");
				var rowlength = oTbody.rows.length;
				var newTr = oTbody.insertRow(rowlength);
				newTr.setAttribute("id","tr" + i.toString());
				newTr.setAttribute("valign","top");
				var newTd0 = newTr.insertCell(0); 
				newTd0.setAttribute("valign","top");
				var newTd1 = newTr.insertCell(1); 
				newTd1.setAttribute("valign","top");
				var newTd2 = newTr.insertCell(2); 
				newTd2.setAttribute("valign","top");

				var td0 = "<input name='EXPERTACTIONID"+i+"' type='hidden' id='EXPERTACTIONID"+i+"' value='"+expertactionid+"'/>";
				td0 += "<input name='FUNCID"+i+"' type='hidden' id='FUNCID"+i+"' value='"+funcid+"'/>";
				td0 += "<input name='ACTIONNAME"+i+"' type='hidden' id='ACTIONNAME"+i+"' value='"+actionname+"'/>";
				td0 += "<input name='ACTIONJSON"+i+"' type='hidden' id='ACTIONJSON"+i+"' value='"+funcjson+"'/>";
				
				// 如果参数都是隐藏属性，那么'序号'和'动作名称'不显示
				if(funcdisplay1 == true){
					td0 += (i+1);
					var td1 = actionname;
					newTd1.innerHTML = td1 ;
				}
				
				newTd0.innerHTML = td0 ;
				

				var td2= "<div id='ACTIONPARAM_"+i+"' style='display: inline'></div>";
				newTd2.innerHTML = td2;	
				newTd2.innerHTML = td2 ;
				actioncount ++ ;
			}

			$('#ATOMCOUNT').val(atomcount);
			$('#CONDCOUNT').val(condcount);
			$('#ACTIONCOUNT').val(actioncount);

	});



	// 确定按钮
	$('#upcondmapBtn').click(function(){
		var condcount = $('#CONDCOUNT').val();
		var atomcount = $('#ATOMCOUNT').val();
		var txnid = $('#TXNID').val();
		var actioncount = $('#ACTIONCOUNT').val();

		// 校验
		if(txnid == ''){
			alert('所属交易不能为空！');
			$('#TXNID').focus();
			return;
		}
			
		for(var i = 0; i < condfun.length; i++){
			var condtxnid = $('#CONDTXNID'+i).val();
			if(condtxnid == ''){
				alert('条件['+(i+1)+']的交易不能为空');
				$('#CONDTXNID'+i).focus();
				return;
			}
			var con = condfun[i];
			for (var j = 0; j< con.length; j++)
			{
				var index = i+'000000'+j;
				var type = $('#FEATUREID'+index).attr('type');
				var featureid = $('#FEATUREID'+index).val();
				if(type != 'hidden' && featureid == ''){
					alert('条件['+(i+1)+']的属性['+(j+1)+']不能为空');
					$('#FEATUREID'+index).focus();
					return;
				}
				var msg  = con[j][0].save('PARAM_'+index);
				if(msg != ''){
					alert('条件['+(i+1)+']的属性['+(j+1)+']条件域表达式值有误：'+msg);
					return;
				}
				var tconds = con[j][0].getJson();
				$('#CONDJSON'+index).val(tconds);
			}
		}

		for(var j =0; j<actioncount; j++){
			var msg  = actionfun[j][0].save('ACTIONPARAM_'+j);
			if(msg != ''){
				alert('动作['+(j+1)+']条件域表达式值有误：'+msg);
				return;
			}
			var tconds = actionfun[j][0].getJson();   
			$('#ACTIONJSON'+j).val(tconds);
		}

		var params = $('#expertDataForm').serialize();
		jcl.postJSON('/tms/expert/addrule', params, function(data){
			alert('导入成功!');
			jcl.go('/tms/rule/list');
		});
	});

	// 返回按钮
	$('#cancelcondmapBtn').click(function(){
		jcl.go('/tms/expert/rule_expertlist');
	});

	
});
function _jsonCharFilter(str) {
			str = str.replace(/\n/ig,"\\n");
			str = str.replace(/\\/ig,"\\\\");
			str = str.replace(/\t/ig,"\\t");
			str = str.replace(/\r/ig,"\\r");
			return str;
		}
		
// 规则所属交易事件
function getTxnFeature (){
	var ruletxnid = $('#TXNID').val();

	
	var txnFeature = featureList[ruletxnid];// 显示规则下的属性列表
	var txnIsPatter = isPatter[ruletxnid];// 是否行为模式
	for(var j = 0 ;j <ruleTxnChange.length; j++){
		var featureObj = document.getElementById(ruleTxnChange[j]);
		if(featureObj.type == 'hidden'){
			continue;
		}
		$(featureObj).empty();// 清空下拉列表
		featureObj.add(new Option("--请选择--",""));
		
		var target = $('#TARGET'+ruleTxnRowid[j]).val();// 得到条件的对象
		//alert($('#'+ruleTxnChange[j]).parent().parent().parent().parent().html());
		if(txnIsPatter && target != null && target == 'UserIdType'){
			featureObj.add(new Option("--行为模式","PATTERNID"));
		}
		
		for(var f=0;txnFeature != null && f<txnFeature.length;f++){
			
			//featureObj.add(new Option(txnFeature[f]['PROPNAME'],txnFeature[f]['TXNFEATUREID']));
			
			if(txnFeature[f]['G2']==-1){//如果是组或渠道，添加为optgroup属性，不能选择     
				var group=document.createElement('OPTGROUP');  
				group.label = txnFeature[f]['PROPNAME'];
				group.innerText= " ";
				featureObj.appendChild(group);
			}else{
				featureObj.add(new Option(txnFeature[f]['PROPNAME'],txnFeature[f]['TXNFEATUREID']));
			} 
		}
	}

	// 显示动作函数的参数
	var oTbody =document.getElementById("actiontbody");
	if(oTbody == null) return;
	var rowlength = oTbody.rows.length;
	for(var j = 0 ;j <rowlength-1; j++){
		var funcjson = $('#ACTIONJSON'+j).val();
		var funInvoke = new jcl_tms.util.FuncInvoke({ 
			id:'funInvoke'+j,
			txnid:ruletxnid
		});
		actionfun[j] = new Array(funInvoke);
		actionfun[j][0].setJson(funcjson);
		actionfun[j][0].show('ACTIONPARAM_'+j, "edit");
	}
}

// 条件所属交易事件
function changeFeature(obj,i){
	var condtxnid = obj.value;
	var txnFeature = featureList[condtxnid];
	var txnIsPatter = isPatter[condtxnid];// 是否行为模式
	var target = $('#TARGET'+i).val();
	var oTbody =document.getElementById("smalltbody"+i);
	var rowlength = oTbody.rows.length;
	for(var j = 0 ;j <rowlength; j++){
		var featureObj = document.getElementById('FEATUREID'+i+'000000'+j);
		if(featureObj.type == 'hidden'){
			continue;
		}
		$(featureObj).empty();// 删除下拉列表所有选项
		featureObj.add(new Option("--请选择--",""));
		if(txnIsPatter && target != null && target == 'UserIdType'){
			featureObj.add(new Option("--行为模式","PATTERNID"));
		}
		for(var f=0;txnFeature != null && f<txnFeature.length;f++){
			
			if (txnFeature[f]['G2'] == -1) {//如果是组或渠道，添加为optgroup属性，不能选择     
				var group = document.createElement('OPTGROUP');
				group.label = txnFeature[f]['PROPNAME'];
				group.innerText = " ";
				featureObj.appendChild(group);
			}
			else {
				featureObj.add(new Option(txnFeature[f]['PROPNAME'], txnFeature[f]['TXNFEATUREID']));
			}
							
			//featureObj.add(new Option(txnFeature[f]['PROPNAME'],txnFeature[f]['TXNFEATUREID']));
		}
	}
}

</script>

</head>
<body>
<div id='experrulediv'>
<form name="expertDataForm" id="expertDataForm" method="post">
<input name="RULEID" type="hidden" id="RULEID" />
<input name="CONDCOUNT" type="hidden" id="CONDCOUNT" />
<input name="ATOMCOUNT" type="hidden" id="ATOMCOUNT" />
<input name="ACTIONCOUNT" type="hidden" id="ACTIONCOUNT" />
<ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">所属交易：</label> 
		<span class="list-box-item-content"> 
			<select id="TXNID" name="TXNID" onchange='getTxnFeature();'>
                 <option value="">--请选择--</option>
            </select><font color="red">*</font>
         </span> 
	</li>
</ul>
<div id='conddiv'><table width='100%' id='condtableid' border='1' style='border-collapse: collapse;'>
			<tr>
				<td colspan='3' style="font-weight: bold;">规则条件</td>
			</tr>

			<tr>
			<td width='5%'>序号</td>
			<td width='15%'>名称</td>
			<!--td width='30%'>交易</td-->
			<td width='80%'>参数</td>
			</tr></table></div>

<div id='actiondiv'>
	<table width='100%' id='deployconftab' border='1' style='border-collapse: collapse;'>
			<tr>
				<td colspan='3' style="font-weight: bold;">规则动作</td>
			</tr>
			<tbody id="actiontbody"><tr>
			<td width='5%'>序号</td>
			<td width='15%'>名称</td>
			<td width='80%'>参数</td>
			</tr></tbody></table>
</div>
</div>
</form>

<div class="button-box" align='center'>
	<input type="button" value="确定" class="btn" id="upcondmapBtn"/>
	<input type="button" value="#springMessage('view.tms.pub.btn.banck')" class="btn" id="cancelcondmapBtn"/>
</div>


</body>
</html>
