<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专家规则管理</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	//组装表格
	var g = $("#boxdiv").grid({
		title:'#springMessage("view.tms.expert.rule.title")',
		columns:[
			{name:'#springMessage("view.tms.expert.rule.rulename")', width: 50, dataIndex:'RULENAME'},
			{name:'#springMessage("view.tms.expert.rule.ruletype")', width: 40, dataIndex:'RULETYPE',render:'tms.expert.ruletype'},
			{name:'#springMessage("view.tms.expert.rule.ruledesc")', width: 80, dataIndex:'RULEDESC'},
			{name:'#springMessage("view.tms.expert.rule.score")', width: 20, dataIndex:'SCORE'},
			{name:'#springMessage("view.tms.expert.rule.weight")', width: 20, dataIndex:'WEIGHT'},
			{name:'#springMessage("view.tms.expert.rule.disposal")', width: 20, dataIndex:'DISPOSAL',render:'tms.rule.disposal'}
		],
		ds:{
			url:"/tms/expert/list",
			params:{}
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.find")', toggleQform:true},
			{id:"btn-import", icon:"icon-tb-add", text:'#springMessage("view.tms.expert.rule.btn.import")'},
			{id:"btn-export", icon:"icon-tb-edit", text:'#springMessage("view.tms.expert.rule.btn.export")'},
			{id:"btn-del", icon:"icon-tb-del", text:'#springMessage("view.tms.pub.btn.del")'},
			{id:"btn-view", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.view")'}
		],
		pagebar: true,
		qform: {id:"qform", display:false}

	});
	g.goPage();
	
	// 查询
	$("#quick_search_btn").click(function(){
		var rulename = $('#RULENAME').val();

		if(Trim(rulename).length > 0 && !checkeSpecialCode(Trim(rulename))){
			alert('#springMessage("view.tms.expert.rule.rulename")'+'不能包含特殊字符');
			return $('#RULENAME').focus();
		}

		var params = $('#qform').serialize();
		g.setDsParams(params);
		g.goPage();
	});

	// 导入
	$("#btn-import").click(function(){
		jcl.go('/tms/expert/import');
	});

	// 查看
	$("#btn-view").click(function(){
		var rows = g.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")!');
			return;
		}
		if(rows.length>1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")!');
			return;
		}

		jcl.go('/tms/expert/view?expertruleid=' + rows[0]['EXPERTRULEID']);

	});

	// 导出
	$("#btn-export").click(function(){
		
		var ruletotal = g.page.total;
		
		if(ruletotal == 0) {
			alert("没有专家规则");
			return;
		}
		
		var rows = g.selectedRows();
		
		var url = '';
		
		if(rows.length == 0){
			url =  '$rc.contextPath/tms/expert/exportAll';// 导出全部
		}else{
			var globalid = [];
			$.each(rows, function(i, row){
				globalid.push('globalid='+row['GLOBALID']);
			});
			var params = globalid.join('&');
			url =  '$rc.contextPath/tms/expert/export?'+params;// 导出指定
		}

		window.open(url);
	});
	
	$("#btn-del").click(function(){
			//TODO: 安全起见，应逐条删除
			var rows = g.selectedRows();
				if(rows.length == 0){ 
					alert('#springMessage("view.tms.pub.checkbox.msg0")!');
					return;
				}
			if(confirm('#springMessage("view.tms.pub.del.confirm")?')){
				var ruleId = [];
				$.each(rows, function(i, row){
					ruleId.push('expertruleid='+row['EXPERTRULEID']);
				});
				var params = ruleId.join('&');
				jcl.postJSON('/tms/expert/del', params, function(data){
					alert('#springMessage("view.tms.pub.del.success")!');
					g.goPage();
				});
			}else{
				return ;
			}
		});

	jcl.code.selector('DISPOSAL','tms.rule.disposal',{text:'--请选择--',value:''});
	jcl.code.selector('RULETYPE','tms.expert.ruletype',{text:'--请选择--',value:''});
		
	jcl.postJSON('/tms/dp/txn/getAll', "", function(data){
		$.each(data.row, function(i,row){
			if(row['K'].indexOf('G')>-1){//如果是组或渠道，添加为optgroup属性，不能选择               
				$("select[name=TXNID]").append("<optgroup label='"+row['V']+"'> "+ row['V'] + "</optgroup>");
			}else{
				$("select[name=TXNID]").append("<option value='" + row['K'] + "'>" + row['V'] + "</option>");
			} 
		}); 
	});
	
});

</script>

</head>
<body>

<div id="boxdiv" class="box"></div>
<form id="qform" name="qform">
<input style="display: none"/>
   <table>
       <tr>
           <td width="10%"align='center'>#springMessage("view.tms.expert.rule.rulename")</td>
           <td width="15%">
               <input name="RULENAME" id="RULENAME" type="text" class="itext" value=""/>
           </td>
           <td width="10%"align='center'>#springMessage("view.tms.expert.rule.ruletype")</td>
           <td width="15%"> 
			<select id="RULETYPE" name="RULETYPE">
                     <option value="">--请选择--</option>
			</select>
           </td>
		   <td width="10%" align='center'>#springMessage("view.tms.expert.rule.disposal")</td>
           <td width="15%"> 
			<select id="DISPOSAL" name="DISPOSAL">
                     <option value="">--请选择--</option>
			</select>
           </td>
           <td  align="center"><input id="quick_search_btn" type="button" value="#springMessage('ui.common.btn.qquery')" class="btn"/></td>
       </tr>

	</table>
</form>

</body>
</html>
