<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户行为习惯查看</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="$rc.contextPath/s/tms/css/Style.css" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript">
var regioncode ;
var g = "";

$(document).ready(function(){

	var userid = jQuery.url.param("USERID");
	if(userid==null){
		userid = '';
	}
	$('#userid').val(userid);
	
	var qtype = jQuery.url.param("qtype");
	
	$('#qtype').val(qtype);
	
	var url = "/tms/userPatternView/list";
	if(qtype=='new'){
		url = "/tms/userPattern/list";
	}

	 g = $("#boxdiv_userpattern").grid({
		title:'#springMessage("view.tms.userpattern.center.viewlist.title")',
		//width:1150,height:50,checkboxEnable:false,
		//width:document.body.clientWidth-30,height:250,
		checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.userpattern.center.list.userid")', width: 35, dataIndex:'USERID'},
			{name:'#springMessage("view.tms.userpattern.center.list.username")', width: 20, dataIndex:'USERNAME'},
			{name:'#springMessage("view.tms.userpattern.center.list.transname")', width: 45, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.userpattern.center.list.userpattern")', width: 85, dataIndex:'TXNPARAMNAMESTR'}
		],
		ds:{
			url:''+url,
			params:{userid:''+userid}
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.find")', toggleQform:true}
		],
		pagebar: true,
		qform: {id:"qformdate", display:false}
		});
	
	g.goPage();
	
	jcl.postJSON('/tms/dp/txnView/getAll', "", function(data){
		$.each(data.row, function(i,row){
			if(row['K'].indexOf('G')>-1){//如果是组或渠道，添加为optgroup属性，不能选择               
			$("select[name=TXNID]").append("<optgroup label='"+row['V']+"'> "+ row['V'] + "</optgroup>");
			}else{
			$("select[name=TXNID]").append("<option value='" + row['K'] + "'>" + row['V'] + "</option>");
			}  
		}); 
	});
	
	
	$("#quick_search_btn").click(search);
	
	if(qtype!=null && qtype!=''){
		$('#btn-find').hide();
	}
	
});

function listUserPatternDetail(userId, patternPropId, txnId, storeColumn,txnPatternName,patternId){
	var qtype = $('#qtype').val();
	var params = 'userId=' + userId + '&patternPropId=' + patternPropId +
			'&txnId=' + txnId + '&storeColumn=' + storeColumn+ 
			'&txnPatternName=' + txnPatternName+'&qtype='+qtype+ '&patternId=' + patternId;
	window.showModalDialog('$rc.contextPath/tms/userPatternView/detailUserPattern?'+params,'','dialogWidth=1000px;dialogHeight=600px;resizable=yes'); 
/*	var params = $('#qformdate').serialize();
	g.setDsParams(params);
	g.goPage();*/
}

function search(){
		var userid = $('#userid').val();
		var txnid = $('#TXNID').val();
		if(userid == '' && txnid == ''){
			alert("必须输入一个查询条件");
			return;
		}
		if(!checkeSpecialCode(userid)) {
			alert('客户号中含有特殊字符');
			return ;	
		}
	var params = $('#qformdate').serialize();
	g.setDsParams(params);
	g.goPage();
}

</script>
</head>
  <body>
  
	<input name="qtype" id="qtype" type="hidden" class="itext"  />
  	<form id="qformdate" name="qformdate" method="post">
		<table>
			<tr>
				<td width="90" align="right">
					#springMessage("view.tms.userpattern.center.list.userid")：
				</td>
				<td width="200">
					<input name="userid" id="userid" type="text" class="itext"  />
					<!--页面只有一个text，需要加一个空input标签防止回车提交 -->
					<input   style= "display:none; "/> 
				</td>
				
				<td width="90" align="right">
					#springMessage("view.tms.userpattern.center.list.transname")：
				</td>
				<td width="200">
					 <select name="TXNID" id="TXNID">
                 		<option value="">--请选择--</option>
               		</select>
				</td>
				<td>
					<input id="quick_search_btn" type="button" value='#springMessage("view.tms.pub.btn.find")' class="btn" /> 
				</td>
			</tr>
		</table>
	</form>
  <div id="boxdiv_userpattern" class="box"></div>
  </body>
</html>
