<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.aml.list.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	//组装表格
	amlGrid = new jcl.ui.Grid({
		title:'#springMessage("view.tms.aml.list.title")',
		//marginTop:0,
		//width:1100,
		qform:{
			display: false,
			layout: 'list',
			items: [
				{label: '#springMessage("view.tms.aml.list.CTID")', name: 'CTID'},
				{label: '#springMessage("view.tms.aml.qform.CTNM")', name: 'CTNM'},
				{label: '#springMessage("view.tms.aml.list.MSGTYPE")', name: 'MSGTYPE', type:'selector',
					items:[{text:'--请选择--', value:''}], ds:{type:'code', category:'tms.aml.msgType'}},
				{label: '#springMessage("view.tms.aml.list.FILENAME")', name: 'FILENAME'},
				{label: '#springMessage("view.tms.aml.qform.timescp")',type: 'dateduration', duraSeparator:' ', viewSeparator:'至', layout:'datetime', items:[{name:'startTime'},{name:'endTime'}]}
			],
			btns:[
				{id: 'quick_search_btn', text: '#springMessage("view.cmc.but.find")'}
			]
		},
		table:{
			checkboxEnable:true,
			columns: [
				{name:'#springMessage("view.tms.aml.list.CTID")', width: 40, dataIndex:'CTID'},
				{name:'#springMessage("view.tms.aml.list.CTNM")', width: 55, dataIndex:'CTNM'},
				{name:'#springMessage("view.tms.aml.list.FILENAME")', width: 80, dataIndex:'FILENAME'},
				{name:'#springMessage("view.tms.aml.list.MSGTYPE")', width: 20, dataIndex:'MESSAGETYPE', render:'tms.aml.msgType'},
				{name:'#springMessage("view.tms.aml.list.CREATETIME")', width: 35, dataIndex:'TCREATETIME'},
				{name:'#springMessage("view.tms.aml.list.MODIFYTIME")', width: 35, dataIndex:'TMODIFYTIME'}
			],
			ds:{
				url:"/tms/aml/list",
				callback:function(list){
					for(var i = 0; i < list.length; i++){
						list[i]['CTNM'] = convertValue(list[i]['CTNM']);
					}
				}
			},
			pagebar: true
		},
		toolbar:[
			{id:"btn-search", icon:"icon-tb-find", text:'#springMessage("view.cmc.but.find")', action:'toggleQform'},
			//{id:"btn-edit", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.export.btn.edit")'},
			{id:"btn-N-R", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.list.N_R")'},
			{id:"btn-N-C", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.list.N_C")'},
			{id:"btn-A-C", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.list.A_C")'}
		]
	});
	var params = amlGrid.qform.jqDom.serialize();
	amlGrid.setDsParams(params);
	amlGrid.goPage();
	
	//普通报文重发
	amlGrid.toolbar.onClick('#btn-N-R', function(){
		var rows = amlGrid.selectedRows();
		if(rows.length == 0){
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		var messageIds = [];
		for(var i=0;i<rows.length;i++){
			if(rows[i]['MESSAGETYPE'] != 'NPS'){
				alert('#springMessage("view.tms.aml.list.msg0")');
				return;
			}
			messageIds.push("'"+rows[i]['MESSAGEID']+"'");
		}
		var params = 'messageIds='+messageIds.join(',');

		goExportPage(params, 'RPS');
	});
	//普通报文纠错
	amlGrid.toolbar.onClick('#btn-N-C', function(){
		var rows = amlGrid.selectedRows();
		if(rows.length == 0){
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		var messageIds = [];
		for(var i=0;i<rows.length;i++){
			if(rows[i]['MESSAGETYPE'] != 'NPS'){
				alert('#springMessage("view.tms.aml.list.msg0")');
				return;
			}
			messageIds.push("'"+rows[i]['MESSAGEID']+"'");
		}
		var params = 'messageIds='+messageIds.join(',');
		
		goExportPage(params, 'CPS');
	});
	//补充报文纠错
	amlGrid.toolbar.onClick('#btn-A-C', function(){
		var rows = amlGrid.selectedRows();
		if(rows.length == 0){
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		var msgType = rows[0]['MESSAGETYPE'];
		var messageIds = [];
		for(var i=0;i<rows.length;i++){
			if(rows[i]['MESSAGETYPE'] != msgType){
				alert('#springMessage("view.tms.aml.list.msg2")');
				return;
			}
			if(rows[i]['MESSAGETYPE'] != 'NPC' && rows[i]['MESSAGETYPE'] != 'APC'){
				alert('#springMessage("view.tms.aml.list.msg1")');
				return;
			}
			messageIds.push("'"+rows[i]['MESSAGEID']+"'");
		}
		var params = 'messageIds='+messageIds.join(',');

		goExportPage(params, 'CPC');
	});
	//编辑
	$("#btn-edit").click(function(){
		var rows = amlGrid.selectedRows();
		if(rows.length == 0){
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		if(rows.length > 1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")');
			return;
		}
		var params = 'messageId=' + rows[0]['MESSAGEID'];
		params += '&msgType=' + rows[0]['MESSAGETYPE'];
		jcl.go('/tms/aml/edit?' + params);
	});

	// 查询
	$("#quick_search_btn").click(function(){
		
		var CTID = amlGrid.qform.getItem('CTID').val();
		var CTNM = amlGrid.qform.getItem('CTNM').val();
		var FILENAME = amlGrid.qform.getItem('FILENAME').val();
		
		if(!isValidLetters(CTID)) {
			jcl.msg.info('#springMessage("view.tms.aml.list.CTID")' + ',数据不合法');
			return;
		}
		if(!isValidLetters(CTNM)) {
			jcl.msg.info('#springMessage("view.tms.aml.list.CTNM")' + ',数据不合法');
			return;
		}
		if(!isValidLetters(FILENAME)) {
			jcl.msg.info('#springMessage("view.tms.aml.list.FILENAME")' + ',数据不合法');
			return;
		}
		
		var startTime = $('[name=startTime]').val();
		var endTime = $('[name=endTime]').val();
		if(startTime && endTime && startTime > endTime){
			alert('#springMessage("view.tms.aml.list.datecheck")');
			return;
		}
		var params = amlGrid.qform.jqDom.serialize();
		amlGrid.setDsParams(params);
		amlGrid.goPage();
	});
});
function goExportPage(params, msgType){
	jcl.postJSON('/tms/aml/updateGroup', params, function(data){
		if(data.groupId){
			var pms = ['groupId='+data.groupId, 'msgType='+msgType, 'url=/tms/aml/list'].join('&');
			jcl.go('/tms/aml/exportList?' + pms);
		}else{
			jcl.msg.info('#springMessage("view.tms.aml.export.exception")');
		}
	});
}

function convertValue(value){
	if(value == '@I'){
		value = '';
	}
	return value;
}

//检查字符串是否合法标识符
function isValidLetters(str){
	var regx = /[\w*\-*\.?]/;
	if(regx.test(str)||Trim(str)==''||str==null){
		return true;
	}
	return false;
}

</script>
</head>
<body>
</body>
</html>