<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.aml.config.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/aml/form.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/aml/txnct.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/aml/config.js"></script>
<style type="text/css">
#config-box{width:100%;}
#left-box{width:260px; border-right: 1px solid #B2B2B2; float:left;}
#right-box{margin-left:260px; _margin-left:0px; _float:left;_overflow:auto;}
#tree-box{overflow:auto; padding-left:10px; width:250px;}
#form-box{overflow:auto; margin:0px;}
#node-info{line-height:28px; padding-left: 5px;}
textarea {
    background-color: #f9f9f9;
    border: 1px solid #bbd;
    box-shadow: 0 0 5px #dde inset;
    color: #777;
    font-size: 12px;
    line-height: 130%;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
}
textarea.parent:focus {
    border-color: #888;
    color: #223;
    outline: medium none;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
	var page = {};
	//box
	var frame = page.frame = new jcl.ui.Frame({
		title : jcl.message.get('view.tms.aml.config.title', '反洗钱配置定义')
	});
	frame.addDom('#config-box');

	var toolbar = page.toolbar = new jcl.ui.Toolbar({
        border: [0, 0, 1, 0],
        btns:[]
    }, $('#left-toolbar'));

	var tree = page.tree = new jcl.ui.Tree({
		sm:{
			type: 'row'
		}
	}, $('#tree-box'));
	
	var acTabIndex = -1;
	
	frame.container.bind('resizes', function(){
		var height = $(this).height() - $('#left-toolbar').outerHeight();
		$('#tree-box').height(height);
		$('div.tabp-list').height(height);
		if (acTabIndex != -1) {
			var tabp = $('div.tabp-content:eq(' + acTabIndex + ')');
			var form = tabp.find('form.form');
			var _this = form.find('.ttext');
			var formWidth = form.width();
			var thisHeight = _this.height();
			_this.height(height + thisHeight - tabp.height() - 20);
			_this.width(formWidth - form.find('.form-item-label').outerWidth(true) - 20);
		}
	}).triggerHandler('resizes');
	
	var tabs = [
       	{title:'交易主体', dom:'#formbox-txnct', handler: aml.txnct},
       	{title:'数据映射', dom:'#formbox-config', handler: aml.config}
	];
	
    function getAcHandler(index){
   		var tab = tabs[index];
   		var list = tree.select();
   		var txnId = list[0];
   		if(tab.handler.isInit){
   			tab.handler.load(txnId);
   		}else{
   			tab.handler.isInit = true;
   			tab.handler.init(txnId, page);
   		}
   		$(tab.dom).triggerHandler('resizes');
   		$(frame.container).triggerHandler('resizes');
    }

    //多页签面板
    var tabPanel = page.tabPanel = new jcl.ui.TabPanel({tabsWrap:true}, $('#right-box'));

    tabPanel.onTabClick(function(index){
    	if(acTabIndex >= 0 && tabs[acTabIndex].handler.isDirty()){
          	 var msg = '['+tabPanel.getTitle(acTabIndex)+']数据已修改，是否放弃保存？';
             if(!confirm(msg)){
            	 //TODO save
            	 return false;
             }
        }
    	// 根据当前交易判断
    	var list = tree.select();
		if(list.length > 0){
			var node = tree.getNode(list[0]);
			var nodeId = node.id;
			var nodeTxnId = node.txnid;
		} else {
			 jcl.msg.info('请选择交易!');
    		 return false;
		}
    	acTabIndex = index;
    	return true;
    });
    
    $.each(tabs, function(i, tab){
    	 tabPanel.addTab(tab.title, $(tab.dom), getAcHandler);
    });
    
    tree.onSelectChange(function(){
		tabPanel.activeTab(0);
		var list = tree.select();
		if(list.length > 0){
			var node = tree.getNode(list[0]);
			frame.setTitle(frame.opts.title + ' ['+nodePath(node) + ']');
		} else {
			 jcl.msg.info('请选择交易!');
    		 return false;
		}
	});

    tree.onSelect(function(){
    	if(acTabIndex >= 0 && tabs[acTabIndex].handler.isDirty()){
          	var msg = '['+tabPanel.getTitle(acTabIndex)+']数据已修改，是否放弃保存？';
            if(!confirm(msg)){
           	 	return false;
            }
        }
    	acTabIndex = -1;
    	return true;
    });
    
    jcl.postJSON('/tms35/trandef/query', '', function(data){
        for(var i = 0, l = data.list.length; i < l; i++){
            if(data.list[i].id == 'T'){
                data.list[i].icon = 'ticon-root';
                break;
            }
        }
        tree.render(data.list);
        $.each(data.list, function(i, row){
        	if('0' == (row.enable + '')){
        		var id = tree.opts.id + '_' + row.id;
        		tree.jqDom.find('#'+id).find('span.tn-text').addClass("enablecolor");
        	}
        });
        tree.select('T');
    });
    
	function nodePath(node){
        var text = node.text;
        var count = 0;
        while(node.id != 'T' && count < 10){
            node = tree.getNode(node.fid);
            text = node.text + ' > ' + text;
            count ++;
        }
        return text;
    }
});
</script>
</head>
<body>
	<div id="config-box">
		<div id="left-box">
			<div id="left-toolbar">
			</div>
			<div id="tree-box"></div>
		</div>
		<div id="right-box">
			<div id="formbox-txnct" class="formbox"></div>
			<div id="formbox-config" class="formbox"></div>
		</div>
	</div>
</body>
</html>