<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.aml.export.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">
var msgType = jQuery.url.param('msgType');
var groupId = jQuery.url.param('groupId');
var url = jQuery.url.param('url');
$(document).ready(function(){
	var tmpItems = [];
	var tmpColumns = [];
	if(msgType == 'NPS' || msgType == 'RPS' || msgType == 'CPS'){
		tmpItems = [
			{label: '#springMessage("view.tms.aml.RBIF.RINM")', name: 'RINM'},
			{label: '#springMessage("view.tms.aml.RBIF.FIRC")', name: 'FIRC'},
			{label: '#springMessage("view.tms.aml.RBIF.FICD")', name: 'FICD'},
			{label: '#springMessage("view.tms.aml.RBIF.RFSG")', name: 'RFSG',required:true},
			{label: '#springMessage("view.tms.aml.RBIF.ORXN")', name: 'ORXN'},
			{label: '#springMessage("view.tms.aml.RBIF.SSTM")', name: 'SSTM', type:'selector',
				ds:{type:'code', category:'tms.aml.SSTM'}},
			{label: '#springMessage("view.tms.aml.RBIF.STCR")', name: 'STCR', type:'selector',
				ds:{type:'code', category:'tms.aml.STCR'}},
			{label: '#springMessage("view.tms.aml.RBIF.SSDS")', name: 'SSDS'},
			{label: '#springMessage("view.tms.aml.RBIF.UDSI")', name: 'UDSI'}
		];
		tmpColumns = [
			{name:'#springMessage("view.tms.aml.export.list.CTID")', width: 60, dataIndex:'CTID'},
			{name:'#springMessage("view.tms.aml.export.list.CTNM")', width: 60, dataIndex:'CTNM'},
			{name:'#springMessage("view.tms.aml.export.list.SSTM")', width: 35, dataIndex:'SSTM', render:'tms.aml.SSTM'},
			{name:'#springMessage("view.tms.aml.export.list.STCR")', width: 45, dataIndex:'STCR', render:'tms.aml.STCR'},
			{name:'#springMessage("view.tms.aml.export.list.SCTN")', width: 20, dataIndex:'SCTN'},
			{name:'#springMessage("view.tms.aml.export.list.TTNM")', width: 20, dataIndex:'TTNM'}
		];
	}else{
		tmpItems = [
			{label: '#springMessage("view.tms.aml.RBIF.RINM")', name: 'RINM'},
			{label: '#springMessage("view.tms.aml.RBIF.FIRC")', name: 'FIRC'},
			{label: '#springMessage("view.tms.aml.RBIF.CIMC")', name: 'CIMC'}
		];
		tmpColumns = [
  			{name:'#springMessage("view.tms.aml.export.list.CTID")', width: 60, dataIndex:'CTID'},
  			{name:'#springMessage("view.tms.aml.export.list.CTNM")', width: 60, dataIndex:'CTNM'},
  			{name:'#springMessage("view.tms.aml.export.list.CIMC")', width: 45, dataIndex:'CIMC'},
  			{name:'#springMessage("view.tms.aml.export.list.SCTN")', width: 20, dataIndex:'SCTN'},
  			{name:'#springMessage("view.tms.aml.export.list.TTNM")', width: 20, dataIndex:'TTNM'}
  		];
	}
	//组装表格
	amlGrid = new jcl.ui.Grid({
		title:'#springMessage("view.tms.aml.export.title")',
		//marginTop:0,
		//width:1100,
		qform:{
			display: false,
			layout: 'list',
			items: tmpItems,
			btns:[
				{id: 'quick_sync_btn', text: '#springMessage("view.tms.aml.export.btn.sync")'}
			]
		},
		table:{
			checkboxEnable:true,
			columns: tmpColumns,
			ds:{
				url:"/tms/aml/exportList",
				callback:function(list){
					if(msgType == 'NPS' || msgType == 'RPS' || msgType == 'CPS'){
						for(var i = 0; i < list.length; i++){
							list[i]['CTID'] = convertValue(list[i]['CTID']);
							list[i]['CTNM'] = convertValue(list[i]['CTNM']);
							list[i]['SSTM'] = convertValue(list[i]['SSTM']);
							list[i]['STCR'] = convertValue(list[i]['STCR']);
							list[i]['SCTN'] = convertValue(list[i]['SCTN']);
							list[i]['TTNM'] = convertValue(list[i]['TTNM']);
						}
					}else{
						for(var i = 0; i < list.length; i++){
							list[i]['CTID'] = convertValue(list[i]['CTID']);
							list[i]['CTNM'] = convertValue(list[i]['CTNM']);
							list[i]['CIMC'] = convertValue(list[i]['CIMC']);
							list[i]['SCTN'] = convertValue(list[i]['SCTN']);
							list[i]['TTNM'] = convertValue(list[i]['TTNM']);
						}
					}
				}
			},
			pagebar: true
		},
		toolbar:[
			{id:"btn-sync", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.export.btn.sync")', action:'toggleQform'},
			{id:"btn-edit", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.export.btn.edit")'},
			{id:"btn-generate", icon:"icon-tb-edit", text:'#springMessage("view.tms.aml.export.btn.generate")'}
		]
	});
	var qParams = "groupId=" + groupId;
	qParams += "&msgType=" + msgType;
	amlGrid.setDsParams(qParams);
	amlGrid.goPage();
	
	//导出zip文件
	amlGrid.toolbar.onClick('#btn-generate', function(){
		window.open(jcl.env.contextPath+"/tms/aml/export?"+qParams);
		alert('#springMessage("view.tms.aml.export.success")');
		jcl.go(url);
	});
	//编辑
	$("#btn-edit").click(function(){
		var rows = amlGrid.selectedRows();
		if(rows.length == 0){
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		if(rows.length > 1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")');
			return;
		}
		var params = 'messageId=' + rows[0]['MESSAGEID'];
		params += '&msgType=' + msgType;
		params += '&groupId=' + groupId;
		params += '&url=' + url;
		jcl.go('/tms/aml/edit?' + params);
	});

	// 同步
	$("#quick_sync_btn").click(function(){
		var rows = amlGrid.selectedRows();
		if(rows.length == 0){
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}

		//校验
		var RINM = amlGrid.qform.getItem('RINM').val();
		var FIRC = amlGrid.qform.getItem('FIRC').val();
		if(!checkColumn(RINM, 128, '#springMessage("view.tms.aml.RBIF.RINM")')) return;
		if(!checkColumn(FIRC, 6, '#springMessage("view.tms.aml.RBIF.FIRC")')) return;
		if(msgType == 'NPS' || msgType == 'RPS' || msgType == 'CPS'){
			var FICD = amlGrid.qform.getItem('FICD').val();
			var RFSG = amlGrid.qform.getItem('RFSG').val();
			var ORXN = amlGrid.qform.getItem('ORXN').val();
			var SSTM = amlGrid.qform.getItem('SSTM').val();
			var STCR = amlGrid.qform.getItem('STCR').val();
			var SSDS = amlGrid.qform.getItem('SSDS').val();
			var UDSI = amlGrid.qform.getItem('UDSI').val();

			if(!checkColumn(FICD, 32, '#springMessage("view.tms.aml.RBIF.FICD")')) return;
			if(!checkColumn(RFSG, 2, '#springMessage("view.tms.aml.RBIF.RFSG")')) return;
			if(!checkColumn(ORXN, 36, '#springMessage("view.tms.aml.RBIF.ORXN")')) return;
			if(!checkColumn(SSTM, 2, '#springMessage("view.tms.aml.RBIF.SSTM")')) return;
			if(!checkColumn(STCR, 2, '#springMessage("view.tms.aml.RBIF.STCR")')) return;
			if(!checkColumn(SSDS, 500, '#springMessage("view.tms.aml.RBIF.SSDS")')) return;
			if(!checkColumn(UDSI, 4, '#springMessage("view.tms.aml.RBIF.UDSI")')) return;
			if(!IsNumber(RFSG, '+', 0)){
				alert('#springMessage("view.tms.aml.RBIF.RFSG")只能为正整数');
				return;
			}
		}else{
			var CIMC = amlGrid.qform.getItem('CIMC').val();

			if(!checkColumn(CIMC, 15, '#springMessage("view.tms.aml.RBIF.CIMC")')) return;

			if(!IsEmpty(RINM) && !IsEmpty(FIRC) && !IsEmpty(CIMC)){
				alert('#springMessage("view.tms.aml.export.syncmsg")');
				return;
			}
		}

		var params = amlGrid.qform.jqDom.serialize();
		var p = [];
		for(var i=0;i<rows.length;i++){
			p.push("'"+rows[i]['MESSAGEID']+"'");
		}
		var messageIds = p.join(',');
		params = [params, 'msgType='+msgType, 'messageIds='+messageIds].join('&');
		jcl.postJSON('/tms/aml/sync', params, function(data){
			if(data.isSuccess){
				info = '#springMessage("view.tms.aml.sync.success")';
			}else{
				info = '#springMessage("view.tms.aml.sync.fail")';
			}
			jcl.msg.info(info);
		});
		amlGrid.setDsParams(qParams);
		amlGrid.goPage();
	});
});
function convertValue(value){
	if(value == '@I'){
		value = '';
	}
	return value;
}

function checkColumn(value, length, name){
	if(!checkeLength(value, length)){
		alert(name + '不能超过' + length + '个字符');
		return false;
	}
	if(!checkXmlSpecialCode(value)){
		alert(name + '不能包含特殊字符');
		return false;
	}
	return true;
}
</script>
</head>
<body>
</body>
</html>