<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.aml.STIF.edit")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/validate.js"></script>
<style type="text/css">
.form-item-label {
	line-height:26px; 
	text-align:right; 
	padding-right:10px; 
	float:left; 
	display:block; 
	width:280px; 
}
</style>
<script type="text/javascript">
var messageId = jQuery.url.param('messageId');
var msgType = jQuery.url.param('msgType');
var index = jQuery.url.param('index');
var groupId = jQuery.url.param('groupId');
var url = jQuery.url.param('url');
$(document).ready(function(){
	qBox = new jcl.ui.Box({
		title:'#springMessage("view.tms.aml.STIF.edit")'
	});
	qBox.container.parent().parent().css({borderBottomWidth:0});

	stifForm = new jcl.ui.Form({
		display: true,
		layout: 'list',
		items:[
			{label: '#springMessage("view.tms.aml.STIF.CTNM")', name: 'CTNM'},
			{label: '#springMessage("view.tms.aml.STIF.CITP")', name: 'CITP', type:'selector',
				ds:{type:'code', category:'tms.aml.CITP'}},
			{label: '#springMessage("view.tms.aml.STIF.CTID")', name: 'CTID'},
			{label: '#springMessage("view.tms.aml.STIF.CBAT")', name: 'CBAT', type:'selector',
				ds:{type:'code', category:'tms.aml.CBAT'}},
			{label: '#springMessage("view.tms.aml.STIF.CBAC")', name: 'CBAC'},
			{label: '#springMessage("view.tms.aml.STIF.CABM")', name: 'CABM'},
			{label: '#springMessage("view.tms.aml.STIF.CTAT")', name: 'CTAT', type:'selector',
				ds:{type:'code', category:'tms.aml.CTAT'}},
			{label: '#springMessage("view.tms.aml.STIF.CTAC")', name: 'CTAC'},
			{label: '#springMessage("view.tms.aml.STIF.CPIN")', name: 'CPIN'},
			{label: '#springMessage("view.tms.aml.STIF.CPBA")', name: 'CPBA'},
			{label: '#springMessage("view.tms.aml.STIF.CPBN")', name: 'CPBN'},
			{label: '#springMessage("view.tms.aml.STIF.CTIP")', name: 'CTIP'},
			{label: '#springMessage("view.tms.aml.STIF.TSTM")', name: 'TSTM'},
			{label: '#springMessage("view.tms.aml.STIF.CTTP")', name: 'CTTP', type:'selector',
				ds:{type:'code', category:'tms.aml.CTTP'}},
			{label: '#springMessage("view.tms.aml.STIF.TSDR")', name: 'TSDR', type:'selector',
					ds:{type:'code', category:'tms.aml.TSDR'}},
			{label: '#springMessage("view.tms.aml.STIF.CRPP")', name: 'CRPP'},
			{label: '#springMessage("view.tms.aml.STIF.CRTP")', name: 'CRTP', type:'selector',
				ds:{type:'code', category:'tms.aml.CRTP'}},
			{label: '#springMessage("view.tms.aml.STIF.CRAT")', name: 'CRAT'},
			{label: '#springMessage("view.tms.aml.STIF.TCNM")', name: 'TCNM'},
			{label: '#springMessage("view.tms.aml.STIF.TSMI")', name: 'TSMI'},
			{label: '#springMessage("view.tms.aml.STIF.TCIT")', name: 'TCIT', type:'selector',
				ds:{type:'code', category:'tms.aml.CITP'}},
			{label: '#springMessage("view.tms.aml.STIF.TCID")', name: 'TCID'},
			{label: '#springMessage("view.tms.aml.STIF.TCAT")', name: 'TCAT', type:'selector',
				ds:{type:'code', category:'tms.aml.CBAT'}},
			{label: '#springMessage("view.tms.aml.STIF.TCBA")', name: 'TCBA'},
			{label: '#springMessage("view.tms.aml.STIF.TCBN")', name: 'TCBN'},
			{label: '#springMessage("view.tms.aml.STIF.TCTT")', name: 'TCTT', type:'selector',
				ds:{type:'code', category:'tms.aml.CTAT'}},
			{label: '#springMessage("view.tms.aml.STIF.TCTA")', name: 'TCTA'},
			{label: '#springMessage("view.tms.aml.STIF.TCPN")', name: 'TCPN'},
			{label: '#springMessage("view.tms.aml.STIF.TCPA")', name: 'TCPA'},
			{label: '#springMessage("view.tms.aml.STIF.TPBN")', name: 'TPBN'},
			{label: '#springMessage("view.tms.aml.STIF.TCIP")', name: 'TCIP'},
			{label: '#springMessage("view.tms.aml.STIF.TMNM")', name: 'TMNM'},
			{label: '#springMessage("view.tms.aml.STIF.BPTC")', name: 'BPTC'},
			{label: '#springMessage("view.tms.aml.STIF.PMTC")', name: 'PMTC'},
			{label: '#springMessage("view.tms.aml.STIF.TICD")', name: 'TICD'}
		],
		btns:[
			{id: 'sure_btn', text: '#springMessage("view.tms.pub.btn.sure")'}
		]
	}, qBox.container);

	var params = 'messageId=' + messageId;
	params += '&msgType=' + msgType;
	params += '&index=' + index;
	params += '&groupId=' + groupId;
	params += '&url=' + url;
	jcl.postJSON('/tms/aml/stifInfo', params, function(data){
		var STIF = data.row;
		stifForm.getItem('CTNM').val(convertValue(STIF.CTNM));
		stifForm.getItem('CITP').val(convertValue(STIF.CITP));
		stifForm.getItem('CTID').val(convertValue(STIF.CTID));
		stifForm.getItem('CBAT').val(convertValue(STIF.CBAT));
		stifForm.getItem('CBAC').val(convertValue(STIF.CBAC));
		stifForm.getItem('CABM').val(convertValue(STIF.CABM));
		stifForm.getItem('CTAT').val(convertValue(STIF.CTAT));
		stifForm.getItem('CTAC').val(convertValue(STIF.CTAC));
		stifForm.getItem('CPIN').val(convertValue(STIF.CPIN));
		stifForm.getItem('CPBA').val(convertValue(STIF.CPBA));
		stifForm.getItem('CPBN').val(convertValue(STIF.CPBN));
		stifForm.getItem('CTIP').val(convertValue(STIF.CTIP));
		stifForm.getItem('TSTM').val(convertValue(STIF.TSTM));
		stifForm.getItem('CTTP').val(convertValue(STIF.CTTP));
		stifForm.getItem('TSDR').val(convertValue(STIF.TSDR));
		stifForm.getItem('CRPP').val(convertValue(STIF.CRPP));
		stifForm.getItem('CRTP').val(convertValue(STIF.CRTP));
		stifForm.getItem('CRAT').val(convertValue(STIF.CRAT));
		stifForm.getItem('TCNM').val(convertValue(STIF.TCNM));
		stifForm.getItem('TSMI').val(convertValue(STIF.TSMI));
		stifForm.getItem('TCIT').val(convertValue(STIF.TCIT));
		stifForm.getItem('TCID').val(convertValue(STIF.TCID));
		stifForm.getItem('TCAT').val(convertValue(STIF.TCAT));
		stifForm.getItem('TCBA').val(convertValue(STIF.TCBA));
		stifForm.getItem('TCBN').val(convertValue(STIF.TCBN));
		stifForm.getItem('TCTT').val(convertValue(STIF.TCTT));
		stifForm.getItem('TCTA').val(convertValue(STIF.TCTA));
		stifForm.getItem('TCPN').val(convertValue(STIF.TCPN));
		stifForm.getItem('TCPA').val(convertValue(STIF.TCPA));
		stifForm.getItem('TPBN').val(convertValue(STIF.TPBN));
		stifForm.getItem('TCIP').val(convertValue(STIF.TCIP));
		stifForm.getItem('TMNM').val(convertValue(STIF.TMNM));
		stifForm.getItem('BPTC').val(convertValue(STIF.BPTC));
		stifForm.getItem('PMTC').val(convertValue(STIF.PMTC));
		stifForm.getItem('TICD').val(convertValue(STIF.TICD));
	});
	
	//确定
	$("#sure_btn").click(function(){
		//校验
		var CTNM = stifForm.getItem('CTNM').val();
		var CITP = stifForm.getItem('CITP').val();
		var CTID = stifForm.getItem('CTID').val();
		var CBAT = stifForm.getItem('CBAT').val();
		var CBAC = stifForm.getItem('CBAC').val();
		var CABM = stifForm.getItem('CABM').val();
		var CTAT = stifForm.getItem('CTAT').val();
		var CTAC = stifForm.getItem('CTAC').val();
		var CPIN = stifForm.getItem('CPIN').val();
		var CPBA = stifForm.getItem('CPBA').val();
		var CPBN = stifForm.getItem('CPBN').val();
		var CTIP = stifForm.getItem('CTIP').val();
		var TSTM = stifForm.getItem('TSTM').val();
		var CTTP = stifForm.getItem('CTTP').val();
		var TSDR = stifForm.getItem('TSDR').val();
		var CRPP = stifForm.getItem('CRPP').val();
		var CRTP = stifForm.getItem('CRTP').val();
		var CRAT = stifForm.getItem('CRAT').val();
		var TCNM = stifForm.getItem('TCNM').val();
		var TSMI = stifForm.getItem('TSMI').val();
		var TCIT = stifForm.getItem('TCIT').val();
		var TCID = stifForm.getItem('TCID').val();
		var TCAT = stifForm.getItem('TCAT').val();
		var TCBA = stifForm.getItem('TCBA').val();
		var TCBN = stifForm.getItem('TCBN').val();
		var TCTT = stifForm.getItem('TCTT').val();
		var TCTA = stifForm.getItem('TCTA').val();
		var TCPN = stifForm.getItem('TCPN').val();
		var TCPA = stifForm.getItem('TCPA').val();
		var TPBN = stifForm.getItem('TPBN').val();
		var TCIP = stifForm.getItem('TCIP').val();
		var TMNM = stifForm.getItem('TMNM').val();
		var BPTC = stifForm.getItem('BPTC').val();
		var PMTC = stifForm.getItem('PMTC').val();
		var TICD = stifForm.getItem('TICD').val();
		
		if(!checkColumn(CTNM, 128, '#springMessage("view.tms.aml.STIF.CTNM")')) return;
		if(!checkColumn(CITP, 32, '#springMessage("view.tms.aml.STIF.CITP")')) return;
		if(!checkColumn(CTID, 32, '#springMessage("view.tms.aml.STIF.CTID")')) return;
		if(!checkColumn(CBAT, 2, '#springMessage("view.tms.aml.STIF.CBAT")')) return;
		if(!checkColumn(CBAC, 64, '#springMessage("view.tms.aml.STIF.CBAC")')) return;
		if(!checkColumn(CABM, 128, '#springMessage("view.tms.aml.STIF.CABM")')) return;
		if(!checkColumn(CTAT, 2, '#springMessage("view.tms.aml.STIF.CTAT")')) return;
		if(!checkColumn(CTAC, 64, '#springMessage("view.tms.aml.STIF.CTAC")')) return;
		if(!checkColumn(CPIN, 128, '#springMessage("view.tms.aml.STIF.CPIN")')) return;
		if(!checkColumn(CPBA, 64, '#springMessage("view.tms.aml.STIF.CPBA")')) return;
		if(!checkColumn(CPBN, 128, '#springMessage("view.tms.aml.STIF.CPBN")')) return;
		if(IsEmpty(CTIP) && !isIP(CTIP)){
			alert('#springMessage("view.tms.aml.STIF.CTIP")格式不正确');
			return;
		}
		if(!checkColumn(CTIP, 15, '#springMessage("view.tms.aml.STIF.CTIP")')) return;
		if(!checkColumn(TSTM, 14, '#springMessage("view.tms.aml.STIF.TSTM")')) return;
		if(!checkColumn(CTTP, 4, '#springMessage("view.tms.aml.STIF.CTTP")')) return;
		if(!checkColumn(TSDR, 2, '#springMessage("view.tms.aml.STIF.TSDR")')) return;
		if(!checkColumn(CRPP, 500, '#springMessage("view.tms.aml.STIF.CRPP")')) return;
		if(!checkColumn(CRTP, 3, '#springMessage("view.tms.aml.STIF.CRTP")')) return;
		if(IsEmpty(CRAT) && !IsNumber(CRAT, '+', 3)){
			alert('#springMessage("view.tms.aml.STIF.CRAT")只能为正数，且小数点后最多保留3位小数');
			return;
		}
		if(!checkColumn(CRAT, 20, '#springMessage("view.tms.aml.STIF.CRAT")')) return;
		if(!checkColumn(TCNM, 128, '#springMessage("view.tms.aml.STIF.TCNM")')) return;
		if(!checkColumn(TSMI, 128, '#springMessage("view.tms.aml.STIF.TSMI")')) return;
		if(!checkColumn(TCIT, 32, '#springMessage("view.tms.aml.STIF.TCIT")')) return;
		if(!checkColumn(TCID, 32, '#springMessage("view.tms.aml.STIF.TCID")')) return;
		if(!checkColumn(TCAT, 2, '#springMessage("view.tms.aml.STIF.TCAT")')) return;
		if(!checkColumn(TCBA, 64, '#springMessage("view.tms.aml.STIF.TCBA")')) return;
		if(!checkColumn(TCBN, 128, '#springMessage("view.tms.aml.STIF.TCBN")')) return;
		if(!checkColumn(TCTT, 2, '#springMessage("view.tms.aml.STIF.TCTT")')) return;
		if(!checkColumn(TCTA, 64, '#springMessage("view.tms.aml.STIF.TCTA")')) return;
		if(!checkColumn(TCPN, 128, '#springMessage("view.tms.aml.STIF.TCPN")')) return;
		if(!checkColumn(TCPA, 64, '#springMessage("view.tms.aml.STIF.TCPA")')) return;
		if(!checkColumn(TPBN, 128, '#springMessage("view.tms.aml.STIF.TPBN")')) return;
		if(IsEmpty(TCIP) && !isIP(TCIP)){
			alert('#springMessage("view.tms.aml.STIF.TCIP")格式不正确');
			return;
		}
		if(!checkColumn(TCIP, 15, '#springMessage("view.tms.aml.STIF.TCIP")')) return;
		if(!checkColumn(TMNM, 64, '#springMessage("view.tms.aml.STIF.TMNM")')) return;
		if(!checkColumn(BPTC, 64, '#springMessage("view.tms.aml.STIF.BPTC")')) return;
		if(!checkColumn(PMTC, 64, '#springMessage("view.tms.aml.STIF.PMTC")')) return;
		if(!checkColumn(TICD, 128, '#springMessage("view.tms.aml.STIF.TICD")')) return;

		var eParams = [stifForm.serialize(), params].join('&');
		jcl.postJSON('/tms/aml/editStif', eParams, function(data){
			if(data.isSuccess){
				alert('#springMessage("view.tms.aml.edit.success")');
				jcl.go('/tms/aml/edit?' + params);
			}else{
				alert('#springMessage("view.tms.aml.edit.fail")');
			}
		});
	});
	
});
function convertValue(value){
	if(value == '@I'){
		value = '';
	}
	return value;
}

function checkColumn(value, length, name){
	if(!checkeLength(value, length)){
		alert(name + '不能超过' + length + '个字符');
		return false;
	}
	if(!checkXmlSpecialCode(value)){
		alert(name + '不能包含特殊字符');
		return false;
	}
	return true;
}
</script>
</head>
<body>
</body>
</html>