<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link href="$rc.contextPath/s/tms/css/Style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
dualAudit = '${readonly}' == 'false';//定义全局变量dualAudit
</script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script> -->
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/jcq.js"></script>
<style type="text/css">
	table {padding:0px; margin:0px; border:0px;}
</style>
<script type="text/javascript">
var paramStr = decodeURIComponent(jcq.util.getUrlParamsString());
var paramObj = jcq.util.paramToObject(paramStr);
$(document).ready(function(){
	jcq.loadQuery({id:'customQueryMain', params:paramObj, dualAudit:dualAudit}, {entity:window});
});
</script>
</head>
<body>
	<div style="width:30%;height:0px;border:none;">&nbsp;&nbsp;</div>
	<div id="customQueryDiv"  style="margin-left:10px;">
		<div id="customQueryMain"  style="margin-right:10px;"></div>
		<div id="customQueryBack" class="button-box" style="display:none;">
			<input type="button" class="btn" value="返回" onClick="javascript:window.close();" />
		</div>&nbsp;
	</div>
</body>
</html>