<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms35.query.tree")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/jsonLint/jsl.parser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/jsonLint/jsl.format.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/jsonLint/jsl.interactions.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/query_tree.js"></script>
<style type="text/css">
#query-box{width:100%;}
#left-box{width:260px; border-right: 1px solid #B2B2B2; float:left;}
#right-box{margin-left:260px; _margin-left:0px; _float:left;_overflow:auto;}
#tree-box{overflow:auto; padding-left:10px; width:250px;}
#form-box{overflow:auto; margin:0px;}
#node-info{line-height:28px; padding-left: 5px;}

textarea{border:1px solid #7f9db9; font-size:14px; width:448px; color:#000000;height:400px;}
.grey{color:#999999;}
#jsonlinediv{padding:0px; margin:0px; border:0px; background:#ecf0f5;width:25px; text-align:left; float:left;}
#jsonline{font-family: monospace;background:#ecf0f5; height:160px; overflow:hidden; width:25px; border-right:0; line-height:20px; margin:0px; padding:0px; padding-left:2px; text-align:center;}
#jsontextdiv{padding:0; margin:0px; border:0px; text-align:left; float:left;}
#jsontext{font-family:Arial, Helvetica, sans-serif; height:160px; margin:0px; padding:0px; width:420px; line-height:20px;overflow:auto;}

.error,.success { margin-bottom:1em; border:2px solid #ddd; padding:.8em;}
.error { background:#FBE3E4; color:#D12F19; border-color:#FBC2C4; }
.success { background:#E6EFC2; color:#529214; border-color:#C6D880; }
</style>
<script type="text/javascript">
$(document).ready(function() {
	var urlPrefix = '/tms35/query/show?queryId=';
	var page = {};
	//box
	var frame = page.frame = new jcl.ui.Frame({
		title : jcl.message.get('ui.tms35.query.tree', '自定义查询')
	});
	frame.addDom('#query-box');

	//工具条
	var toolbar = page.toolbar = new jcl.ui.Toolbar({
		border : [ 0, 0, 1, 0 ],
		btns : [
			{id : "tree-newgroup", icon : "icon-tb-add", text : '#springMessage("view.tms.pub.btn.new")分组', disabled : true},
			{id : "tree-newquery", icon : "icon-tb-add", text : '#springMessage("view.tms.pub.btn.new")查询', disabled : true},
			{id : "tree-delquery",	icon : "icon-tb-del", text : '#springMessage("view.tms.pub.btn.del")', disabled : true},
			{id : "tree-viewquery",	icon : "icon-tb-find", text : '#springMessage("view.tms.pub.btn.view")', disabled : true}
		]
	}, $('#left-toolbar'));

	frame.container.bind('resizes', function(){
		$('#tree-box').height($(this).height() - $('#left-toolbar').outerHeight());
		$('#form-box').height($(this).height() - $('#right-toolbar').outerHeight());
	}).triggerHandler('resizes');

	var tree = page.tree = new jcl.ui.Tree({
		sm:{
			type: 'row'
		}
	}, $('#tree-box'));
	tree.icons = ['ticon-module', 'ticon-node','ticon-fn','ticon-subfn'];

	var groupform = page.groupform = new jcl.ui.Form({
   		layout: 'list',
   		hitems: [],
   		items:[
   			{name: 'nodeId', type: 'hidden'},
   			{name: 'parentNodeId', type: 'hidden'},
   			{name: 'tNodeType', type: 'hidden', value:'0'},
   			{name: 'tNodeName', type: 'text', label: '#springMessage("view.tms35.query.label.nodeName")', required: true},
			{name: '_node_type', type: 'span', label: '#springMessage("view.tms35.query.label.nodeType")', value: '分组'},
   			{name: 'orderBy', type: 'text', label: '#springMessage("view.tms35.query.label.orderby")', value:'0', required: true}
   		],
   		btns:[
   			{id: 'saveGroup', text: '#springMessage("view.tms.pub.btn.save")', cls: 'saveBtn'},
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
   		]
   	}, $('#form-box'));

   	var queryform = page.queryform = new jcl.ui.Form({
		layout: 'list',
		hitems: [],
   		items:[
   			{name: 'nodeId', type: 'hidden'},
   			{name: 'parentNodeId', type: 'hidden'},
   			{name: 'tNodeType', type: 'hidden', value:'1'},
   			{name: 'tNodeName', type: 'text', label: '#springMessage("view.tms35.query.label.nodeName")', required: true},
   			{name: '_node_type', type: 'span', label: '#springMessage("view.tms35.query.label.nodeType")', value: '查询'},
   			{name: '_create_time', type: 'span', label: '#springMessage("view.tms35.query.label.createTime")'},
   			{name: 'url', type: 'span', label: '#springMessage("view.tms35.query.label.urladdr")'},
   			{name: 'queryData', type: 'textarea', label: '#springMessage("view.tms35.query.label.queryData")', required: true}
   		],
   		btns:[
   			//{text: '#springMessage("view.tms35.query.btn.jsonvalid")', cls: 'validBtn'},
   			{id: 'saveQuery', text: '#springMessage("view.tms.pub.btn.save")', cls: 'saveBtn'},
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
   		]
   	}, $('#form-box'));
   	$('.form').hide();//隐藏所有form表单

	jcl.postJSON('/tms35/query/tree', '', function(data) {
	    var list = data.list;
	    for(var i = 0 ; i < list.length; i++){
	    	list[i]['icon'] = tree.icons[list[i]['qtype']];
	    	if(list[i]['qtype'] == '1'){
	    		list[i]['url'] = urlPrefix + '' + list[i]['id'];
	    	}
	    }
	    list.push({id:'-1', type:'-1', qtype:'-1', text: jcl.message.get('ui.tms35.query.tree'), icon:'ticon-root', onum: 0});
	    tree.render(list);
	    tree_init(page);
	    tree.select('-1');
	});

	$('.form').css({margin: 10});

	//保存
	$('.form').find('.saveBtn').click(function(e){
		var id = $(this).attr('id');
		var form = '';
		if(id == 'saveGroup') {
			form = groupform;
		} else if(id == 'saveQuery') {
			form = queryform;
		}
		if(submitCheck(form)) {
			var nodeId = form.jqDom.find(':hidden[name=nodeId]').val();
			var params = form.jqDom.serialize();
			if(IsEmpty(nodeId)) {//nodeid不为空，修改
				jcl.postJSON('/tms35/query/mod', params, function(data){
					if(data.success) {
						jcl.msg.info('保存成功 ！');
						var node = $.extend(tree.getNode(nodeId),{
							text:form.jqDom.find(':text[name=tNodeName]').val(),
							onum:form.jqDom.find(':text[name=orderBy]').val(),
							qdata:form.jqDom.find('textarea[name=queryData]').val()
						});
						tree.updateNode(node);
					}
				});
			} else {//nodeid为空，新增
				jcl.postJSON('/tms35/query/add', params, function(data){
					var nodeMap = data.resultMap;
					if(data.success && nodeMap) {
						jcl.msg.info('保存成功 ！');
						var ntype = form.jqDom.find(':hidden[name=tNodeType]').val();
						var node = {
							fid:form.jqDom.find(':hidden[name=parentNodeId]').val(),
							qtype:ntype,
							icon:tree.icons[ntype],
							text:form.jqDom.find(':text[name=tNodeName]').val()
						};
						var nid = '';
						if(ntype == '0'){
							nid = nodeMap['GROUP_ID'];
							node.onum = form.jqDom.find(':text[name=orderBy]').val();
						}else if(ntype == '1'){
							nid = nodeMap['QUERY_ID'];
							node.url = urlPrefix + '' + nid;
							node.ctime = nodeMap['CTIME'];
							node.qdata = form.jqDom.find('textarea[name=queryData]').val();
						}
						node.id = nid;
						tree.addNode(node);
						form.jqDom.find(':hidden[name=nodeId]').val(nid);
						tree.jqDom.find('.tn-text.selected').removeClass('selected');
						tree.select(nid);
					}
				});
			}
		}
	});

	$('.form').find('.cancelBtn').click(function(e){
		tree.jqDom.find('.tn-text.selected').removeClass('selected');
		tree.select('-1');
	});

	//新建分组
	toolbar.onClick('#tree-newgroup', function(e){
   		var list = tree.select();
    	var nodeId = list[0];
    	var node = tree.getNode(nodeId);
		groupform.jqDom.show();
		queryform.jqDom.hide();
		groupform.jqDom.find(':hidden[name=nodeId]').val('');
		groupform.jqDom.find(':hidden[name=parentNodeId]').val(nodeId);
		groupform.jqDom.find(':text[name=tNodeName]').val('');
		groupform.jqDom.find(':text[name=orderBy]').val('0');
   	});

	//新建查询
   	toolbar.onClick('#tree-newquery', function(e){
   		var list = tree.select();
   		var nodeId = list[0];
    	var node = tree.getNode(nodeId);
		groupform.jqDom.hide();
		queryform.jqDom.show().find('.form-items > .form-item:gt(1):lt(2)').hide();//隐藏URL地址项
		queryform.jqDom.find(':hidden[name=nodeId]').val('');
		queryform.jqDom.find(':hidden[name=parentNodeId]').val(nodeId);
		queryform.jqDom.find(':text[name=tNodeName]').val('');
		queryform.jqDom.find('textarea[name=queryData]').val('');
		emptyResultInfo(queryform);
   	});

	//删除
   	toolbar.onClick('#tree-delquery', function(e){
   		var list = tree.select();
   		var nodeId = list[0];
   		var node = tree.getNode(nodeId);
		var nodeType = node.qtype;
		if(confirm('确定要删除查询'+(nodeType=='0'? '分组' : '')+'信息吗？')){
			jcl.postJSON('/tms35/query/del', 'nodeId='+nodeId+'&tNodeType='+nodeType, function(data){
				if(data.success){
					jcl.msg.info('删除'+(nodeType=='0'? '分组' : '查询')+'成功！');
					tree.removeNode(nodeId);
				} else {
					jcl.msg.info(data.error[0]);
				}
				tree.select('-1');
			});
		}
   	});

	//查看
   	toolbar.onClick('#tree-viewquery', function(e){
   		var list = tree.select();
		var nodeId = list[0];
		var node = tree.getNode(nodeId);
		var url = "$rc.contextPath" + node.url;
		window.open(url);
   	});
});
</script>
</head>
<body>
	<div id="query-box">
		<div id="left-box">
			<div id="left-toolbar"></div>
			<div id="tree-box"></div>
		</div>
		<div id="right-box">
			<div id="right-toolbar">
		        <div class="box-toolbar-wrap box-b-b toolbar" style="margin-left:0px;">
		           <div id="node-info"></div>
				</div>
			</div>
			<div id="form-box"></div>
		</div>
	</div>
</body>
</html>