
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>交易事件动态查询</title>
    <link href="/tms-web/s/common/css/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/tms-web/s/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="/tms-web/s/common/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/tms-web/s/common/js/browser.js"></script>
    <script type="text/javascript" src="/tms-web/s/common/js/jcl.js"></script>
    <script type="text/javascript" src="/tms-web/s/common/env/env.js"></script>
    <script type="text/javascript" src="/tms-web/s/common/env/message.js"></script>
    <script type="text/javascript" src="/tms-web/s/tms/js/commoncheck.js"></script>
    <style type="text/css">
        .form {
            width: 1300px;
        }

        #dynamic-cond-form {
            border: 1px solid silver;
            margin-top: 10px;
            padding: 10px 0px;
            width: 1200px;
        }

        .form-item-label{
            white-space:nowrap;          /* 内部文字不换行 */
            overflow:hidden;             /* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow:ellipsis;      /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        }

        a {
            color: #291E40;
            font-family: Verdana;
            font-size: 8pt;
            font-weight: bold;
            text-decoration:none;
        }

        a:hover
        {
            COLOR: #FFA000;
        }
    </style>
    <script type="text/javascript">

      $(document).ready(function(){
        var txnTypeData = [];   // 交易监控下拉列表数据
        var txntype= '';        // 全局交易类型
        var disposal;           // 处置方式

        // grid超链接url配置
        var urls = {
          txncodeUrl: "/dualaudit/tms35/query/show?queryId=264&txncode=",           // 交易流水号
          useridUrl: "/dualaudit/tms35/query/show?queryId=260&userid=",             // 用户ID
          deviceidUrl: "/dualaudit/tms35/query/show?queryId=267&device_id=",        // 设备号
          sessionidUrl: "/dualaudit/tms35/query/show?queryId=261&sessionid=",       // 会话ID
          ipaddrUrl: "/dualaudit/tms35/query/show?queryId=258&ipaddr=",             // IP地址
          hitrulenumUrl: "/dualaudit/tms35/query/show?queryId=268&txncode="         // 命中规则数
        }

        // 默认查询条件
        var defaultFormCond = [
          'chancode',
          'txncode',
          'userid',
          'ipaddr',
          'deviceid',
          'sessionid',
          'txntype',
          'disposal',
          'iseval',
          'iscorrect',
          'confirmrisk',
          'txnstatus',
          'txntime',
          'createtime',    // 交易识别时间
          'finishtime',    // 交易确认时间
          'countrycode',   // 国家代码
          'regioncode',    // 地区代码
          'citycode'       // 城市代码
        ];

        // 固定顺序的表头
        var tableHead = [
          'txncode',
          'txntype',
          'txnname',
          'userid',
          'txntime',
          'txnstatus',
          'disposal'
        ];

        var gridOption = {
          width: 4500,
          title:'交易事件动态查询',
          qform:{
            display: true,
            items:[
              {label: '渠道类型', name: 'chancode', type:'selector', items:[{text:'--请选择--', value:''}]},
              {label: '监控交易', name: 'txntype', type:'treeselector',title:'--请选择--', items:txnTypeData,required:true,
                sm:{type:"row"},rtNode:false, multiple:false, cascadeCheck:false, autoSearch:true},
              {label: '流水号', name: 'txncode'},
              {label: '客户号', name: 'userid'},
              {label: 'IP地址', name: 'ipaddr'},
              {label: '会话标识', name: 'sessionid'},
              {label: '设备信息', name: 'deviceid'},
              {label: '处置方式', name: 'disposal', type:'selector',
                items:[{text:'--请选择--', value:''}], ds:{type:'remote', 'url':'/tms35/rule/disposal', 'parser':{'key':'row', 'text':'DP_NAME', 'value':'DP_CODE'}, 'lazyLoad':'true'}},
              {label: '是否评估', name: 'iseval', type:'selector',
                items:[{text:'--请选择--', value:''}], ds:{type:'code', category:'tms.common.iseval'}},
              {label: '认证状态', name: 'iscorrect', type:'selector',
                items:[{text:'--请选择--', value:''}], ds:{type:'code', category:'tms.common.iscorrect'}},
              {label: '人工确认风险', name: 'confirmrisk', type:'selector',
                items:[{text:'--请选择--', value:''}], ds:{type:'code', category:'tms.confirmrisk.status'}},
              {label: '交易状态', name: 'txnstatus', type:'selector',
                items:[{text:'--请选择--', value:''}], ds:{type:'code', category:'tms.common.txnstatus'}},
              {label: '交易时间', name: 'txntime', type: 'dateduration', duraSeparator: '--', layout: 'datetime',
                items: [{name: 'startTime'}, {name: 'endTime'}]
              },
              {label: '地理位置', name: 'location', type:'selector', members:[
                { name: 'countrycode',
                  items:[{text:'--请选择--', value:''}],
                  ds:{
                    type:'remote',
                    url:'/tms/monitor/alarm/get_all_country',
                    parser:{key:'row', text:'COUNTRYNAME', value:'COUNTRYCODE'},
                    lazyLoad:'true'}
                },
                { name: 'regioncode',
                  items:[{text:'--请选择--', value:''}]
                },
                { name: 'citycode',
                  items:[{text:'--请选择--', value:''}]
                }
              ]}
            ],btns:[
              {id: 'display-more', text: '更多...'},
              {id: 'quick-search-btn', text: '查询'}
            ]
          },
          toolbar:[
            {id:"btn-find", icon:"icon-tb-find", text:'查询', action:'toggleQform'},
            {id:"btn-export", icon:"icon-tb-edit", text:'导出'}
          ],
          table:{
            columns:[],
            ds:{
              url:"/tms35/tranmdl/get_trandata",
              params:{}
            },
            checkboxEnable: false,
            pagebar: true
          }
        };

        // 获取处置方式数据
        jcl.postJSON('/tms35/rule/disposal', "", function(data){
          disposal = data;
        });

        //组装表格
        var txnGrid = new jcl.ui.Grid(gridOption);
        txnGrid.jqDom.find(".table").hide();
        txnGrid.qform.jqDom.attr('id', 'default-cond-form');

        initFormItems(txnGrid);

        var countrycode = txnGrid.qform.getItem('location').component[0];
        var regioncode = txnGrid.qform.getItem('location').component[1];
        var citycode = txnGrid.qform.getItem('location').component[2];

        // 绑定国家代码下拉框事件
        countrycode.onChange(
          function(_this){

            if(_this.value){
              regioncode.opts.ds = {
                type:'remote',
                url:'/tms/monitor/alarm/get_region_by_country?country='+_this.value,
                parser:{
                  key:'row',
                  text:'REGIONNAME',
                  value:'REGIONCODE'
                }
              };
              regioncode.reload();
              regioncode.opts.items.unshift({text:'---请选择---', value:''});
            }else{
              regioncode.opts.ds = null;
              regioncode.reload([{text:'---请选择---', value:''}]);
            }
            regioncode.select(0);
            citycode.opts.ds = null;
            citycode.reload([{text:'---请选择---', value:''}]);
            citycode.select(0);
          }
        );

        // 绑定地区代码下拉框事件
        regioncode.onChange(
          function(_this){
            if(_this.value){
              citycode.opts.ds = {
                type:'remote',
                url:'/tms/monitor/alarm/get_city_by_region?region='+_this.value,
                parser:{key:'row',text:'CITYNAME',value:'CITYCODE'}
              };
              citycode.reload();
              citycode.opts.items.unshift({text:'---请选择---', value:''});
            }else{
              citycode.opts.ds = null;
              citycode.reload([{text:'---请选择---', value:''}]);
            }
            citycode.select(0);
          }
        );

        // 查询
        $("#quick-search-btn").click(function(){

          // 校验Form表单
          if (!checkForm()){
            return;
          }

          var txntypeNew = txnGrid.qform.jqDom.find("[name = 'txntype']").val();

          // 如果交易类型不变，只请求grid数据
          if (txntype === txntypeNew){
            queryTxnByCond()
          } else {

            // 否则直接刷新整个table和自定义查询条件
            var param = 'txntype=' +  txntypeNew;
            refreshGrid(param);
            txntype = txntypeNew;
          }
        });

        // 更多
        $("#display-more").click(function(){
          var dynamicCondForm = $('#dynamic-cond-form');
          if (dynamicCondForm.length > 0) {
            if (dynamicCondForm.is(":hidden")){
              dynamicCondForm.show();
              $('#display-more').val('隐藏');
            } else {
              dynamicCondForm.hide();
              $('#display-more').val('更多...');
            }
          }
        });

        // 导出Excel
        txnGrid.toolbar.onClick('#btn-export', function(){

          // 校验Form表单
          if (!checkForm()){
            return;
          }

          var total = 0;
          var pageInfo = $('.pagebar-info').text();
          if(pageInfo){
            var totalInfoStart = pageInfo.indexOf('共');
            var totalInfoEnd = pageInfo.indexOf('条记录');
            if(totalInfoStart && totalInfoEnd){
              total = parseInt(pageInfo.substring(totalInfoStart + 1, totalInfoEnd));
            }
          }
          if(total > 10000){
            jcl.msg.confirm('导出数据已超10000条，按10000条导出，是否继续？', exportData)
          }else if(total > 0){
            exportData();
          }else{
            jcl.msg.info('没数据就别点了！');
          }
        });

        // 校验Form表单
        function checkForm() {
          var txntypeNew = txnGrid.qform.jqDom.find("[name = 'txntype']").val();
          if (txntypeNew === ''){
            jcl.msg.info('请选择监控交易。');
            return false;
          }

          // 校验交易时间
          var checkTimeResult = jcl.util.checkTime({
            formDom: txnGrid.qform.jqDom
          });

          if (!checkTimeResult){
            return false;
          }

          return true;
        }

        // 根据条件查询交易数据
        function queryTxnByCond() {
          var dynamicCondForm,
            dynamicFormParams,
            defaultformParams,
            params;

          // 获取默认查询条件
          defaultformParams = txnGrid.qform.jqDom.serialize();

          // 获取动态查询条件
          dynamicCondForm = $('#dynamic-cond-form');
          if (dynamicCondForm.length > 0){
            dynamicFormParams = dynamicCondForm.serialize();
          }
          params = defaultformParams + '&' + dynamicFormParams;
          txnGrid.setDsParams(params);
          txnGrid.goPage();

          var dynamicCondForm = $('#dynamic-cond-form');
          if (dynamicCondForm.length > 0) {
            if (dynamicCondForm.is(":hidden")){
              $('#display-more').val('更多...');
            } else {
              $('#display-more').val('隐藏');
            }
          }
        }

        // 导出数据
        function exportData() {
          var url = jcl.env.contextPath + '/tms35/tranmdl/exportXLSX';
          // 获取默认查询条件
          var defaultformParams = jcl.util.serializeObject(txnGrid.qform.jqDom, true, true);

          // 获取动态查询条件
          var dynamicCondForm = $('#dynamic-cond-form');
          if (dynamicCondForm.length > 0){
            var dynamicFormParams = jcl.util.serializeObject(dynamicCondForm, true, true);
          }
          var params = $.extend({}, defaultformParams, dynamicFormParams);
          jcl.util.downloadFile(url, params);
        }

        // 查看交易号
        function queryTxncodeDetail(event) {
          var data = $(event.target).attr('data');
          var url = jcl.env.contextPath + urls.txncodeUrl + data;
          openWindow(url);
        }

        // 查看用户信息
        function queryUseridDetail(event) {
          var data = $(event.target).attr('data');
          var url = jcl.env.contextPath + urls.useridUrl + data;
          url = url + getOpertimeStr();
          openWindow(url);
        }

        // 查看设备号
        function queryDeviceidDetail(event) {
          var data = $(event.target).attr('data');
          var url = jcl.env.contextPath + urls.deviceidUrl + data;
          url = url + getOpertimeStr();
          openWindow(url);
        }

        // 查看会话信息
        function querySessionidDetail(event) {
          var data = $(event.target).attr('data');
          var url = jcl.env.contextPath + urls.sessionidUrl + data;
          openWindow(url);
        }

        // 查看IP地址
        function queryIpaddrDetail(event) {
          var data = $(event.target).attr('data');
          var url = jcl.env.contextPath + urls.ipaddrUrl + data;
          url = url + getOpertimeStr();
          openWindow(url);
        }

        // 查看命中规则数
        function queryHitrulenumDetail(event) {
          // 获取交易流水号
          var data = $(event.target).parents('tr').find('.txncode').attr('data');
          var url = jcl.env.contextPath + urls.hitrulenumUrl + data;
          openWindow(url);
        }

        function openWindow(url) {
          window.open(
            url,
            'newwindow',
            'width='+(window.screen.availWidth-10) + ',height='+(window.screen.availHeight-50) + ',top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no')
        }

        function getOpertimeStr() {
          var formDom = txnGrid.qform.jqDom;
          var startTime = formDom.find('[name=startTime]').val();
          var endTime = formDom.find('[name=startTime]').val();
          var str = '&operate_time=' + startTime + '&end_time=' + endTime;
          return str;
        }

        // 绑定grid单元中的点击事件
        function bindEvent() {
          $('body').on('click', '.txncode', queryTxncodeDetail);
          $('body').on('click', '.userid', queryUseridDetail);
          $('body').on('click', '.deviceid', queryDeviceidDetail);
          $('body').on('click', '.sessionid', querySessionidDetail);
          $('body').on('click', '.ipaddr', queryIpaddrDetail);
          $('body').on('click', '.hitrulenum', queryHitrulenumDetail);
        }

        // 查询表头数据,渲染grid和自定义查询Form
        function refreshGrid(param) {
          jcl.postJSON('/tms35/tranmdl/get_trans_by_tabname', param, function(data){
            if (data.row && $.isArray(data.row)){
              var columns = [];
              var fdData = data.row;

              // 设置交易流水号等
              var columns = [
                {
                  name: '交易流水号',
                  dataIndex: 'TXNCODE',
                  width: 100,
                  render: function(data){
                    return '<a href="javascript:;" class="txncode" data = ' + data +'>'+ data + '</a>';
                  }
                },
                {
                  name: '监控交易',
                  dataIndex: 'TXNNAME',
                  width: 60
                },
                {
                  name: '用户标识',
                  dataIndex: 'USERID',
                  width: 60,
                  render: function(data){
                    return '<a href="javascript:;" class="userid" data = ' + data +'>'+ data + '</a>';
                  }
                },
                {
                  name: '交易时间',
                  dataIndex: 'TXNTIME',
                  width: 80,
                  render: 'datetime'
                },
                {
                  name: '交易状态',
                  dataIndex: 'TXNSTATUS',
                  width: 40,
                  render:'tms.common.txnstatus'
                },
                {
                  name: '处置方式',
                  dataIndex: 'DISPOSAL',
                  width: 40,
                  render:function(v){
                    var return_text = v;
                    $.each(disposal.row, function(i,row){
                      if(v != '' && v == row['DP_CODE'])
                      {
                        return_text = row['DP_NAME'];
                        return false;
                      }
                    });
                    return return_text;
                  }
                }]

              // 补充地理信息字段
              columns.push({
                name: '地理信息',
                dataIndex: 'LOCATION',
                width: 60
              })

              fdData.forEach(function (item) {
                if ($.inArray(item.FD_NAME.toLowerCase(), tableHead) === -1){
                  var column = {
                    name: item.NAME,
                    dataIndex: item.FD_NAME,
                    width: item.NAME.length*10
                  };

                  if (item.TYPE === 'code' && item.CODE !== null){
                    column.render = item.CODE;
                  }

                  if (item.TYPE === 'datetime'){
                    column.render = 'datetime';
                  }

                  if (item.FD_NAME.toUpperCase() === 'DEVICEID'){
                    column.render = function(data){
                      return '<a href="javascript:;" class="deviceid" data = ' + data +'>'+ data + '</a>';
                    }
                  }

                  if (item.FD_NAME.toUpperCase() === 'SESSIONID'){
                    column.render = function(data){
                      return '<a href="javascript:;" class="sessionid" data = ' + data +'>'+ data + '</a>';
                    }
                  }

                  if (item.FD_NAME.toUpperCase() === 'HITRULENUM'){
                    column.render = function(data){
                      return '<a href="javascript:;" class="hitrulenum" data = ' + data +'>'+ data + '</a>';
                    }
                  }

                  if (item.FD_NAME.toUpperCase() === 'IPADDR'){
                    column.render = function(data){
                      return '<a href="javascript:;" class="ipaddr" data = ' + data +'>'+ data + '</a>';
                    }
                  }

                  columns.push(column)
                }
              })

              gridOption.table.columns = columns;
              txnGrid.table.jqDom.remove();
              txnGrid.table = new jcl.ui.Table(gridOption.table, txnGrid.container);
              genDynamicCond(fdData);
              queryTxnByCond();
              bindEvent();
            }
          });
        }

        // 生成自定义表单查询条件
        function genDynamicCond(fdData) {
          var dynamicCondFormOpts = {
            items:[]
          };
          fdData.forEach(function (item) {
            if ($.inArray(item.FD_NAME.toLowerCase(), defaultFormCond) === -1){
              if (item.TYPE === 'code' && item.CODE !== null){
                dynamicCondFormOpts.items.push({
                  label: item.NAME,
                  name: item.FD_NAME.toLowerCase(),
                  type: 'selector',
                  labelTitle: true,
                  items:[{
                    text:'--请选择--',
                    value:''}
                  ],
                  ds:{
                    type: 'code',
                    category: item.CODE
                  }
                })
              } else {
                dynamicCondFormOpts.items.push({
                  label: item.NAME,
                  name: item.FD_NAME.toLowerCase(),
                  labelTitle: true
                })
              }
            }
          })

          var dynamicCondForm = $('#dynamic-cond-form');
          if (dynamicCondForm.length > 0) {
            dynamicCondForm.remove();
          }

          dynamicCondForm = new jcl.ui.Form(dynamicCondFormOpts);
          dynamicCondForm.jqDom.attr('id', 'dynamic-cond-form');
          $('#default-cond-form').find('.form-items').after(dynamicCondForm.jqDom);
          dynamicCondForm.jqDom.hide();
        }

        // 初始化grid Form表单元素
        function initFormItems(grid){
          var chancode = grid.qform.getItem('chancode').component;
          var txntype = grid.qform.getItem('txntype').component;

          // 配置交易渠道下拉框
          jcl.postJSON('/tms35/trandef/edit_prepare', 'tab_name=T', function(data){
            if (data && data.success === true){
              var channelList = data.channs;
              var items = [{text:'---请选择---', value:''}];
              channelList.forEach(function (item) {
                items.push({
                  text:item.CHANNELNAME,
                  value:item.CHANNELID
                })
              })
              chancode.reload(items);
              chancode.select(0);
            }
          });

          // 配置监控交易下拉树
          jcl.postJSON('/tms35/trandef/query', '', function(data){
            if (data && data.list){
              txnTypeData = data.list;
              txntype.reload(txnTypeData);
            }
          });

          // 设置交易时间，默认查询当前24个小时的交易
          var endTime = new Date().format("yyyy-MM-dd hh:mm:ss");
          var startTime = new Date(new Date().getTime() - 24 * 60 * 60000).format("yyyy-MM-dd hh:mm:ss");
          grid.qform.getItem('txntime').val([startTime, endTime]);
        }
      });
    </script>
</head>
<body>
</body>
</html>