<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欺诈案件调查表</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/validate.js"></script>
<style type="text/css">
.cond-textarea{width:500px;}
</style>
<script type="text/javascript">
var userid = jQuery.url.param('userid');
var claim_status = jQuery.url.param('claim_status');
$(document).ready(function(){
	var psBox = new jcl.ui.Box({
		title:'欺诈案件调查表'
	});
	
	var fdBox = new jcl.ui.Box({
		title:'付款申请单'
	});
	
	var ptBox = new jcl.ui.Box({
		title:'签呈'
	});
	
	var fkBox = new jcl.ui.Box({
		title:'风控部审批'
	});
	
	var yyBox = new jcl.ui.Box({
		title:'运营部审批'
	});
	
	var cwBox = new jcl.ui.Box({
		title:'财务部审批'
	});
	
	var jlBox = new jcl.ui.Box({
		title:'总经理审批'
	});
	
	// 风控部审批Form
	var fkForm = new jcl.ui.Form({
		display: true,
		layout: 'auto',
		items:[
			{label: '意见', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"}
		],
		btns : [
			{id: 'fd_sure', text: '同意'},
			{id: 'fd_cancel', text: '取消'},
			{id: 'fd_save', text: '驳回'}
		]
	}, fkBox.container);
	var yyForm = new jcl.ui.Form({
		display: true,
		layout: 'auto',
		items:[
			{label: '意见', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"}
		],
		btns : [
			{id: 'fd_sure', text: '同意'},
			{id: 'fd_cancel', text: '取消'},
			{id: 'fd_save', text: '驳回'}
		]
	}, yyBox.container);
	var cwForm = new jcl.ui.Form({
		display: true,
		layout: 'auto',
		items:[
			{label: '意见', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"}
		],
		btns : [
			{id: 'fd_sure', text: '同意'},
			{id: 'fd_cancel', text: '取消'},
			{id: 'fd_save', text: '驳回'}
		]
	}, cwBox.container);
	var jlForm = new jcl.ui.Form({
		display: true,
		layout: 'auto',
		items:[
			{label: '意见', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"}
		],
		btns : [
			{id: 'fd_sure', text: '同意'},
			{id: 'fd_cancel', text: '取消'},
			{id: 'fd_save', text: '驳回'}
		]
	}, jlBox.container);
	
	
	// 签呈form
	var ptForm = '<form class="form"><ul class="form-items" align="center">';
	ptForm+='<li class="form-item"><div align="center" style="width: 806px;"><font size="4"><strong>关于赔付农行客户XXX的签呈</strong></font></div></li>';
	ptForm+='<li class="form-item"><div align="left" style="width: 806px;">呈报部门：风险管理部风险管理处&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;附件X页</div></li>';
	ptForm+='<li class="form-item"><div align="left" style="width: 806px;"><hr /></div></li>';
	ptForm+='<li class="form-item"><div align="left" style="width: 806px;"><strong>内容：</strong></div></li>';
	ptForm+='<li class="form-item"><div align="left" style="width: 806px;">&nbsp;&nbsp;&nbsp;&nbsp;XX农行反馈客户戴纪生（顺手付登录账户名XXX）否认在XX通过顺手付进行快捷支付XX元，具体消费明细见附件。经过电话调查得知，客户疑似因手机木马中毒近期没有收到任何短信提醒导致资金被盗。按照快捷支付协议，我司需对客户进行先行赔付，赔付金额：XXX元。</div></li>';
	ptForm+='<li class="form-item"><div align="left" style="width: 806px;">&nbsp;&nbsp;&nbsp;&nbsp;目前该账户已被冻结，冻结金额XXX元，我司实际损失为XXX元。</div></li>';
	ptForm+='<li class="form-item"><div align="left" style="width: 806px;">&nbsp;&nbsp;&nbsp;&nbsp;请领导批示!</div></li>';
	ptForm+='<li class="form-item"><div align="right" style="width: 806px;">呈报人：李苛&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></li>';
	ptForm+='<li class="form-item"><div align="right" style="width: 806px;">复核人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></li>';
	ptForm+='<li class="form-item"><div align="right" style="width: 806px;">日&nbsp;&nbsp;期：2015.8.27</div></li>';
	ptForm+='</ul></form>';
	
	ptBox.jqDom.find('.box-content').append(ptForm);
	
	
	// 欺诈案件调查表Form
	var psForm = new jcl.ui.Form({
		display: true,
		layout: 'auto',
		items:[
			{label: '会员号', name: 'PS_INFO', type: 'span' ,value:userid},
			{label: '客户名称', name: 'PS_INFO', type: 'text' ,value:"ChiKASum"},
			{label: '证件号码', name: 'PS_INFO', type: 'text' ,value:"110101198506025090"},
			{label: '注册手机号', name: 'PS_INFO', type: 'text' ,value:"15123456789"},
			{label: '银行预留手机号', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '联系手机号', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '归属地', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '登陆IP及归属地', name: 'PS_INFO', type: 'text' ,value:"China-Guangdong-Shenzhen[121.15.143.202]"},
			{label: '注册IP及归属地', name: 'PS_INFO', type: 'text' ,value:"China-Guangdong-Shenzhen[121.15.143.202]"},
			{label: '登陆手机的终端ID', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '该ID登陆过的会员号', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '是否本人注册', name: 'PS_INFO', type: 'radio' ,value: '1', items:[
				{text: '是', value: '1'},
				{text: '否', value: '0'}
			]},
			{label: '注册时间', name: 'PS_INFO', type: 'date' ,value:""},
			{label: '绑定卡号及时间', name: 'PS_INFO', value:""},
			{label: '发卡行', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '账户状态', name: 'PS_INFO', type: 'select' ,value:""},
			{label: '冻结金额', name: 'PS_INFO', type: 'text' ,value:""},
			//{label: '赔付卡号', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '申请赔付金额', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '实际损失金额', name: 'PS_INFO', type: 'text' ,value:""},
			//{label: '备注', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"},
			{label: '被盗过程', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"},
			{label: '结案陈述', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"},
			{label: '后续处理建议', name: 'PS_INFO', type: 'textarea' ,value:"",cls:"cond-textarea"}
		]
	}, psBox.container);
	
	// 付款申请单Form
	var fdForm = new jcl.ui.Form({
		display: true,
		layout: 'auto',
		items:[
			{label: '申请部门', name: 'PS_INFO', type: 'span' ,value:'风控管理部'},
			{label: '经办人', name: 'PS_INFO', type: 'span' ,value:'李苛'},
			{label: '供应商全称', name: 'PS_INFO', type: 'text' },
			{label: '供应商编号', name: 'PS_INFO', type: 'text' },
			{label: '网络代码', name: 'PS_INFO', type: 'text' },
			{label: '供应商类别', name: 'PS_INFO', type: 'checkbox' ,items:[{text:'统购', value:'0'},{text:'非统购', value:'1'},{text:'一次性', value:'2'}]},
			{label: '供应商地址', name: 'PS_INFO', type: 'text' },
			{label: '开户银行', name: 'PS_INFO', type: 'text' },
			{label: '银行账户', name: 'PS_INFO', type: 'text'},
			{label: '项目', name: 'PS_INFO', type: 'text' },
			{label: '付款性质', name: 'PS_INFO', type: 'checkbox' ,items:[{text:'预付款',value:'0'},{text:'项目进度款',value:'1'},{text:'结算款',value:'2'},{text:'代付款',value:'3'}]},
			{label: '合同号码', name: 'PS_INFO', type: 'text' },
			{label: '单据及附件份数', name: 'PS_INFO', type: 'date' ,value:""},
			{label: '付款原因', name: 'PS_INFO', type: 'textarea',cls:"cond-textarea"},
			{label: '费用所属部门', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '已付款金额（不含本次）', name: 'PS_INFO', type: 'select' ,value:""},
			{label: '合同及应付款总额', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '本次付款金额', name: 'PS_INFO', type: 'text' ,value:""},
			{label: 'ERP凭证号', name: 'PS_INFO', type: 'text' ,value:""},
			{label: 'ERP付款号', name: 'PS_INFO', type: 'text' ,value:""},
			{label: '付款要求', name: 'PS_INFO', type: 'text' ,value:"尽快付款"},
			{label: 'FA录入', name: 'PS_INFO', type: 'text'},
			{label: 'FA审核', name: 'PS_INFO', type: 'text'},
			{label: 'GL/AP录入', name: 'PS_INFO', type: 'text'},
			{label: 'GL/AP审核', name: 'PS_INFO', type: 'text'},
			{label: '付款方式', name: 'PS_INFO', type: 'checkbox' ,items:[{text:'支票', value:'0'},{text:'电子付款', value:'1'},{text:'现金', value:'2'}]}
		],
		btns : [
			{id: 'fd_sure', text: '确定'},
			{id: 'fd_cancel', text: '#springMessage("view.tms.pub.btn.cancel")'},
			{id: 'fd_save', text: '保存'}
		]
	}, fdBox.container);
	
	
	displayBoxContent(psBox.jqDom.find('.box-title'), psBox.container);
	psBox.container.hide();
	
	displayBoxContent(fdBox.jqDom.find('.box-title'), fdBox.container);
	fdBox.container.hide();
	
	var isSure = false;
	$("#fd_sure").click(function(){
		jcl.msg.info('提交成功');
		window.returnValue = 1;
		window.close();
	});
	
	$("#fd_cancel").click(function(){
		if(isSure)
			window.returnValue = 1;
		window.close();
	});
	$("#fd_save").click(function(){
		if(isSure)
			window.returnValue = 1;
		window.close();
	});
	//隐藏/展开相应的层
	function displayBoxContent(trigger, content){
		trigger.on('click', function(){
			if(content.is(':hidden')){
				content.show();
			}else{
				content.hide();
			}
		})
	}

	// 打印预览
	if (!claim_status || claim_status == ''||claim_status == 'undefined'||claim_status == 'null') {
		psBox.jqDom.hide();
		fdBox.jqDom.hide();
		fkForm.showViewMode();
		yyForm.showViewMode();
		cwForm.showViewMode();
		jlForm.showViewMode();
		fkForm.jqDom.find('.btn').hide();
		yyForm.jqDom.find('.btn').hide();
		cwForm.jqDom.find('.btn').hide();
		jlForm.jqDom.find('.btn').hide();
	}
	// 新建状态
	if(claim_status=='01'){
		ptBox.jqDom.hide();
		fkBox.jqDom.hide();
		yyBox.jqDom.hide();
		cwBox.jqDom.hide();
		jlBox.jqDom.hide();
		psBox.container.show();
		fdBox.container.show();
	}
	// 风控部待审批状态
	if(claim_status=='02'){
		psForm.showViewMode();
		fdForm.showViewMode();
		yyBox.jqDom.hide();
		cwBox.jqDom.hide();
		jlBox.jqDom.hide();
		// 按钮隐藏
		fdForm.jqDom.find('.btn').hide();
	}
	// 运营部待审批状态
	if(claim_status=='03'){
		
	}
	// 财务部待审批状态
	if(claim_status=='04'){
		
	}
	// 总经理待审批状态
	if(claim_status=='05'){
		psForm.showViewMode();
		fdForm.showViewMode();
		//ptForm.showViewMode();
		fkForm.showViewMode();
		yyForm.showViewMode();
		cwForm.showViewMode();
		// 按钮隐藏
		fkForm.jqDom.find('.btn').hide();
		yyForm.jqDom.find('.btn').hide();
		cwForm.jqDom.find('.btn').hide();
		fdForm.jqDom.find('.btn').hide();
	}
	
});
function disableView(psForm, psActionGrid) {
	$("#ps_sure").hide();
	psForm.disable('FRAUD_TYPE', true);
	psForm.disable('PS_INFO', true);
	psActionGrid.table.unEditRow();
	psActionGrid.jqDom.find('[type=checkbox]').prop('disabled', true);
	psActionGrid.table.jqDom.off('click', 'div.row');
	psActionGrid.toolbar.disable($('#btn-tm-add'), true);
	psActionGrid.toolbar.disable($('#btn-tm-del'), true);
}
</script>
</head>
<body>
</body>
</html>