<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>引用点</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link href="$rc.contextPath/s/common/css/tree.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/tree.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl_tms_json.js"></script>

<script type="text/javascript" >
$(document).ready(function(){
	var txnId = jQuery.url.param("txnId");
	var statName= jQuery.url.param("statName");
	
	// 树的BOX
	var box = new jcl.ui.Box({
		id:'statboxid',
		title: '引用点查看'
	});
	box.addDom('stat-box');

	// 查询左侧树并显示
	jcl.postJSON('/tms/stat/refTree','txnId='+txnId+"&statName="+statName,function(data){
		var list = data.list;
		var icons = ['moduleIcon', 'nodeIcon','fnIcon','subfnIcon'];
		for(var i = 0 ; i < list.length; i++){
			list[i]['icon'] = icons[list[i]['ftype']];
		} 
		list.push({id:'-1', ftype:'-1', text: '引用点', icon:'rootIcon', onum: 0});
		var t = new jcl.ui.Tree(list, {
		id: 'tree-box',
		sm:{
			type: 'radio',
			name: 'statId'
		}
		});

	});
	
	$('#bankBtn').click(function(){
		jcl.go('/tms/stat/list?txnId='+txnId);
	});

});

</script>
</head>
<body>

<table id="stat-box">
	<!--<tr>
		<td>
			<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="bankBtn"/>
		</td>
	</tr>-->
	<tr>
		<td valign="top" id="leftTd1">
			<!--策略树-->
			<div id="tree-box" ></div>
		</td>
	</tr>
</table>

</body>
</html>
