<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms35.stat.cond.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/stat.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/dataAnalysic/userBehavior.js"></script>
</head>
<body>
<form name="dataForm" id="dataForm" method="post">	
<table>
	<tr>
		<td><span style="margin-left:60px">客户号：</span><input type="text" id="userId"/></td>
		<td>对比客户号：<input type="text" id="compareUserId"/><span style="color:red">*</span><span>多个对比客户号，请以分号;间隔</span></td>
	</tr>
	<tr>
		<td colspan='2'><div style="height:16px"></div></td>
	</tr>
	<tr>
		<td colspan='2'>交易维度：</td>
	</tr>
	<tr>
		<td colspan='2'>
		<div id="test"></div>
		</td>
	</tr>
	<tr　>
		<td style="display:none;" id="transProperty">
			<span style="margin-left:60px">交易属性：</span><select name="STAT_DATAFD" id="STAT_DATAFD" onchange="confirmCond(this);">
				　　	<option value="">请选择</option>
				　　</select>
		</td>
		<td style="display:none;" id="transStat">
			交易统计：<select name="STAT_FN" id="STAT_FN" onchange="confirmCond(this);">
					<option value="">请选择</option>
				　　</select>
		</td>
	<tr>
		<td colspan='2'><div style="height:16px"></div></td>
	</tr>
	<tr>
		<td colspan='2'><span>已选维度：</span></td>
	</tr>
	<tr>
		<td>
			<span style="margin-left:60px">
					<span ><textarea style="display:none" name="STAT_COND_VALUE" id="STAT_COND_VALUE" class="ttext"  cols="45" rows="6" ></textarea></span>
					<textarea name="STAT_COND_NAME" id="STAT_COND_NAME" class="ttext"  style="margin: 0px; width: 350px; height: 80px;"></textarea>
					<input type="button" value="查询" class="btn" id="updateBtn" onclick="queryUserHabit();"/>
					<input type="button" value="重置" class="btn" id="resetBtn" onclick="resetConds();"/>
			</span>
		</td>
	</tr>
</table>
<div id="main" style="height:400px"></div>
</form>
<script type="text/javascript" src="$rc.contextPath/s/report/echarts/echarts-all.js"></script>
<script type="text/javascript">
		
var txnFeatureData;// 交易属性下拉列表数据
var statFuncData;// 统计函数下拉列表数据
var operFuncData;// 关系函数下拉列表数据
var acFuncData; //动作函数
var transBranches;//交易树
var txnId;//交易标识
var all_dic;
$(document).ready(function(){
	var view_box = new jcl.ui.Box({
		title: '用户行为特征蛛网分析',
		id:'addStatViewBox'
	});
	
	view_box.addDom('dataForm');
	
	var cond_form = new jcl.ui.Form({
		id: 'cond_form_id',
		layout: 'auto',
		items:[
		   {id:"transBranches", name:'transBranches', label:'交易树', width:400,type:'treeselector',title:'--请选择--', items:transBranches,sm:{type:"row"},rtNode:false, multiple:false, cascadeCheck:false}
		   ]
	},'#test');
	
	
	// 交易树
	jcl.postJSON('/tms35/dataanalysic/transBranches', "", function(data){
		transBranches = new Array();
		$.each(data.row, function(i, row){
			transBranches.push({id:row['ID'],fid:row['FID'],ftype:row['FTYPE'],text:row['CODE_VALUE'] + '('+row['CODE_KEY']+ ')' ,code_key:row['CODE_KEY']});
		});
		cond_form.getItem('transBranches').component.reload(transBranches);
	});
	
	// 交易树选择事件
	cond_form.getItem("transBranches").component.tree.onSelectChange(function(){
		$('#STAT_FN').val('');
		$('#STAT_DATAFD').val('');
		$('#STAT_COND_VALUE').val('');
		$('#STAT_COND_NAME').val('');
		var t = cond_form.getItem("transBranches").component.tree;
		var list = t.select();
		if (list.length > 0) {
			var s_node = t.getNode(list[0]);
			getTxnId(s_node);
		}
	});
	
	//条件域输入事件
	$('#STAT_COND_VALUE').keyup(function(){
		searchCondName($(this).val());
	});
	//条件域输入事件
	$('#STAT_COND_NAME').keyup(function(){
		searchCondName($(this).val(),2);
	});
	
	// kind 1:英译汉 2:汉译英。默认是英译汉
	function searchCondName(cond_value,kind){
		if (cond_value == '' || cond_value == null) {
			$('#STAT_COND_NAME').val(cond_value);
			$('#STAT_COND_VALUE').val(cond_value);
			return;
		}
		
		var key = 'CODE_KEY';
		var val = 'CODE_VALUE';
		if(kind == 2){
			val = 'CODE_KEY';
			key = 'CODE_VALUE';
		}
					
		var condname = cond_value;
		$.each(all_dic, function(i, row){
			if (row['CODE_KEY'] ) {
				condname = condname.replace(new RegExp(row[key].replace('(','\\(').replace(')','\\)'), "g"), row[val]);
			}
		});
		
		if(kind == 2){
			$('#STAT_COND_VALUE').val(condname);
		}else{
			$('#STAT_COND_NAME').val(condname);	
		}
		
	}
	
});



                    
</script>
</body>
</html>