<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>增加风险策略</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl_tms_json.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/rule_strategy.js"></script>

<script type="text/javascript">
var strategyid = jQuery.url.param("id");

$(document).ready(function(){
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.stategy.rule.edit.action.add.title")',
		width:850,
		id:'addAcFormBox'
	});
	box.addDom('dataForm');

	$('#STRATEGYID').val(strategyid);
	
	// 获取规则和处置方式下拉列表
	jcl.postJSON('/tms/strategy/getDisposalAddData','strategyid='+strategyid,function(data){
		ruleList = data.ruleList;
		disposalList = data.disposalList;
	});

	// 取消按钮
	$("#cancelBtn").click(function(){
		jcl.go("/tms/strategy/editStrategy?id="+strategyid+"&tabname=tabAction");// 页面跳转
	});

	// 确定按钮
	$("#addBtn").click(function(){

		if(!checks()){
			return;
		}

		// 插入数据库
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/strategy/addRiskDisposal', params, function(data){
			alert('保存成功');
			jcl.go("/tms/strategy/editStrategy?id="+strategyid+"&tabname=tabAction");// 页面跳转
		});
	});
	
});


</script>

</head>
<body>

<div id="boxdiv" class="box"></div>

<form id="dataForm" name="dataForm">
	<ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.stategy.rule.edit.action.name")：</label> 
		<span class="list-box-item-content"><input name="RISKDISPOSALNAME" id="RISKDISPOSALNAME" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.stategy.rule.edit.action.type")：</label> 
		<span class="list-box-item-content"><select id="RISKDISPOSALTYPE" name="RISKDISPOSALTYPE">
				<option value="">--请选择--</option>
               </select><font color='red'>*</font></span>
	</li>
	
	<!--风险处置类型条件-->
	<div id='disposalconddivid'></div>

	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.stategy.rule.edit.action.disposal")：</label> 
		<span class="list-box-item-content"> <select id="DISPOSAL" name="DISPOSAL">
                     <option value="">--请选择--</option>
			</select>
		</span>
	</li>
   <li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.stategy.rule.edit.action.func")：</label> 
		<span class="list-box-item-content">
		<table border='1' id='functable' style='border-collapse: collapse;width:100%'>
			<tr style='font-weight: bold;'>
			<td width='30%'>#springMessage("view.tms.stategy.rule.edit.action.funcname")</td>
			<td width='50%'>#springMessage("view.tms.stategy.rule.edit.action.funcparam")</td>
			<td width='20%'>#springMessage("view.tms.stategy.rule.edit.action.oper")</td>
			</tr>
			<tr>
				<td>
					<select name="funcid0" id = "funcid0" onchange="funcChange('0')">
						 <option value="">--请选择--</option>
				   </select>
			     </td>
				<td><div id="param_0" style="display: inline"></div></td>
				<td align='left'><input type='button' value='add' class='btn' onclick='insertFuncRow(this)'/><input type='button' value='del' class='btn' onclick='dellAtom(this)'/></td>
				<input name="ACTIONJSON0" id="ACTIONJSON0" type="hidden"/>
			</tr>
		</table>
		</span>
	</li>


	</ul>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="addBtn"/>
		<input type="button" value="#springMessage("view.tms.pub.btn.cancel")" class="btn" id="cancelBtn"/>
	</div>
	<input name="STRATEGYID" id="STRATEGYID" type="hidden" class="itext" />
	<input name="DISPOSALCOUNT" id="DISPOSALCOUNT" type="hidden" class="itext" />
	<input name="FUNCCOUNT" id="FUNCCOUNT" type="hidden" class="itext" value='1'/>
</form>
</body>
</html>
