<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>策略管理</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link href="$rc.contextPath/s/common/css/tree.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/tree.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl_tms_json.js"></script>

<script type="text/javascript" >
var id = '';
var txnid = '';
$(document).ready(function(){
	var contextPath = '$rc.contextPath';
	// 树的BOX，节点登记：根节点ftype='-1'（无按钮）,交易节点ftype='1'(显示‘新建’按钮),策略节点ftype='2'（显示‘新建’，‘删除’，’上移‘，‘下移’按钮）
	var box = new jcl.ui.Box({
		id:'strategyboxid',
		title: '策略管理'
	});
	box.addDom('strategy-box');

	// 查询左侧树并显示,ftype:'-1'根节点，ftype:'1'交易节点，ftype:'2'策略节点，ftype:'3'叶子节点
	jcl.postJSON('/tms/strategy/tree','',function(data){
		var list = data.list;
		var icons = ['moduleIcon', 'nodeIcon','fnIcon','subfnIcon'];
		for(var i = 0 ; i < list.length; i++){
			list[i]['icon'] = icons[list[i]['ftype']];
		} 
		list.push({id:'-1', ftype:'-1', text: '策略管理', icon:'rootIcon', onum: 0});
		var t = new jcl.ui.Tree(list, {
		id: 'tree-box',
		sm:{
			type: 'radio',
			name: 'strategyId'
		}
		});

		// 策略选中事件，选中后可以修改策略
		$('#tree-box :radio').live('click',function(){
			// 获取选中节点的ID
			id = $(this).val();
			// 获取选中节点的类型
			var ftype = t.map[id].ftype;
			var fid = t.map[id].fid;
			txnid = t.map[id].txnid;

			if(ftype==-1){
				$('#tree-new-div').hide();// 新建按钮
				$('#tree-del-div').hide();// 删除按钮
				$('#tree-up-div').hide();// 上移按钮
				$('#tree-down-div').hide();// 下移按钮

				$('#ifram-box').hide();// 策略基本信息
			}
			if(ftype==1){
				$('#tree-new-div').show();// 新建按钮
				$('#tree-del-div').hide();// 删除按钮
				$('#tree-up-div').hide();// 上移按钮
				$('#tree-down-div').hide();// 下移按钮

				$('#ifram-box').hide();// 策略基本信息
				
			}
			if(ftype>=2){
				$('#tree-new-div').show();// 新建按钮
				$('#tree-del-div').show();// 删除按钮
				$('#tree-up-div').show();// 上移按钮
				$('#tree-down-div').show();// 下移按钮

				$('#straInfo-box').show();// 策略基本信息
				$('#cond-box').show();// 策略前置条件
				
				// 显示修改页面
				var ifram = document.getElementById("iframId");
				ifram.src=contextPath+"/tms/strategy/editStrategy?id="+id+"&fid="+fid;
				$('#ifram-box').show();
			}
		});

		// 新建策略
		$('#tree-new').click(function(){
			var ifram = document.getElementById("iframId");
			ifram.src=contextPath+"/tms/strategy/add?id="+id+"&txnid="+txnid;;
			$('#ifram-box').show();
		});
		
		// 删除策略
		$('#tree-del').click(function(){
			if(confirm('确认删除?')){
				jcl.postJSON('/tms/strategy/delStrategy', "id="+id, function(data){
					alert('#springMessage("view.tms.pub.del.success")');
					/*var checkedobj = $(':radio[name=strategyId]:checked');// 获取选中radio
					$(checkedobj).parent().parent().remove();// 删除节点
					// 右测策略信息为空
					var ifram = document.getElementById("iframId");
					ifram.src="";
					$('#ifram-box').hide();*/
					jcl.go('/tms/strategy/tree');
				});
			}else{
				return ;
			}
		});

		// 策略上移
		$('#tree-up').click(function(){
			var checkedobj = $(':radio[name=strategyId]:checked');// 获取选中radio

			var onthis = $(checkedobj).parent().parent();
			var getup = $(checkedobj).parent().parent().prev();

			var thisvalue = checkedobj.val();
			var upvalue = getup.find('span :radio[name=strategyId]').val()
			if(upvalue == null || upvalue.length == 0) return;
			jcl.postJSON('/tms/strategy/updownStrategy', "thisvalue="+thisvalue+"&upvalue="+upvalue, function(data){
					$(getup).before(onthis);// 节点上移
			});
		});

		// 策略下移
		$('#tree-down').click(function(){
			var checkedobj = $(':radio[name=strategyId]:checked');// 获取选中radio

			var onthis = $(checkedobj).parent().parent();
			var getup = $(checkedobj).parent().parent().next();

			var thisvalue = checkedobj.val();
			var downvalue = getup.find('span :radio[name=strategyId]').val()

			if(downvalue == null || downvalue.length == 0) return;
			jcl.postJSON('/tms/strategy/updownStrategy', "thisvalue="+thisvalue+"&upvalue="+downvalue, function(data){
					$(getup).after(onthis);// 节点下移
			});
			
		});
	});

});

</script>
</head>
<body>

<table id="strategy-box">
	<tr>
		<td width="225px" valign="top" style="border-right: 1px solid #B2B2B2;" id="leftTd1">
			<!--策略树-->
			<div id="tree-box" style="width:225px;"></div>
			<!--策略树按钮-->
			<div id='treediv'>
				<table><tr>
				<td id='tree-new-div'style='display:none;'><a href="javascript:;" class="operate" id="tree-new" >新建</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='tree-del-div'style='display:none;'><a href="javascript:;" class="operate" id="tree-del" >删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='tree-up-div'style='display:none;'><a href="javascript:;" class="operate" id="tree-up" >上移</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='tree-down-div'style='display:none;'><a href="javascript:;" class="operate" id="tree-down" >下移</a></td>
				</tr></table>
			</div>
		</td>

		<!--策略基本信息-->
		<td width='100%'>
			<div id="ifram-box" style="display:none;"style="width:100%;"> 
				<iframe frameborder="0" scrolling="auto" width="100%" height="500px" style="border: hidden" name="iframbox" id="iframId" ></iframe>
			</div>
		</td>
	</tr>
</table>

</body>
</html>
