<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>策略管理</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/tree.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl_tms_json.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>

<script type="text/javascript" >
var tabname = jQuery.url.param("tabname");// 需要选中的页签
var id = jQuery.url.param("id");// 策略主键
var fid = jQuery.url.param("fid");// 父策略主键
var condcount = 0;// 前置条件计数器
var condfun = new Array();;//标识符参数js对象组
var featureList;// 交易属性列表
var funcList;// 函数下拉列表

$(document).ready(function(){
	
	/*var box = new jcl.ui.Box({
		id:'editstrategyboxid',
		width:830,
		title: '修改策略'
	});
	box.addDom('strategy-box');
	
	alert($("div[id='editstrategyboxid'] > div > div > div > div").html());
	
	// 策略保存 $("tr:visible") 
 	$("div[id='editstrategyboxid'] > div > div > div > div").click(function(){
		alert(4);
		alert($('#strategy-box').hide());
	});
	*/
	// 通过策略主键查询策略基本信息
	jcl.postJSON('/tms/strategy/getOneStrategy','strategyid='+id,function(data){
		var strategyname = data.row.STRATEGYNAME;
		var strategyid = data.row.STRATEGYID;
		var strategydesc = data.row.STRATEGYDESC;
		var status = data.row.STATUS;
		var conddata = data.row.CONDDATA;
		var txnid = data.row.TXNID;
		
		// 初始化策略基本信息
		featureList = data.featureList;
		funcList = data.funcList;
		$('#strategyid').val(strategyid);
		$('#strategyname').val(strategyname);
		$('#strategydesc').val(strategydesc);
		$('#conddata').val(conddata);
		$('#txnid').val(txnid);
		$("input[@name=status][value=" + status + "]").attr("checked",true);

		condTabClick(conddata);// 初始化前置条件

		showTab(tabname);// 选中	TAB页
	});

	// 策略保存
	$('#addGroupSubmitButton').click(function(){
		// 校验
		var strategyname = $('#strategyname').val();
		if(strategyname == null || Trim(strategyname) == ''){
			alert('策略名称不能为空');
			$('#strategyname').focus();
			return;
		}else{
			
			if(!checkeLength(strategyname,64)){
				alert('策略名称不能超过64个字符');
				$('#strategyname').focus();
				return;
			}
			if(!checkeSpecialCode(strategyname)){
				alert('策略名称不能包含特殊字符');
				$('#strategyname').focus();
				return;
			}
			
		}
		// 提交
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/strategy/editStrategy', params, function(data){
			alert('保存成功');
			window.parent.location.href=window.parent.location.href;// 刷新页面
		});
	});
	
	// 前置条件TAB页
	$('#tabCond').click(function(){
		var conddata = $('#conddata').val();
		condTabClick(conddata);// 初始化前置条件
	});
	
	// 规则集TAB页
	$('#tabRule').click(function(){
		changeTab();
		$('#tabRule').attr("class","select");

		var rulegrid = $("#resultdiv").grid({
		title:'#springMessage("view.tms.stategy.rule.edit.rule.title")',
		columns:[
			{name:'#springMessage("view.tms.rule.add.rulename")', width: 20, dataIndex:'RULENAME'},
			{name:'#springMessage("view.tms.rule.add.desc")', width: 20, dataIndex:'RULEDESC'},
			{name:'#springMessage("view.tms.rule.add.score")', width: 10, dataIndex:'SCORE'},
			{name:'#springMessage("view.tms.rule.add.weight")', width: 10, dataIndex:'WEIGHT'},
			{name:'#springMessage("view.tms.rule.add.disposal")', width: 10, dataIndex:'DISPOSAL',render:'tms.rule.disposal'},
			{name:'#springMessage("view.tms.rule.add.status")', width: 10, dataIndex:'STATUS',render:'tms.mgr.rulestatus'}
		],
		ds:{
			url:"/tms/strategy/getStrategyRuleList",
			params:{strategyid:id},
			callback:function(list){
				for(var i = 0; i < list.length; i++){
					list[i]['WEIGHT'] += '%';
				}
			}
		},
		toolbar:[
			{id:"btn-rule-add", icon:"icon-tb-add", text:'#springMessage("view.tms.stategy.rule.edit.rule.btn.add")'},
			{id:"btn-rule-del", icon:"icon-tb-del", text:'#springMessage("view.tms.stategy.rule.edit.rule.btn.del")'},
			{id:"btn-rule-up", icon:"icon-tb-edit", text:'#springMessage("view.tms.stategy.rule.edit.rule.btn.up")'},
			{id:"btn-rule-down", icon:"icon-tb-edit", text:'#springMessage("view.tms.stategy.rule.edit.rule.btn.down")'}
		],
		pagebar: true,
		qform: {id:"qform", display:false}

		});
		rulegrid.goPage();
		$('#strategyAction').html('');

			// 增加规则集，弹出规则集选择页面
		$('#btn-rule-add').click(function(){
			jcl.go('/tms/strategy/getRuleList?txnid='+$('#txnid').val()+'&id='+id);
			//window.showModalDialog('strategy_rulelist',this,'dialogWidth=1300px;dialogHeight=400px;status=no;help=no');
		});


		// 删除规则按钮
		$('#btn-rule-del').click(function(){
			var rows = rulegrid.selectedRows();
			if(rows.length == 0){ 
				alert('#springMessage("view.tms.pub.checkbox.msg0")!');
				return;
			}
			
			if(confirm('#springMessage("view.tms.pub.del.confirm")?')){
				var strategyruleid = [];
				$.each(rows, function(i, row){
					strategyruleid.push('strategyruleid='+row['STRATEGYRULEID']);
				});
				var params = strategyruleid.join('&');
				params += "&strategyid="+id;// strategyid更新缓存参数
				jcl.postJSON('/tms/strategy/delStrategyRule', params, function(data){
					alert('#springMessage("view.tms.pub.del.success")!');
					$('#tabRule').click();
				});
			}else{
				return ;
			}
		});

		// 上移
		$('#btn-rule-up').click(function(){
			var rows = rulegrid.selectedRows();
			if(rows.length == 0){ 
				alert('#springMessage("view.tms.pub.checkbox.msg0")!');
				return;
			}
			if(rows.length>1){
				alert('#springMessage("view.tms.pub.checkbox.msg1")!');
				return;
			}

			var thisvalue = rows[0]['STRATEGYRULEID'];// 选中行的策略主键

			var upRowMap;// 选中行的上一行
			$('#'+rulegrid.opts.id).find('.row').each(function(i, row){
				var rowMap = rulegrid.page.list[i];
				if(thisvalue == rowMap['STRATEGYRULEID']){
					return false;
				}
				upRowMap = rowMap;
			});
			if(upRowMap == null || upRowMap.length == 0) return;// 如果没有上一行，不能上移
			var upvalue = upRowMap['STRATEGYRULEID'];// 选中行的上一行的策略主键
			var params = 'thisvalue='+thisvalue+'&upvalue='+upvalue+'&STRATEGYID='+$('#strategyid').val();
			jcl.postJSON('/tms/strategy/updownStrategyRule', params, function(data){
				$('#tabRule').click();
			});
		});

		// 下移
		$('#btn-rule-down').click(function(){
			var rows = rulegrid.selectedRows();
			if(rows.length == 0){ 
				alert('#springMessage("view.tms.pub.checkbox.msg0")!');
				return;
			}
			if(rows.length>1){
				alert('#springMessage("view.tms.pub.checkbox.msg1")!');
				return;
			}

			var thisvalue = rows[0]['STRATEGYRULEID'];// 选中行的策略主键

			var nextRowMap;// 选中行的下一行
			var ischeckedrow = false;
			$('#'+rulegrid.opts.id).find('.row').each(function(i, row){
				var rowMap = rulegrid.page.list[i];
				if(ischeckedrow){
					nextRowMap = rowMap;
					return false;
				}
				if(thisvalue == rowMap['STRATEGYRULEID']){
					ischeckedrow = true;
				}
				
			});
			if(nextRowMap == null || nextRowMap.length == 0) return;// 如果没有上一行，不能上移
			var nextvalue = nextRowMap['STRATEGYRULEID'];// 选中行的上一行的策略主键
			
			var params = 'thisvalue='+thisvalue+'&upvalue='+nextvalue+'&STRATEGYID='+$('#strategyid').val();
			jcl.postJSON('/tms/strategy/updownStrategyRule', params, function(data){
				$('#tabRule').click();
			});
		});

	});

	// 动作集TAB页
	$('#tabAction').click(function(){
		changeTab();
		$('#tabAction').attr("class","select");

		var actiongrid = $("#resultdiv").grid({
		title:'风险策略',
		
		columns:[
			{name:'#springMessage("view.tms.stategy.rule.edit.action.name")', width: 30, dataIndex:'RISKDISPOSALNAME'},
			{name:'#springMessage("view.tms.stategy.rule.edit.action.type")', width: 30, dataIndex:'RISKDISPOSALTYPE',render:'tms.strategy.disposaltype'},
			{name:'#springMessage("view.tms.stategy.rule.edit.action.disposal")', width: 20, dataIndex:'DISPOSAL',render:'tms.rule.disposal'}
		],
		ds:{
			url:"/tms/strategy/listRiskDisposal",
			params:{strategyid:id}
		},
		toolbar:[
			{id:"btn-action-add", icon:"icon-tb-add", text:'#springMessage("view.tms.stategy.rule.edit.action.btn.add")'},
			{id:"btn-action-edit", icon:"icon-tb-edit", text:'#springMessage("view.tms.stategy.rule.edit.action.btn.edit")'},
			{id:"btn-action-del", icon:"icon-tb-del", text:'#springMessage("view.tms.stategy.rule.edit.action.btn.del")'}
		],
		pagebar: true,
		qform: {id:"qform", display:false}

		});
		actiongrid.goPage();
		$('#strategyAction').html('');
		
		// 增加风险策略
		$('#btn-action-add').click(function(){
			jcl.go('/tms/strategy/addRiskDisposal?txnid='+$('#txnid').val()+'&id='+id+'&fid='+fid);
		});

		// 修改风险策略
		$('#btn-action-edit').click(function(){
			var rows = actiongrid.selectedRows();
			if(rows.length == 0){ 
				alert('#springMessage("view.tms.pub.checkbox.msg0")!');
				return;
			}
			if(rows.length>1){
				alert('#springMessage("view.tms.pub.checkbox.msg1")!');
				return;
			}
			jcl.go('/tms/strategy/editRiskDisposal?txnid='+$('#txnid').val()+'&id='+id+'&fid='+fid+"&riskdisposalid="+rows[0]['RISKDISPOSALID']);
		});

		// 删除风险策略
		$('#btn-action-del').click(function(){
			//TODO: 安全起见，应逐条删除
			var rows = actiongrid.selectedRows();
			if(rows.length == 0){ 
				alert('#springMessage("view.tms.pub.checkbox.msg0")!');
				return;
			}
			
			if(confirm('#springMessage("view.tms.pub.del.confirm")?')){
				
				var riskdisposalid = [];
				$.each(rows, function(i, row){
					riskdisposalid.push('riskdisposalid='+row['RISKDISPOSALID']);
				});
				var params = riskdisposalid.join('&');
				params += "&strategyid="+$('#strategyid').val();// STRATEGYID更新缓存参数
				
				jcl.postJSON('/tms/strategy/delStrategyDisposal', params, function(data){
					alert('#springMessage("view.tms.pub.del.success")!');
					$('#tabAction').click();
				});
			}else{
				return ;
			}
		});
	});

	function changeTab(){
		$(".select").attr("class","noselect");
	}

	function condTabClick(conddata){
		changeTab();
		$('#tabCond').attr("class","select");

		var htmlStr = "<table id='condTabId' border='1' style='border-collapse: collapse;width:100%'>";
		htmlStr+="<tr><td></td>";
		htmlStr+="<td colspan='4' align='left'>";
		htmlStr+="<input type='button' value='#springMessage('view.tms.stategy.rule.edit.cond.btn.add')' class='btn' onclick='insertCond();'/>";
		htmlStr+="<input type='button' value='#springMessage('view.tms.stategy.rule.edit.cond.btn.del')' class='btn' onclick='dellCond();'/>";
		htmlStr+="<input type='button' value='#springMessage('view.tms.stategy.rule.edit.cond.btn.save')' class='btn' onclick='saveCond();'/></td>";
		htmlStr+="</tr>";
		htmlStr+="<tr style='font-weight: bold;FONT-SIZE: 11px'>";
		htmlStr+="<td width='5%'><input type='checkbox' name='condcheckbox' onclick='selectAll(this);'/></td>";
		htmlStr+="<td width='10%'>#springMessage('view.tms.stategy.rule.edit.cond.list.relation')</td>";
		htmlStr+="<td width='25%'>#springMessage('view.tms.stategy.rule.edit.cond.list.feature')</td>";
		htmlStr+="<td width='60%' colspan='2'>#springMessage('view.tms.stategy.rule.edit.cond.list.func')</td>";
		htmlStr+="</tr>";		
		htmlStr+="</table>";
		$('#resultdiv').html(htmlStr);
		$('#strategyAction').html('');

		// 组装前置条件
		if(conddata != null && conddata.length > 0){
			var jsonObj = _json2Obj(conddata);
			var datarulemapmeta=jsonObj.root;
			$.each(datarulemapmeta, function(idx,item){
				var condrelation = item.ruleandoroperator;
				var mapfeature = item.mapfeature;
				var rulecondsid = item.RULEfeature.ID;
				var datarulestr = _json2str(item.RULEfeature);
				var _condcount = condcount;
				
				insertCond();// 插入一行

				$('#relation'+_condcount).val(condrelation);// 给关联关系赋值

				$('#txnfeatureid'+_condcount).val(mapfeature);// 给交易属性赋值

				txnFeatureChange(_condcount);// 初始化函数下拉列表
				$('#condmapoperator'+_condcount).val(rulecondsid);// 给函数赋值
				//根据初始化参数的个数(行数)new 公用插件对象，用户函数选择时，对函数参数的设置
				var temp = new jcl_tms.util.FuncInvoke({
					id:'strategycond'+_condcount
				});
				condfun[_condcount] = new Array(temp);
				condfun[_condcount][0].setJson(datarulestr);
				condfun[_condcount][0].show('secondrulecondsdiv'+_condcount,'edit');
					
			}); 
		}

	}

	//JSON字符串到Object
	function _json2Obj(_json) {
		if (_json == '') {
			//alert("函数初始化失败！");
			return "";
		}

		return eval("({root:"+_json+"})");
	}

	// JSON字符串转字符串
	function _json2str(o) {
	  var arr = [];
	  var fmt = function(s) {       
		   if (typeof s == 'object' && s != null) return _json2str(s);
		  return /^(string|number)$/.test(typeof s) ? "'" + s + "'" : s;
	  }
	  for (var i in o) arr.push("'" + i + "':" + fmt(o[i]));
	  return '{' + arr.join(',') + '}';
	}

});

	// 显示页签
	function showTab(tabname){
		if(tabname == null || tabname == ''){
			return;
		}
		// 页签选中
		$(".select").attr("class","noselect");
		$('#'+tabname).attr("class","select");
		// 触发页签事件
		$('#'+tabname).click();
	}

	// 保存策略前置条件
	function saveCond(){
		// 校验
		for(var i = 0; i<condcount; i++){
			
			// 校验交易属性
			var txnfeatureid = $('#txnfeatureid'+i).val();
			if(txnfeatureid == ''){
				alert("交易属性不能为空");
				$('#txnfeatureid'+i).focus();
				return;
			}
			// 校验函数
			var funcid = $('#condmapoperator'+i).val();
			if(funcid == ''){
				alert("函数不能为空");
				$('#condmapoperator'+i).focus();
				return;
			}
			// 校验函数的参数
			var msg  = condfun[i][0].save('secondrulecondsdiv'+i);
			if(msg != ''){
				alert('条件['+(i+1)+']条件域表达式值有误：'+msg);
				return;
			}
			$('#oneconddata'+i).val(condfun[i][0].getJson());
		}

		// 提交
		var params = $('#dataForm').serialize();
		var id = $('#strategyid').val();
		jcl.postJSON('/tms/strategy/editCond', params, function(data){
			alert('保存成功');
			jcl.go('/tms/strategy/editStrategy?id='+id);
		});
	}

	// 交易属性下拉列表选择事件
	function txnFeatureChange(thiscondcount){
		var featereid = $('#txnfeatureid'+thiscondcount).val();
		var txnObj = getTxnObjByTxnId(featereid);
		var singlePattern = txnObj['ISSINGLE']; // 是否单个行为模式
		var istxncount = txnObj['ISTXNCOUNT'];// 是否统计
		var datatype = txnObj['DATATYPE'];// 属性的数据类型

		var feature = 'strategy';

		/*if(singlePattern == 'YES'){
			feature += ',pattern';
		}
		if(istxncount == 'YES'){
			feature += ',store';
		}*/

		var o = document.getElementById("condmapoperator"+thiscondcount);// 函数对象
		o.length = 0;// 下拉数据清空
		o.add(new Option("--请选择--",""));
		document.getElementById("secondrulecondsdiv"+thiscondcount+'').innerHTML = "";// json清空

		// 函数下拉列表填值
		for(var i = 0; i<funcList.length; i++){
			if(feature.indexOf(funcList[i]['FEATURE']) >= 0 && funcList[i]['MODULE'] == 'rule' && (funcList[i]['FUNCTYPE'] == 'all' || funcList[i]['FUNCTYPE'].indexOf(datatype) >= 0)){
				o.add(new Option(funcList[i]['FUNCNAME'],funcList[i]['FUNCID']));
			}
		}

	}

	// 通过交易ID查询交易信息
	function getTxnObjByTxnId(feateretype){
		for(var i = 0; i < featureList.length; i++){
			if(feateretype == featureList[i]['TXNFEATUREID']){
				return featureList[i];	
			}
		}
		return null;
	}

	// 获取函数下拉列表
	function getFuncList(feature,functype,module){
		// funcList
		var result = new Array();
		for(var i = 0; i<funcList.length; i++){
			if(feature.indexOf(funcList[i]['FEATURE']) >= 0 && funcList[i]['MODULE'] == module && (funcList[i]['FUNCTYPE'] == 'all' || funcList[i]['FUNCTYPE'].indexOf(functype) >= 0)){
				result.push(funcList[i]);
			}
		}
		return result;
	}
	
	// 函数下拉列表选择事件
	function funcChange(thiscondcount){
		var id = $('#condmapoperator'+thiscondcount).val();
		var funcId = "funId="+id;
		jcl.postJSON('/tms/mgr/fun/getFunJson',funcId, function(data){
			condfun[thiscondcount][0].setJson(data.row);
			condfun[thiscondcount][0].show('secondrulecondsdiv'+thiscondcount);
		});
	}


	// 增加条件按钮
	function insertCond(){
		var len = $('#condTabId tr').length;// 当前行数

		var htmlStr="<tr valign='top'>";
		htmlStr+='<input type="hidden" name="oneconddata'+condcount+'"  id="oneconddata'+condcount+'"/>';
		htmlStr+="<td width='5%'><input type='checkbox' name='condcheckbox'"+condcount+"' id='condcheckbox'"+condcount+"'/></td>";
		htmlStr+="<td width='10%'>";
		// 第一行不显示关联关系下拉列表
		if(len == 2){
			htmlStr+='<input type="hidden" name="relation'+condcount+'"  id="relation'+condcount+'"/>';	
		}

		if(len > 2){
			htmlStr+='<select name="relation'+condcount+'" id="relation'+condcount+'" style="width: 80px"';
			htmlStr+=' >';
			htmlStr+="<option value='and'>and</option>";
			htmlStr+="<option value='or'>or</option>";	
			htmlStr+='</select>';
		}
		htmlStr+="</td>";

		htmlStr+="<td width='25%'><select name='txnfeatureid"+condcount+"' id='txnfeatureid"+condcount+"'";// 当前交易下的属性集
		htmlStr+=' onchange="txnFeatureChange(\''+condcount+'\')">';
		htmlStr+='<option value="" >--请选择--</option>';
		for(var i=0;i<featureList.length;i++){
			//htmlStr+='<option value="'+featureList[i]['TXNFEATUREID']+'">'+featureList[i]['PROPNAME']+'</option>';
			if(featureList[i]['G2']==-1){//如果是组或渠道，添加为optgroup属性，不能选择               
				htmlStr+='<optgroup label="'+featureList[i]['PROPNAME']+'">' + featureList[i]['PROPNAME'] + '</optgroup>';
			}else{
				htmlStr+='<option value="'+featureList[i]['TXNFEATUREID']+'">'+featureList[i]['PROPNAME'] + '</option>';
			} 
		}
		htmlStr+="</select></td>";
		htmlStr+="<td width='30%'>";
		htmlStr+='<select name="condmapoperator'+condcount+'" id="condmapoperator'+condcount+'" style="width: 90px"';
		htmlStr+=' onchange="funcChange(\''+condcount+'\')">';
		htmlStr+='<option value="" >--请选择--</option>';
		htmlStr+='</select>';
		htmlStr+="</td>";
		htmlStr+="<td width='30%'><div id='secondrulecondsdiv"+condcount+"'></div></td>";
		htmlStr+="</tr>";
		$('#condTabId').append(htmlStr);
		//根据初始化参数的个数(行数)new 公用插件对象，用户函数选择时，对函数参数的设置
		var temp = new jcl_tms.util.FuncInvoke({
			id:'strategycond'+condcount
		});

		condfun[condcount] = new Array(temp);
		
		condcount ++;

		$('#condcount').val(condcount);
	}

	// 删除条件
	function dellCond(){
		 var checked = $("input[type='checkbox'][name='condcheckbox']"); 
		 var count = 0;
		 $(checked).each(function(index){ 
			 if(index == 0){
				return true;// 如果是第一行标题行continue
			 }
			 if($(this).attr("checked")==true)  
			 { 
				$(this).parent().parent().remove(); 
				count ++;
			 } 
		 }); 
		 if(count == 0){
			alert('请选中一条或多条记录');
		 }
		var len = $('#condTabId tr').length;// 当前行数
		// 第一行不显示关联关系
		$('#condTabId tr').eq(2).children('td').eq(1).html('');	
	}


	// checkbox全选
	function selectAll(o){
		var a = o.name;
		if(o.checked){
			$("input[name='"+a+"']").attr("checked",true);
		}else{
			$("input[name='"+a+"']").attr("checked",false);
		}
	}

//显示-隐藏层
function displayDiv(formDiv){
	var form = document.getElementById(formDiv).style.display;
	
	if(form=="none"){
		document.getElementById(formDiv).style.display="";
		$("#strategytid").html("修改策略▲");
	}else{
		document.getElementById(formDiv).style.display="none";
		$("#strategytid").html("修改策略▼");
	}

}
</script>

<style type="text/css">
.select {
	font-family: "宋体";
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}
.noselect {
	cursor: pointer;
	color: #000000;
}

</style>
</head>
<body>

<form name="dataForm" id="dataForm" method="post">
	<div align="center">
	<div style="width: 98%" class="box-title-wrap-m" >
		<div class="box-title-wrap-l" >
			<div class="box-title-wrap-r" >
				<div class="box-title" id="strategytid" style="cursor: pointer;" onclick="displayDiv('strategy-box')" align="left">修改策略▼</div>
			</div>
		</div>	
	</div>
	<div id="strategy-box" style="width:98%;display:none;" class="box-qform-wrap-b" >
		<ul class="list-box">
			<li class="list-box-item">
				<label class="list-box-item-label" style="FONT-SIZE: 12px">#springMessage("view.tms.stategy.rule.strategyname")：</label> 
				<span class="list-box-item-content">
				<input name="strategyname" type="text" id="strategyname" class="itext" /><font color="red">*</font>
				</span>
			</li>
			<li class="list-box-item">
				<label class="list-box-item-label" style="FONT-SIZE: 12px">#springMessage("view.tms.stategy.rule.strategydesc")：</label> 
				<span class="list-box-item-content"><textarea name="strategydesc" id="strategydesc" class="ttext"  ></textarea></span>
			</li>
			<li class="list-box-item">
				<label class="list-box-item-label" style="FONT-SIZE: 12px">#springMessage("view.tms.stategy.rule.status")：</label> 
				<span class="list-box-item-content" style="FONT-SIZE: 12px">
					<input type="radio" name="status" value="1" checked="checked"/> 启用
					<input type="radio" name="status" value="0"  /> 停用
				</span>
			</li>
		</ul>
		<div class="button-box">
			<input type="button" value='#springMessage("view.tms.pub.btn.save")' class="btn" id="addGroupSubmitButton"/>
		</div>
	</div>
		<input name='strategyid' type='hidden' id='strategyid'/>
		<input name='conddata' type='hidden' id='conddata'/>
		<input name='condcount' type='hidden' id='condcount' value='0'/>
		<input name='txnid' type='hidden' id='txnid'/>
				
	<div id="cond-box" style="width:98%;">
		<table id="conftab" width="100%" >
			<tr>
				<td>
				<table width="100%" border="1" style="border-collapse: collapse;" align="center">
					<tr id="models">
						<td width="10%" valign="top" class="select" name="TAB" id="tabCond" style="FONT-SIZE: 12px">#springMessage("view.tms.stategy.rule.edit.cond.title")</td>
						<td width="10%" valign="top" class="noselect" name="TAB" id="tabRule" style="FONT-SIZE: 12px">#springMessage("view.tms.stategy.rule.edit.rule.title")</td>
						<td width="10%" valign="top" class="noselect" name="TAB" id="tabAction" style="FONT-SIZE: 12px">#springMessage("view.tms.stategy.rule.edit.action.title")</td>
						<td width="70%"></td>
					</tr>	
				</table>
				<div id="resultdiv" align="left"></div>
				<div id="strategyAction" align="left"></div>
				</td>
			</tr>
		</table>
	</div>
	</div>
</form>

</body>
</html>
