<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新建策略</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>

<script type="text/javascript" >
var id = jQuery.url.param("id");
var txnid = jQuery.url.param("txnid");
$(document).ready(function(){
	var box = new jcl.ui.Box({
		id:'addstrategyboxid',
		title: '新建策略'
	});
	box.addDom('dataForm');
	$('#txnid').val(txnid);
	$('#parentid').val(id);
	// 保存策略
	$('#addBtn').click(function(){
		var strategyname = $('#strategyname').val();
		if(strategyname == null || Trim(strategyname) == ''){
			alert('策略名称不能为空');
			$('#strategyname').focus();
			return;
		}else{
			
			if(!checkeLength(strategyname,64)){
				alert('策略名称不能超过64个字符');
				$('#strategyname').focus();
				return;
			}
			if(!checkeSpecialCode(strategyname)){
				alert('策略名称不能包含特殊字符');
				$('#strategyname').focus();
				return;
			}
			
		}

		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/strategy/add', params, function(data){
			alert('保存成功');
			//jcl.go('/tms/strategy/tree');
			window.parent.location.href=window.parent.location.href;
		});
	});

});
</script>

</head>
<body>

<form name="dataForm" id="dataForm" method="post">
	<ul class="list-box">
		<li class="list-box-item">
			<label class="list-box-item-label" >#springMessage("view.tms.stategy.rule.strategyname")：</label> 
			<span class="list-box-item-content">
			<input name="strategyname" type="text" id="strategyname" class="itext" /><font color="red">*</font>
			</span>
		</li>
		<li class="list-box-item">
			<label class="list-box-item-label" >#springMessage("view.tms.stategy.rule.strategydesc")：</label> 
			<span class="list-box-item-content"><textarea name="strategydesc" id="strategydesc" class="ttext"  ></textarea></span>
		</li>
		<li class="list-box-item">
			<label class="list-box-item-label" >#springMessage("view.tms.stategy.rule.status")：</label> 
			<span class="list-box-item-content">
				<input type="radio" name="status" value="1"/> 启用
				<input type="radio" name="status" value="0" checked="checked"/> 停用
			</span>
		</li>
	</ul>
	<input name='parentid' type='hidden' id='parentid'/>
	<input name='txnid' type='hidden' id='txnid'/>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="addBtn"/>
	</div>
</form>

</body>
</html>
