<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms35.stat.cond.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/stat.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">
		
	var txnFeatureData;// 交易属性下拉列表数据
	var statFuncData;// 统计函数下拉列表数据
	var operFuncData;// 关系函数下拉列表数据
	
$(document).ready(function(){
	
	var type = jQuery.url.param("type");
	var stat_id = jQuery.url.param("stat_id");
	var stat_cond = jQuery.url.param("stat_cond");
	var txnId = jQuery.url.param("txnId");
	
	$('#STAT_ID').val(stat_id);
	$('#TXNID').val(txnId);
	$('#STAT_COND_VALUE').attr('value',stat_cond);
	
	var view_box = new jcl.ui.Box({
		title: '条件显示',
		id:'addStatViewBox'
	});
	
	view_box.addDom('dataForm');
	/*	
	var select_box = new jcl.ui.Box({
		title: '条件选择',
		id:'addStatSelectBox'
	});
	
	select_box.addDom('selectTab');
	
	// 初始化页面数据
	jcl.postJSON('/tms/stat/getCond', "statId="+stat_id, function(data){
		$('#TAB_DESC').html(data.row.TAB_DESC);
		$('#STAT_NAME').html(data.row.STAT_NAME);
		$('#STAT_DESC').html(data.row.STAT_DESC);
		$('#STAT_PARAM').html(data.row.STAT_PARAM_CODENAME);
		$('#STAT_FN_NAME').html(data.row.FUNC_NAME);
	});
	*/
	// 保存
	$("#updateBtn").click(function(){
		if(type == '0'){
			var params = $('#dataForm').serialize();
			//var params = "STAT_ID="+$('#STAT_ID').val()+"&STAT_COND_VALUE="+$('#STAT_COND_VALUE').val();
			//alert(params);
			jcl.postJSON('/tms/stat/updateCond', params, function(data){
				jcl.go('/tms/stat/list?txnId='+txnId);
				window.close();
			});
		}else{
			var vwin = window.dialogArguments; //得到window参数
		    var doc = vwin.document.getElementById("STAT_COND"); //获得TextBox的值

			$(doc).val($('#STAT_COND_VALUE').val());
			
			window.close();
		}
		
	});

	// 统计目标
	jcl.postJSON('/tms/stat/code', 'category_id=tms.pub.txnFeature&args='+txnId, function(data){
		txnFeatureData = data;
		$.each(data.row, function(i,row){
			$("select[name=STAT_DATAFD]").append("<option value='" + row['CODE_KEY'] + "'>" + row['CODE_VALUE'] + "</option>");
		}); 
	});
	
	// 统计函数
	jcl.postJSON('/tms/stat/statfunc', "", function(data){
		statFuncData = data;
		$.each(data.row, function(i,row){
			$("select[name=STAT_FN]").append("<option value='" + row['CODE_KEY'] + "'>" + row['CODE_VALUE'] + "</option>");
		}); 
	});

	// 关系函数
	jcl.postJSON('/tms/stat/code', "category_id=tms.pub.func&args='3'", function(data){
		operFuncData = data;
		$.each(data.row, function(i,row){
			$("select[name=OPER_FUNC]").append("<option value='" + row['CODE_KEY'] + "'>" + row['CODE_VALUE'] + "</option>");
		}); 
	});

	setTimeout(function() {
		searchCondName(stat_cond);
	},500);
	
});

function confirmCond(_this){
	for (var i = 0; i < _this.length; i++) {
		var stat_cond_value = $(_this).val();
		
		if (_this[i].selected == true && stat_cond_value != '') {
			$('#STAT_COND_VALUE').focus();
			$('#STAT_COND_VALUE').val($('#STAT_COND_VALUE').val() + " " + $(_this[i]).val());
			$('#STAT_COND_NAME').val($('#STAT_COND_NAME').val() + " " + $(_this[i]).text());
		}
	}
}
function searchCondName(condvalue){
	if(condvalue == '') return;
	var condname = condvalue;
	$.each(txnFeatureData.row, function(i,row){
		condname = condname.replace(new RegExp(row['CODE_KEY'],"g"),row['CODE_VALUE']);
	}); 
	$.each(statFuncData.row, function(i,row){
		condname = condname.replace(new RegExp(row['CODE_KEY'],"g"),row['CODE_VALUE']);
	}); 
	$.each(operFuncData.row, function(i,row){
		condname = condname.replace(new RegExp(row['CODE_KEY'],"g"),row['CODE_VALUE']);
	}); 
	$('#STAT_COND_NAME').attr('value',condname);
}

</script>

</head>
<body>
<!--
<table id="selectTab">
	<tr>
	<td>
		<ul class="list-box">
			<li class="list-box-item">
				<label class="list-box-item-label">#springMessage("view.tms35.stat.txnName")：</label> 
				<span class="list-box-item-content"><font  id="TAB_DESC"></font>
				</span>
			</li>
		</ul>
	</td>
	<td>
		<ul class="list-box">
			<li class="list-box-item">
				<label class="list-box-item-label">#springMessage("view.tms35.stat.statName")：</label> 
				<span class="list-box-item-content"><font  id="STAT_NAME"></font>
				</span>
			</li>
		</ul>
	</td>
	<td colspan="2">
		<ul class="list-box">
			<li class="list-box-item">
				<label class="list-box-item-label">#springMessage("view.tms35.stat.statDesc")：</label> 
				<span class="list-box-item-content"><font  id="STAT_DESC"></font>
				</span>
			</li>
		</ul>
	</td>
	</tr>
	<tr>
	<td>
		<ul class="list-box">
			<li class="list-box-item">
				<label class="list-box-item-label">#springMessage("view.tms35.stat.statObject")：</label> 
				<span class="list-box-item-content"><font  id="STAT_PARAM"></font>
				</span>
			</li>
		</ul>
	</td>
	<td>
		<ul class="list-box">
			<li class="list-box-item">
				<label class="list-box-item-label">#springMessage("view.tms35.stat.statFun")：</label> 
				<span class="list-box-item-content"><font  id="STAT_FN_NAME"></font>
				</span>
			</li>
		</ul>
	</td>
	</tr>
	
	<tr>
		<td colspan="3">
			<select name="STAT_DATAFD" id="STAT_DATAFD" onchange="confirmCond(this);"><option value="">交易属性</option></select>
			<select name="STAT_FN" id="STAT_FN" onchange="confirmCond(this);"><option value="">统计函数</option></select>
			<select name="DATE_FUNC" id="DATE_FUNC" onchange="confirmCond(this);"><option value="">日期函数</option></select>
			<select name="STR_FUNC" id="STR_FUNC" onchange="confirmCond(this);"><option value="">字符串函数</option></select>
			<select name="OPER_FUNC" id="OPER_FUNC" onchange="confirmCond(this);"><option value="">关系</option></select>
			<select name="OPER_FUNC" id="OPER_FUNC" onchange="confirmCond(this);"><option value="">名单</option></select>
		</td>
	</tr>
</table>-->


<form name="dataForm" id="dataForm" method="post">	
<table>
	<input type="hidden" id="STAT_ID" name="STAT_ID"/>
	<input type="hidden" id="TXNID" name="TXNID"/>
	<tr>
		<td colspan="3">
			<select name="STAT_DATAFD" id="STAT_DATAFD" onchange="confirmCond(this);"><option value="">交易属性</option></select>
			<select name="STAT_FN" id="STAT_FN" onchange="confirmCond(this);"><option value="">统计函数</option></select>
			<select name="DATE_FUNC" id="DATE_FUNC" onchange="confirmCond(this);"><option value="">日期函数</option></select>
			<select name="STR_FUNC" id="STR_FUNC" onchange="confirmCond(this);"><option value="">字符串函数</option></select>
			<select name="OPER_FUNC" id="OPER_FUNC" onchange="confirmCond(this);"><option value="">关系</option></select>
			<select name="ROSTER_FUNC" id="ROSTER_FUNC" onchange="confirmCond(this);"><option value="">名单</option></select>
		</td>
	</tr>
	<tr>
		<td>
			<ul class="list-box">
				<li class="list-box-item">
					<span class="list-box-item-content"><textarea name="STAT_COND_NAME" id="STAT_COND_NAME" class="ttext" cols="45" rows="6" readonly="true"></textarea>
					</span>
				</li>
				<li class="list-box-item">
					<span class="list-box-item-content"><textarea name="STAT_COND_VALUE" id="STAT_COND_VALUE" class="ttext" onkeyup="searchCondName(this.value);" cols="45" rows="6"></textarea>
					<input type="button" value="#springMessage("view.tms.pub.btn.sure")" class="btn" id="updateBtn"/>
					</span>
				</li>
			</ul>
		</td>
	</tr>
</table>
</form>	

</body>
</html>