<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>monitor_center</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="$rc.contextPath/s/tms/css/Style.css" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionCharts/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionMaps/FusionMaps.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionWidgets/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/PowerCharts/FusionCharts.js"></script>
<script type="text/javascript">
var dataAlertModel;
var dataRuleModel;
var dataTxnModel;
var dataRiskModel;

//告警时间变量
var alertstartTime;//日期
var alertnowTime;//long型时间
var alertendTime;//long型时间
//规则时间变量
var rulestartTime;//日期
var rulenowTime;//long型时间
var ruleendTime;//long型时间
//交易时间变量
var txnstartTime;//日期
var txnnowTime;//long型时间
var txnendTime;//long型时间
//风险时间变量
var riskstartTime;//日期
var risknowTime;//long型时间
var riskendTime;//long型时间


var chartLoaded = false;
var alermChartData;
var dataXmlArr = new Array();
var chart;

var ruleGrid ;

$(document).ready(function(){
	//*****变量值  
	var rulefrm = document.getElementById("scope_0");
	var rulevalue = rulefrm.options[rulefrm.selectedIndex].value; 
	
	
	var txnfrm = document.getElementById("scope_1");
	var txnvalue = txnfrm.options[txnfrm.selectedIndex].value;
	
	var riskfrm = document.getElementById("scope_2");
	var riskvalue = riskfrm.options[riskfrm.selectedIndex].value;
	
	//告警表格数据
	var alertGrid = $("#boxdiv_alarm").grid({
		title: '#springMessage("view.tms.monitor.center.alertnumst")',
		//width:1150,height:50,checkboxEnable:false,
		width:780,
		height:50,
		checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.alertnum")', width: 40, dataIndex:'NUMALERTS'},
			{name:'#springMessage("view.tms.monitor.center.salertnum")', width: 30, dataIndex:'NUMALERTSERIOUS'},
			{name:'#springMessage("view.tms.monitor.center.halertnum")', width: 15, dataIndex:'NUMALERTHIGN'},
			{name:'#springMessage("view.tms.monitor.center.malertnum")', width: 15, dataIndex:'NUMALERTMID'},
			{name:'#springMessage("view.tms.monitor.center.lalertnum")', width: 15, dataIndex:'NUMALERTLOW'},
			{name:'#springMessage("view.tms.monitor.center.alertsucnum")', width: 45, dataIndex:'NUMSUCCESS'},
			{name:'#springMessage("view.tms.monitor.center.salertsucnum")', width: 65, dataIndex:'NUMSUCCESSSERIOUS'},
			{name:'#springMessage("view.tms.monitor.center.halertsucnum")', width: 55, dataIndex:'NUMSUCCESSHIGN'},
			{name:'#springMessage("view.tms.monitor.center.malertsucnum")', width: 55, dataIndex:'NUMSUCCESSMID'},
			{name:'#springMessage("view.tms.monitor.center.lalertsucnum")', width: 55, dataIndex:'NUMSUCCESSLOW'},
			{name:'#springMessage("view.tms.monitor.center.trafficrate")', width: 45, dataIndex:'ALERTRATE'},
			{name:'#springMessage("view.tms.monitor.center.alarmsuccrate")', width: 45, dataIndex:'SUCCESSRATE'},
			{name:'#springMessage("view.tms.monitor.center.trafficnum")', width: 30, dataIndex:'NUMTXNS'}
		],
		ds:{
		},
		pagebar: false,
		qform: {id:"qform", display:false}
		
	});
	//alertGrid.goPage();
	
	//规则运行监控 
	ruleGrid = $("#boxdiv_rule").grid({
		title: '#springMessage("view.tms.monitor.center.rulenumst")',
		width:780,
		height:150,
		checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.rulename")', width: 60, dataIndex:'RULENAME'},
			{name:'所属交易', width: 60, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.monitor.center.ruletrigger")', width: 30, dataIndex:'NUMTRIGS'},
			{name:'#springMessage("view.tms.monitor.center.rulehit")', width: 30, dataIndex:'NUMHITS'},
			{name:'#springMessage("view.tms.monitor.center.rulehitrate")', width: 30, dataIndex:'RULERATE'},
			{name:'#springMessage("view.tms.monitor.center.ruleresponsetime")', width: 50, dataIndex:'AVGEXECTIMES'}
		],
		ds:{
		},
		//toolbar:[{id:"btn-rate", icon:"icon-tb-edit", text:'查看命中率'}],
		// 分页条没有用，去掉 maxiao 2011-8-30
		pagebar: false,
		qform: {id:"qform", display:false}

	});
	$("#btn-rate").click(function(){
		var rows = ruleGrid.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		if(rows.length>1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")');
			return;
		}
		var ruleId = [];
		$.each(rows, function(i,row){
			ruleId.push('ruleId=' + row['RULEID']);
		});
		var params = 'frm='+rulevalue+'&'+ruleId[0];            
		//规则事件监控
		jcl.postJSON('/tms/monitor/grid/all/onerule', params, function(data){
			dataRuleModel = data;
			//规则命中率
			rulehitrate();
			//规则运行监控
			//changerule();
		});
	});
	//ruleGrid.goPage();
	
	//交易事件监控
	var txnGrid = $("#boxdiv_traffic").grid({
		title: '#springMessage("view.tms.monitor.center.trafficnumst")',
		width:1000,height:200,
		checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.trafficname")', width: 70, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.monitor.center.trafficnum")', width: 30, dataIndex:'NUMTXNS'},
			{name:'#springMessage("view.tms.monitor.center.trafficmintime")', width: 40, dataIndex:'MINEXECTIMES'},
			{name:'#springMessage("view.tms.monitor.center.trafficmaxtime")', width: 40, dataIndex:'MAXEXECTIMES'},
			{name:'#springMessage("view.tms.monitor.center.trafficavgtime")', width: 40, dataIndex:'AVGEXECTIMES'}
		],
		ds:{
		},
		// 分页条没有用，去掉 maxiao 2011-8-30
		pagebar: false,
		qform: {id:"qform", display:false}

	});
	//txnGrid.goPage();
	
	var riskGrid = $("#boxdiv_risk").grid({
		title: '#springMessage("view.tms.monitor.center.risknumst")',
		width:230,height:190,checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.st")', width: 40, dataIndex:'STNAME'},
			{name:'#springMessage("view.tms.monitor.center.statistics")', width: 50, dataIndex:'STVALUE'}
		],
		ds:{
		},
		pagebar: false,
		qform: {id:"qform", display:false}

	});
	//riskGrid.goPage();
	
	//***********************
	
	//告警事件监控
	jcl.postJSON('/tms/monitor/grid/all/alert', "", function(data){
		dataAlertModel = data;
		alertGrid.renderPage(data.page);
		changeAlarmNum();
		changeAlarm();
	});
	
	//规则事件监控
	jcl.postJSON('/tms/monitor/grid/all/rule?frm='+rulevalue, "", function(data){
		dataRuleModel = data;
		ruleGrid.renderPage(data.page);
		//规则命中率
		rulehitrate();
		//规则运行监控
		//changerule();
	});
	
	//交易事件监控
	jcl.postJSON('/tms/monitor/grid/all/txn?frm='+txnvalue+"&order=NUMTXNS", "", function(data){
		dataTxnModel = data;
		//alert(data.page);
		txnGrid.renderPage(data.page);
		//交易运行监控
		changetraffic();
	});
	
	//风险统计数据
	jcl.postJSON('/tms/monitor/grid/all/rmriskst?frm='+riskvalue, "", function(data){
		dataRiskModel = data;
		riskGrid.renderPage(data.page);
		//风险统计数
		strisk();
	});
	
	// 取系统时间，之后进行后续的工作
	jcl.postJSON('/tms/monitor/alarm/time','',function(data){
		var currentTime = data.row.currentTime;//yyyy-MM-dd HH:mm:ss
		// 根据服务器时间算出开始时间
		alertstartTime = new Date(currentTime.substr(0,4),currentTime.substr(5,2)-1,currentTime.substr(8,2),currentTime.substr(11,2),currentTime.substr(14,2),currentTime.substr(17,2));
		if(alertstartTime=='NaN')alertstartTime = new Date();
		alertnowTime = alertstartTime.getTime();
		var refresh  = document.getElementById("alertRefresh"); 
		var seconds = refresh.options[refresh.selectedIndex].value;
		if(seconds == undefined){
			seconds = "1";
		}
        alertendTime=alertstartTime.getTime()+Number(seconds)*1000;
        
        
		//规则时间变量
		rulestartTime = alertstartTime;
		rulenowTime = alertnowTime;
		ruleendTime = alertendTime;
		//交易时间变量
		txnstartTime = alertstartTime;
		txnnowTime = alertnowTime;
		txnendTime = alertendTime;
		//风险时间变量
		riskstartTime = alertstartTime;
		risknowTime = alertnowTime;
		riskendTime = alertendTime;
        
    	// 定义告警事件计时触发器
		getAlertTime();
		// 定义规则时间计时触发器
		getRuleTime();
		// 定义交易时间计时触发器
		getTxnTime();
		// 定义风险时间计时触发器
		getRiskTime();
		
	});
	
	//$(".box-qform-wrap-b").width($("#titleTd").width());
	//$(".pagebar").width($("#titleTd").width());
});

//告警事件监控
//告警事件监控表格
function alarmgrid(){
	
}
//告警数实时监控柱状图
function alarmrmmonitor(){
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/StackedColumn2D.swf", "ChartId","450", "270", "0", "0");
	chart.setDataXML(dataAlertModel.row[0]);
	chart.render("chartdiv_rmalert");
}
//交易告警率仪表盘/告警成功率仪表盘
function changeAlarm(){
	var datatxn;
	var dataSuc;
	//var frm = document.getElementById("alarm");
	//var radioValue = frm.options[frm.selectedIndex].value;
	var radioValue = "NUMALERTS_NUMSUCCESS";
	if(radioValue=="NUMALERTS_NUMSUCCESS"){
		datatxn = dataAlertModel.row[3];
		dataSuc = dataAlertModel.row[4];
	}else if(radioValue=="NUMALERTSERIOUS_NUMSUCCESSSERIOUS"){
		datatxn = dataAlertModel.row[5];
		dataSuc = dataAlertModel.row[6];
	}else if(radioValue=="NUMALERTHIGN_NUMSUCCESSHIGN"){
		datatxn = dataAlertModel.row[7];
		dataSuc = dataAlertModel.row[8];
	}else if(radioValue=="NUMALERTMID_NUMSUCCESSMID"){
		datatxn = dataAlertModel.row[9];
		dataSuc = dataAlertModel.row[10];
	}else if(radioValue=="NUMALERTLOW_NUMSUCCESSLOW"){
		datatxn = dataAlertModel.row[11];
		dataSuc = dataAlertModel.row[12];
	}
	//交易告警率仪表盘
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/AngularGauge.swf", "ChartId","240", "150", "0", "0");
	chart.setDataXML(datatxn);
	chart.render("chartdiv_rmtraffic");
	//告警成功率仪表盘
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/AngularGauge.swf", "ChartId","240", "150", "0", "0");
	chart.setDataXML(dataSuc);
	chart.render("chartdiv_rmalertsuc");
}

//告警数/告警成功趋势图
function changeAlarmNum(){
	var alertData;
	var radioValue = "";
	var frm = document.getElementsByName("alarmnum");
	for(var i=0;i<frm.length;i++)
	{
    	if(frm[i].checked==true)
		{
        	radioValue= frm[i].value;
            break;
        }
    }
    if(radioValue=="alarmnum"){
    	alertData = dataAlertModel.row[1];
    }else if (radioValue=="alarmsucnum"){
    	alertData = dataAlertModel.row[2];
    }
	
	// 为处理返回值的串做准备 maxiao 2011-9-14
	chartLoaded = true;
	alermChartData = alertData;
	
	// 通过更新方法渲染，加入选择类型的区分
	updateChart();
	//chart = new FusionCharts("$rc.contextPath/s/tms/chart/ScrollLine2D.swf", "ChartAlarmNum","450", "220", "0", "0");
	//chart.setDataXML(alertData);
	//chart.render("chartdiv_rmtrend");
	
	$('#alarmlist').click(function(){
		jcl.go('/tms/monitor/alarm/get_alarmlist');
	});
	$('#ruleTrafficList').click(function(){
		jcl.go('/tms/monitor/alarm/get_ruletrafficlist');
	});
	$('#transactionTrafficList').click(function(){
		jcl.go('/tms/monitor/alarm/get_transactiontrafficlist');
	});
}
		
//规则运行监控表格
function rulegrid(){
	var frm = document.getElementById("scope_0");
	var value = frm.options[frm.selectedIndex].value; 
	
}
//规则命中率
function rulehitrate(){
	var frm = document.getElementById("scope_0");
	var value = frm.options[frm.selectedIndex].value; 
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/AngularGauge.swf", "ChartId","240", "150", "0", "0");
	chart.setDataXML(dataRuleModel.row[0]);
	//chart.setDataXML(dataRuleModel.row[1]);
	chart.render("chartdiv_rmrulehit");
}
//规则运行监控
function changerule(){
	var rulefrm = document.getElementById("scope_0");
	var value = rulefrm.options[rulefrm.selectedIndex].value; 
	var radioValue = "";
//	var frm = document.getElementsByName("ruleradio");
//	for(var i=0;i<frm.length;i++){
//        if(frm[i].checked==true){
//           radioValue= frm[i].value;
//           break;
//       }
//     }
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/ScrollColumn2D.swf", "ChartId","780", "250", "0", "0");
	chart.setDataXML(dataRuleModel.row[0]);
	chart.render("chartdiv_rmrule");
}		

//交易运行监控
//交易运行监控表格
function trafficgrid(){
	var rulefrm = document.getElementById("scope_1");
	var value = rulefrm.options[rulefrm.selectedIndex].value; 
}
//交易运行监控
function changetraffic(){
	var rulefrm = document.getElementById("scope_1");
	var value = rulefrm.options[rulefrm.selectedIndex].value; 
	var radioValue = "";
	radioValue = document.getElementById("trafficopt").value;
	//var frm = document.getElementsByName("trafficopt");
	//for(var i=0;i<frm.length;i++){
    //    if(frm[i].checked==true){
    //       radioValue= frm[i].value;
    //       break;
    //    }
    //}
    
    
	if(radioValue=="trafficnum"){
		//交易运行监控--交易数
		var chart = new FusionCharts("$rc.contextPath/s/tms/chart/Column2D.swf", "ChartId","1000", "200", "0", "0");
		chart.setDataXML(dataTxnModel.row[0]);
		chart.render("chartdiv_rmtrafficnum");
	}else if(radioValue=="trafficrestime"){
		//交易运行监控--交易响应时间
		var chart = new FusionCharts("$rc.contextPath/s/tms/chart/MSColumn2D.swf", "ChartId","1000", "200", "0", "0");
		chart.setDataXML(dataTxnModel.row[1]);
		chart.render("chartdiv_rmtrafficnum");
	}
}

//风险统计数
//风险运行监控表格
function riskgrid(){
	var rulefrm = document.getElementById("scope_2");
	var value = rulefrm.options[rulefrm.selectedIndex].value; 
	
}

//风险统计数
function strisk(){
	var rulefrm = document.getElementById("scope_2");
	var value = rulefrm.options[rulefrm.selectedIndex].value; 
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/StackedBar2D.swf", "ChartId","780", "225", "0", "0");
	chart.setDataXML(dataRiskModel.row[0]);
	chart.render("chartdiv_rmriskst");
}

//告警数据修改
function alertmonitor(){
	//告警表格数据
	var g = $("#boxdiv_alarm").grid({
		title: '#springMessage("view.tms.monitor.center.alertnumst")',
		//width:1150,height:50,checkboxEnable:false,
		width:780,
		height:50,
		checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.alertnum")', width: 40, dataIndex:'NUMALERTS'},
			{name:'#springMessage("view.tms.monitor.center.salertnum")', width: 20, dataIndex:'NUMALERTSERIOUS'},
			{name:'#springMessage("view.tms.monitor.center.halertnum")', width: 15, dataIndex:'NUMALERTHIGN'},
			{name:'#springMessage("view.tms.monitor.center.malertnum")', width: 15, dataIndex:'NUMALERTMID'},
			{name:'#springMessage("view.tms.monitor.center.lalertnum")', width: 15, dataIndex:'NUMALERTLOW'},
			{name:'#springMessage("view.tms.monitor.center.alertsucnum")', width: 40, dataIndex:'NUMSUCCESS'},
			{name:'#springMessage("view.tms.monitor.center.salertsucnum")', width: 60, dataIndex:'NUMSUCCESSSERIOUS'},
			{name:'#springMessage("view.tms.monitor.center.halertsucnum")', width: 50, dataIndex:'NUMSUCCESSHIGN'},
			{name:'#springMessage("view.tms.monitor.center.malertsucnum")', width: 50, dataIndex:'NUMSUCCESSMID'},
			{name:'#springMessage("view.tms.monitor.center.lalertsucnum")', width: 50, dataIndex:'NUMSUCCESSLOW'},
			{name:'#springMessage("view.tms.monitor.center.trafficrate")', width: 40, dataIndex:'ALERTRATE'},
			{name:'#springMessage("view.tms.monitor.center.alarmsuccrate")', width: 40, dataIndex:'SUCCESSRATE'},
			{name:'#springMessage("view.tms.monitor.center.trafficnum")', width: 30, dataIndex:'NUMTXNS'}
		],
		ds:{
		},
		pagebar: false,
		qform: {id:"qform", display:false}
		
	});
	//g.goPage();
	
	//告警事件监控
	jcl.postJSON('/tms/monitor/grid/all/alert', "", function(data){
		dataAlertModel = data;
		g.renderPage(data.page);
		changeAlarmNum();
		changeAlarm();
	});
}

//改变规则运行监控的时间范围
function changerulemonitor(){

	var rows = ruleGrid.selectedRows();
	
	var ruleId = [];
	$.each(rows, function(i,row){
		ruleId.push('ruleId='+row['RULEID']);
	});
	
	var rulefrm = document.getElementById("scope_0");
	var rulevalue = rulefrm.options[rulefrm.selectedIndex].value; 
	ruleGrid = $("#boxdiv_rule").grid({
		title: '#springMessage("view.tms.monitor.center.rulenumst")',
		width:780,
		height:150,
		checkboxEnable:true,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.rulename")', width: 60, dataIndex:'RULENAME'},
			{name:'所属交易', width: 60, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.monitor.center.ruletrigger")', width: 30, dataIndex:'NUMTRIGS'},
			{name:'#springMessage("view.tms.monitor.center.rulehit")', width: 30, dataIndex:'NUMHITS'},
			{name:'#springMessage("view.tms.monitor.center.rulehitrate")', width: 30, dataIndex:'RULERATE'},
			{name:'#springMessage("view.tms.monitor.center.ruleresponsetime")', width: 50, dataIndex:'AVGEXECTIMES'}
		],
		ds:{
		},
		//toolbar:[{id:"btn-rate", icon:"icon-tb-edit", text:'查看命中率'}],
		// 分页条没有用，去掉 maxiao 2011-8-30
		pagebar: false,
		qform: {id:"qform", display:false}

	});
	$("#btn-rate").click(function(){
		var rows = ruleGrid.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		if(rows.length>1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")');
			return;
		}
		var ruleId = [];
		$.each(rows, function(i,row){
			ruleId.push('ruleId=' + row['RULEID']);
		});
		var params = 'frm='+rulevalue+'&'+ruleId[0];            
		//规则事件监控
		jcl.postJSON('/tms/monitor/grid/all/onerule', params, function(data){
			dataRuleModel = data;
			//规则命中率
			rulehitrate();
		});
	});
	//ruleGrid.goPage();
	
	var param = "frm="+rulevalue;
	if(ruleId!=null && ruleId.length>0){
		param += "&"+ruleId[0];
	}
	//规则事件监控
	jcl.postJSON('/tms/monitor/grid/all/rule', param, function(data){
		dataRuleModel = data;
		ruleGrid.renderPage(data.page);
		
		//if(ruleId!=null && ruleId.length>0){
		//	var rid = ruleId[0];
		//	$('#'+rid).attr("checked", true);
		//}
		//规则命中率
		rulehitrate();
		
	});
}

//改变交易运行监控的时间范围
function changetrafficmonitor(){
	var txnfrm = document.getElementById("scope_1");
	var txnvalue = txnfrm.options[txnfrm.selectedIndex].value;
	
	var txnGrid = $("#boxdiv_traffic").grid({
		title: '#springMessage("view.tms.monitor.center.trafficnumst")',
		width:1000,height:200,
		checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.trafficname")', width: 70, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.monitor.center.trafficnum")', width: 30, dataIndex:'NUMTXNS'},
			{name:'#springMessage("view.tms.monitor.center.trafficmintime")', width: 40, dataIndex:'MINEXECTIMES'},
			{name:'#springMessage("view.tms.monitor.center.trafficmaxtime")', width: 40, dataIndex:'MAXEXECTIMES'},
			{name:'#springMessage("view.tms.monitor.center.trafficavgtime")', width: 40, dataIndex:'AVGEXECTIMES'}
		],
		ds:{
		},
		// 分页条没有用，去掉 maxiao 2011-8-30
		pagebar: false,
		qform: {id:"qform", display:false}

	});
	//txnGrid.goPage();
	
	//zhangfg 2011年12月30日  用于柱形图显示排序 
	var radioValue = "";
	var frm = document.getElementsByName("trafficopt");
	for(var i=0;i<frm.length;i++){
        if(frm[i].checked==true){
           radioValue= frm[i].value;
           break;
        }
    }
    
    var order = "";
//	if(radioValue=="trafficnum"){
//		//交易运行监控--交易数
//		order = "NUMTXNS";
//	}else if(radioValue=="trafficrestime"){
		//交易运行监控--交易响应时间
//		order = "AVGEXECTIMES";
//	}
	//交易运行监控--交易数
	order = "NUMTXNS";
    var param = "frm="+txnvalue+"&order="+order;
	//交易事件监控
	jcl.postJSON('/tms/monitor/grid/all/txn', param, function(data){
		dataTxnModel = data;
		//alert(data.page);
		txnGrid.renderPage(data.page);
		//交易运行监控
		changetraffic();
	});
	
}

//改变风险统计的时间范围
function changestmonitor(){
	var riskfrm = document.getElementById("scope_2");
	var riskvalue = riskfrm.options[riskfrm.selectedIndex].value;
	var riskGrid = $("#boxdiv_risk").grid({
		title: '#springMessage("view.tms.monitor.center.risknumst")',
		width:230,height:190,checkboxEnable:false,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.st")', width: 40, dataIndex:'STNAME'},
			{name:'#springMessage("view.tms.monitor.center.statistics")', width: 50, dataIndex:'STVALUE'}
		],
		ds:{
		},
		pagebar: false,
		qform: {id:"qform", display:false}

	});
	//riskGrid.goPage();
	//风险统计数据
	jcl.postJSON('/tms/monitor/grid/all/rmriskst?frm='+riskvalue, "", function(data){
		dataRiskModel = data;
		riskGrid.renderPage(data.page);
		//风险统计数
		strisk();
	});
}

//告警事件监控 
function alertChange(){
	// 更新开始时间
	alertstartTime.setTime(alertnowTime);
	var refresh  = document.getElementById("alertRefresh"); 
	var seconds = refresh.options[refresh.selectedIndex].value;
	if(seconds == undefined){
		seconds = "1";
	}
    alertendTime=alertstartTime.getTime()+Number(seconds)*1000;
    //告警事件监控
	//告警事件监控表格
	alertmonitor();
}
//刷新告警操作 
function getAlertTime(){
	// 差距时间
	var nMS =alertendTime - alertnowTime;
	var nM=Math.floor(nMS/(1000*60)) % 60;
	var nS=Math.floor(nMS/1000) % 60;
	if(nM==0&&nS==0&&nMS<1000) //当倒计时结束
	{
		window.focus();
	    //window.location.reload();
		alertChange();
	}
	if(nS < 10) nS = "0" + nS;
	if(nMS >= 0){
		document.getElementById("realertTime").innerHTML="上次更新时间："+ alertstartTime.getHours()+"时"+alertstartTime.getMinutes()+"分"+alertstartTime.getSeconds() + "秒(" + nM + "分" + nS + "秒)";
	    // 当前时间加1秒
	    alertnowTime = alertnowTime +1*1000;
	    setTimeout("getAlertTime()",1000);
	}
}


//规则告警事件监控 
function ruleChange(){
	// 更新开始时间
	rulestartTime.setTime(rulenowTime);
	var refresh  = document.getElementById("ruleRefresh"); 
	var seconds = refresh.options[refresh.selectedIndex].value;
	if(seconds == undefined){
		seconds = "1";
	}
    ruleendTime=rulestartTime.getTime()+Number(seconds)*1000;
	//规则实时监控
	changerulemonitor();
}
//刷新规则告警操作 
function getRuleTime(){
	// 差距时间
	var nMS =ruleendTime - rulenowTime;
	var nM=Math.floor(nMS/(1000*60)) % 60;
	var nS=Math.floor(nMS/1000) % 60;
	if(nM==0&&nS==0&&nMS<1000) //当倒计时结束
	{
		window.focus();
	    //window.location.reload();
		ruleChange();
	}
	if(nS < 10) nS = "0" + nS;
	if(nMS >= 0){
		document.getElementById("reruleTime").innerHTML="上次更新时间："+ rulestartTime.getHours()+"时"+rulestartTime.getMinutes()+"分"+rulestartTime.getSeconds() + "秒(" + nM + "分" + nS + "秒)";
	    // 当前时间加1秒
	    rulenowTime = rulenowTime +1*1000;
	    setTimeout("getRuleTime()",1000);
	}
}



//交易告警事件监控 
function txnChange(){
	// 更新开始时间
	txnstartTime.setTime(txnnowTime);
	var refresh  = document.getElementById("txnRefresh"); 
	var seconds = refresh.options[refresh.selectedIndex].value;
	if(seconds == undefined){
		seconds = "1";
	}
    txnendTime=txnstartTime.getTime()+Number(seconds)*1000;
	//交易实时监控
	changetrafficmonitor();
}
//刷新交易告警操作 
function getTxnTime(){
	// 差距时间
	var nMS =txnendTime - txnnowTime;
	var nM=Math.floor(nMS/(1000*60)) % 60;
	var nS=Math.floor(nMS/1000) % 60;
	if(nM==0&&nS==0&&nMS<1000) //当倒计时结束
	{
		window.focus();
	    //window.location.reload();
		txnChange();
	}
	if(nS < 10) nS = "0" + nS;
	if(nMS >= 0){
		document.getElementById("retxnTime").innerHTML="上次更新时间："+ txnstartTime.getHours()+"时"+txnstartTime.getMinutes()+"分"+txnstartTime.getSeconds() + "秒(" + nM + "分" + nS + "秒)";
	    // 当前时间加1秒
	    txnnowTime = txnnowTime +1*1000;
	    setTimeout("getTxnTime()",1000);
	}
}

//风险监控 
function riskChange(){
	// 更新开始时间
	riskstartTime.setTime(risknowTime);
	var refresh  = document.getElementById("riskRefresh"); 
	var seconds = refresh.options[refresh.selectedIndex].value;
	if(seconds == undefined){
		seconds = "1";
	}
    riskendTime=riskstartTime.getTime()+Number(seconds)*1000;
	//风险统计数
	changestmonitor();
}
//刷新风险操作 
function getRiskTime(){
	// 差距时间
	var nMS =riskendTime - risknowTime;
	var nM=Math.floor(nMS/(1000*60)) % 60;
	var nS=Math.floor(nMS/1000) % 60;
	if(nM==0&&nS==0&&nMS<1000) //当倒计时结束
	{
		window.focus();
	    //window.location.reload();
		riskChange();
	}
	if(nS < 10) nS = "0" + nS;
	if(nMS >= 0){
		document.getElementById("reriskTime").innerHTML="上次更新时间："+ riskstartTime.getHours()+"时"+riskstartTime.getMinutes()+"分"+riskstartTime.getSeconds() + "秒(" + nM + "分" + nS + "秒)";
	    // 当前时间加1秒
	    risknowTime = risknowTime +1*1000;
	    setTimeout("getRiskTime()",1000);
	}
}


// 按选择更新趋势图
function updateChart(){			
	if (chartLoaded){
		var chars = alermChartData.split("</categories>");
		var begin = chars[0]+"</categories>";
		var dataXml = (chars[1].split("</chart>"))[0];
		dataXmlArr = dataXml.split("</dataset>");
		var end = dataXmlArr.length-1>1?dataXmlArr[dataXmlArr.length-1]:"";
		end += "</chart>";
		
		// 更新图表
		chart = new FusionCharts("$rc.contextPath/s/tms/chart/ScrollLine2D.swf", "ChartAlarmNum","780", "220", "0", "0");
		chart.setDataXML(begin + generateXML()+end);
		chart.render("chartdiv_rmtrend");
		this.document.all.choice.style.display="block";
	}
}

// 利用第一次初始化的全部数据，筛选需要显示的数据种类
function generateXML(){	
		
	var strXML="";

	strXML = (this.document.all.total.checked==true)?(strXML + getAlertXML(0)):(strXML);
	strXML = (this.document.all.numS.checked==true)?(strXML + getAlertXML(1)):(strXML);
	strXML = (this.document.all.numH.checked==true)?(strXML + getAlertXML(2)):(strXML);
	strXML = (this.document.all.numM.checked==true)?(strXML + getAlertXML(3)):(strXML);		
	strXML = (this.document.all.numL.checked==true)?(strXML + getAlertXML(4)):(strXML);		
		
	if(strXML=="")	strXML = "<dataset seriesName='无' color='CC9966' anchorBorderColor='CC9966'></dataset>"		
	return strXML;			
}

// 获取第i个xml数据类
function getAlertXML(index){		
	var alertXML="";
	if(index < dataXmlArr.length){
		// 从总集合中选取
		alertXML = dataXmlArr[index]+"</dataset>";	
	}	
	return alertXML;			
}

//显示-隐藏层
function displayDiv(formDiv,pageDiv){
	var form = document.getElementById(formDiv).style.display;
	var page = document.getElementById(pageDiv).style.display;
	
	if(form=="none"){
		document.getElementById(formDiv).style.display="";
		document.getElementById(pageDiv).style.display="";
	}else{
		document.getElementById(formDiv).style.display="none";
		document.getElementById(pageDiv).style.display="none";
	}

}


</script>
</head>
	<body>
	
<table width="95%" border="0" align="center" cellspacing="0" cellpadding="1" style="margin-left: 10px">

	<tr><td colspan="2" align="left" id="titleTd">
		<div style="width: 100%" class="box-title-wrap-m" >
			<div class="box-title-wrap-l" >
				<div class="box-title-wrap-r" >
					<div class="box-title" style="cursor: pointer;" onclick="displayDiv('formDiv','pageDiv')">告警事件监控</div>
				</div>
			</div>	
		</div>
			
		<div style="width: 99.8%" class=box-qform-wrap-b id="formDiv" >
			<div class=box-qform-wrap-t>
				<div class=box-qform>
				  <form id="alertForm" name="qform">
					<table >
						<tr>
						<td  valign="top" rowspan="2" width="20%">
							<div style="FONT-SIZE: 13px" id=bl003>
							刷新频率： 
							<select id=alertRefresh onchange=alertChange() name=alertRefresh style="width: 100px"> 
								<option value=30 selected="selected">30秒</option> 
								<option value=60>1分钟</option> 
								<option value=600>10分钟</option>
							</select> 
							</div>
							<!-- 
							<div style="FONT-SIZE: 13px" id=al003>
							统计范围：
							<select id=scope_00 onchange=changerulemonitor() name=scope_00 > 
								<option value=currentTime selected="selected">当前1小时</option> 
								<option value=4>过去4小时</option> 
								<option value=12>过去12小时</option> 
								<option value=24>过去24小时</option> 
							</select> 
							</div> -->
							<div id=chartdiv_rmtraffic class=button-box align=center></div>
							<div id=chartdiv_rmalertsuc class=button-box align=center></div>
						</td>
						<td width="80%">
							<table width="100%" align=center>
								<tr><td>
									<table width="100%" align=center>
										<tr><td>
											<div style="FONT-SIZE: 13px" id=al002>
											<input onclick="changeAlarmNum()" value=alarmnum checked="checked" type=radio name=alarmnum />告警数 
											<input onclick="changeAlarmNum()" value=alarmsucnum type=radio name=alarmnum />告警成功数 
											<div id="realertTime" style="font-weight:bold;font-size:13px;float: right;"></div>
											</div>
										</td></tr>
		
										<tr><td>
											<div id=chartdiv_rmtrend class=button-box align=center></div>
											<div style="FONT-SIZE: 13px" id=choice align=center>
											<input onclick="JavaScript:updateChart();" checked="checked" type=checkbox name=total />&nbsp;总数&nbsp;&nbsp; 
											<input onclick="JavaScript:updateChart();" checked="checked" type=checkbox name=numS />&nbsp;严重&nbsp;&nbsp; 
											<input onclick="JavaScript:updateChart();" checked="checked" type=checkbox name=numH />&nbsp;高&nbsp;&nbsp; 
											<input onclick="JavaScript:updateChart();" checked="checked" type=checkbox name=numM />&nbsp;中&nbsp;&nbsp; 
											<input onclick="JavaScript:updateChart();" checked="checked" type=checkbox name=numL />&nbsp;低&nbsp;&nbsp; 
											</div>
										</td></tr>
									</table>
								</td></tr>
							</table>
						</td></tr>
		
						<tr><td>
							<table width="100%" align=center>
								<tr><td align="center">
									<div id=boxdiv_alarm class=button-box align=center></div>
								</td></tr>
							</table>
						</td></tr>
					</table>
				  </form>
				</div>
			</div>
		</div>
				
		<div class=box-pagebar id="pageDiv">
			<div style="width: 99.8%;" class=pagebar></div>
		</div>
	</td></tr>

	<tr>
	<td colspan="2">
	
		<div class="box-title-wrap-m" style="width: 100%;">
			<div class="box-title-wrap-l">
				<div class="box-title-wrap-r">
					<div class="box-title" style="cursor: pointer;" onclick="displayDiv('ruleformDiv','rulepageDiv')" >规则运行监控</div>
				</div>
			</div>
		</div>
	
		<div style="WIDTH: 99.8%" class=box-qform-wrap-b id="ruleformDiv" >
			<div class=box-qform-wrap-t>
				<div class=box-qform >
					<table id=alertForm border=0 width="100%" align=center>
		
					<tr>
						<td  valign="top" width="20%">
							<div id="bl003" style="font-size:13px">
								刷新频率：
								<select id=ruleRefresh onchange=ruleChange() name=ruleRefresh style="width: 100px" > 
									<option value=30 selected="selected">30秒</option> 
									<option value=60>1分钟</option> 
									<option value=600>10分钟</option>
								</select> 
						    </div>
						</td>
						<td width="20%">
							<div id="al003" style="font-size:13px">
								统计范围：
						    	<select name="scope_0" id="scope_0" onchange="changerulemonitor()" style="width: 100px">
							    	<option value="currentTime" selected="selected" >当前1小时</option>
							    	<option value="4">过去4小时</option>
							    	<option value="12">过去12小时</option>
							    	<option value="24">过去24小时</option>
							    	<!-- 
							    	<option value="yesterday">过去1天</option> -->
							    </select>
						    </div>
						</td>
						<td width="60%" align="right">
							<div id="reruleTime" style="font-weight:bold;font-size:13px;float: right;"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="button-box" id="chartdiv_rmrulehit" align="left"></div>
						</td>
						<td width="80%" colspan="2">
							<table width="100%" align="center">
									<tr><td height="200" align="center">
										<div class="button-box" id="boxdiv_rule" class="box" align="center"></div>
									</td></tr>
							</table>
						</td></tr>
		
					</table>
		
				</div>
			</div>
		</div>
				
		<div class=box-pagebar id="rulepageDiv">
			<div style="WIDTH: 99.8%" class=pagebar></div>
		</div>
	</td>
	</tr>
	
	<tr>
	<td colspan="2">
	
		<div class="box-title-wrap-m" style="width: 100%;">
			<div class="box-title-wrap-l">
				<div class="box-title-wrap-r">
					<div class="box-title" style="cursor: pointer;" onclick="displayDiv('txnformDiv','txnpageDiv')"  >交易运行监控</div>
				</div>
			</div>
		</div>
	
		<div style="WIDTH: 99.8%" class=box-qform-wrap-b id="txnformDiv">
			<div class=box-qform-wrap-t>
				<div class=box-qform>
					<table id=alertForm border=0 width="100%" align=center>
						<tr>
							<td  valign="top" width="20%">
								<div id="bl003" style="font-size:13px">
									刷新频率：
									<select id=txnRefresh onchange=txnChange() name=txnRefresh style="width: 100px"> 
										<option value=30 selected="selected">30秒</option> 
										<option value=60>1分钟</option> 
										<option value=600>10分钟</option>
									</select> 
						    	</div>
							</td>
							<td width="20%">
								<div id="al003" style="font-size:13px">
									统计范围：
							    	<select name="scope_1" id="scope_1" onchange="changetrafficmonitor()" style="width: 100px">
								    	<option value="currentTime" selected="selected" >当前1小时</option>
								    	<option value="4">过去4小时</option>
								    	<option value="12">过去12小时</option>
								    	<option value="24">过去24小时</option>
								    </select>
							    </div>
							</td>
							<td width="60%" align="right">
								<div id="retxnTime" style="font-weight:bold;font-size:13px;float: right;"></div>
							</td>
						</tr>
						<tr>
							<td width="100%" colspan="3" align="center">
								<div class="button-box" id="chartdiv_rmtrafficnum" align="center"></div>
								<input type="hidden" name="trafficopt" id="trafficopt" value="trafficnum" onclick="changetraffic()" checked="checked" />
								<div class="button-box" id="boxdiv_traffic" class="box" align="center" ></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div class=box-pagebar>
			<div style="WIDTH: 99.8%" class=pagebar id="txnpageDiv"></div>
		</div>
	</td>
	</tr>
	
	<tr>
	<td colspan="2">
	
		<div class="box-title-wrap-m" style="width: 100%;">
			<div class="box-title-wrap-l">
				<div class="box-title-wrap-r">
					<div class="box-title" style="cursor: pointer;" onclick="displayDiv('riskformDiv','riskpageDiv')" >风险数据统计</div>
				</div>
			</div>
		</div>
	
		<div style="WIDTH: 99.8%" class=box-qform-wrap-b id="riskformDiv">
			<div class=box-qform-wrap-t>
				<div class=box-qform>
					<table id=alertForm border=0 width="100%" align=center>
					<tr>
						<td  valign="top"  width="20%">
							<div id="al008" style="font-size:13px">
								刷新频率：
								<select id=riskRefresh onchange=riskChange() name=riskRefresh style="width: 100px"> 
									<option value=30 selected="selected">30秒</option> 
									<option value=60>1分钟</option> 
									<option value=600>10分钟</option>
								</select>
							</div>
						</td>
						<td width="20%">
							<div id="al007" style="font-size:13px">
								统计范围：
						    	<select name="scope_2" id="scope_2" onchange="changestmonitor()" style="width: 100px">
							    	<option value="currentTime" selected="selected">当前1小时</option>
							    	<option value="4">过去4小时</option>
							    	<option value="12">过去12小时</option>
							    	<option value="24">过去24小时</option>
							    </select>
						    </div>
						</td>
						<td width="60%"><div id="reriskTime" style="font-weight:bold;font-size:13px;float: right;"></div></td>
						</tr>
						<tr>
							<td width="20%">
								<div class="button-box" id="boxdiv_risk" class="box"></div>
							</td>
							<td width="80%"  colspan="2">
								<div class="button-box" id="chartdiv_rmriskst" align="center"></div>
							</td>
							
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div class=box-pagebar id="riskpageDiv">
			<div style="WIDTH: 99.8%" class=pagebar></div>
		</div>
	</td>
	</tr>
	
</table>	
	
	</body>
</html>
