<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>监控中心</title>
<!-- <link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" /> -->
<!-- <link rel="stylesheet" href="$rc.contextPath/s/tms/css/Style.css" type="text/css" /> -->
<!-- <script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script> -->
<script type="text/javascript" src="$rc.contextPath/s/report/echarts/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/report/echarts/echarts.js"></script>

<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/monitor_center_y15.js"></script>
<style type="text/css">
        .mo_line_3 {
           float:left; 
           width:33%;
           min-width:400px;
           height:260px;
           /*height:26%;*/
           /*min-height: 200px;*/
           /*border:0.5px solid #ccc;*/
           border:0.1px solid;
           background:#252525;
           /*margin-left:0px;*/
           /*margin-top:0px;*/
           /*margin-right:0px;*/
           /*margin-bottom:10px;*/
           /*overflow:auto;*/
           /*padding:3px;*/
           /*opacity:0.9;*/
           /*filter:alpha(opacity=90);
           position:absolute;*/
        }
</style>
<script type="text/javascript">
if(!Array.indexOf){
	Array.prototype.indexOf = function(obj){
		for(var i=0; i<this.length; i++){
			if(this[i]==obj){
				return i;
			}
		}
		return -1;
	}
}
$(document).ready(function(){
	// var myChart;
	var echarts;
	// 向前获取数据范围大小
	// var frm = 'currentTime';
	var frm = 24;
	// 规则缓存数据
	var ruleList;
	// 地图缓存数据
	var mapList;
	// 单位为秒--3600 为一个小时刷新一次
	var seconds = '60';
	var color = ['red','orange','yellow','blue','lightgreen'];
	var symbolSize = [5,4,3.5,3,3];
	var dp_color = {};
	// 处置的最高级别
	// var dpMax = 6; 
	var dpMaxName = '阻断'; 
	var map_mt = 'china';
	var map_option;
    var mapType = [
	    'china',
	    // 23个省
	    '广东', '青海', '四川', '海南', '陕西', 
	    '甘肃', '云南', '湖南', '湖北', '黑龙江',
	    '贵州', '山东', '江西', '河南', '河北',
	    '山西', '安徽', '福建', '浙江', '江苏', 
	    '吉林', '辽宁', '台湾',
	    // 5个自治区
	    '新疆', '广西', '宁夏', '内蒙古', '西藏', 
	    // 4个直辖市
	    '北京', '天津', '上海', '重庆',
	    // 2个特别行政区
	    '香港', '澳门',
	    '南海诸岛'
	];
	var mapType_ch = {
	    'china':'5044',
	    // 23个省
	    '广东':'5044440000', '青海':'5044630000', '四川':'5044510000', '海南':'5044460000', '陕西':'5044610000', 
	    '甘肃':'5044620000', '云南':'5044530000', '湖南':'5044430000', '湖北':'5044420000', '黑龙江':'5044230000',
	    '贵州':'5044520000', '山东':'5044370000', '江西':'5044360000', '河南':'5044410000', '河北':'5044130000',
	    '山西':'5044140000', '安徽':'5044340000', '福建':'5044350000', '浙江':'5044330000', '江苏':'5044320000', 
	    '吉林':'5044220000', '辽宁':'5044210000', '台湾':'5044710000',
	    // 5个自治区
	    '新疆':'5044650000', '广西':'5044450000', '宁夏':'5044640000', '内蒙古':'5044150000', '西藏':'5044540000', 
	    // 4个直辖市
	    '北京':'5044110000', '天津':'5044120000', '上海':'5044310000', '重庆':'5044500000',
	    // 2个特别行政区
	    '香港':'5044810000', '澳门':'5044820000',
	    '南海诸岛':'南海诸岛'
	};
	// var mapType = [
	//     'CN',
	//     // 23个省
	//     'CN30', 'CN06', 'CN32', 'CN31', 'CN26', 
	//     'CN15', 'CN29', 'CN11', 'CN12', 'CN08',
	//     'CN18', 'CN25', 'CN03', 'CN09', 'CN10',
	//     'CN24', 'CN01', 'CN07', 'CN02', 'CN04', 
	//     'CN05', 'CN19', 'CN34',
	//     // 5个自治区
	//     'CN13', 'CN16', 'CN21', 'CN20', 'CN14', 
	//     // 4个直辖市
	//     'CN22', 'CN28', 'CN23', 'CN33',
	//     // 2个特别行政区
	//     'CN17', 'CN27',
	//     '南海诸岛'
	// ];
	// 加载echart对象
	function chartsLoad(){
		if (!echarts) {
			// 按需加载
			require.config({
			    paths: {
			        echarts: '$rc.contextPath/s/report/echarts'
			    }
			});
			require(
			        [
			            'echarts',
			            'echarts/chart/bar',
			            'echarts/chart/pie',
			            'echarts/chart/funnel',
			            'echarts/chart/line',
			            'echarts/chart/map'
			        ],
			   function(ec){
			   		echarts = ec;
			    	// 自定义扩展图表类型：mapType = continent 大洲地图
		            require('echarts/util/mapData/params').params.continent = {
		                    getGeoJson: function (callback) {
		                        $.getJSON('$rc.contextPath/s/report/echarts/geoJson/continent_geo.json',callback);
		                    }
		            }; 
		            mymap = echarts.init(document.getElementById('mainMap'));
		            mo_tran_charts = echarts.init(document.getElementById('MO_TRAN'),{
	                    noDataText:  '交易总数前10-无数据',
	                    noDataEffect:'dynamicLine'
	                });
		            mo_fraud_charts = echarts.init(document.getElementById('MO_CHEAT'),{
	                    noDataText:  '欺诈类型前10-无数据',
	                    noDataEffect:'dynamicLine'
	                });
		            ecConfig = require('echarts/config');
		            window.onresize = chartResize;
		            window.onfocus  = chartRestore;
		            setChart();
			   }
			); 
			
		}else{
			setChart();
		}
	}
		// 设置图表，获取数据
	function setChart(){
            getMapChart();
            getTXNChart();
            getFraudChart();
            getRuleList();
	}
	function restore(chart){
		if (chart) {
			chart.restore();
		};
	}
	var isOnfocus = false;
	function chartRestore(){
		if (isOnfocus) {
			//restore(mymap);
			restore(mo_tran_charts);
			restore(mo_fraud_charts);

			mo_tran_charts.resize();
			mo_fraud_charts.resize();
		};
		isOnfocus = true;
	}
	// 重新计算页面
	function chartResize(){
		if (mymap) {
			mymap.clear();
			mymap.dispose();
		};
		mymap = echarts.init(document.getElementById('mainMap'));
		if (map_option) {
			onClickMap();
			resetChart(mymap,map_option);
		}else{
			isOnEvent = false;
			getMapChart();
		}
		// restore(mymap);
		restore(mo_tran_charts);
		restore(mo_fraud_charts);

		// mymap.resize();
		mo_tran_charts.resize();
		mo_fraud_charts.resize();
		
		resetRuleHtml(ruleList);
	}
	// 初始化echart对象
	chartsLoad();
	//加载页面列表数据-处置
	jcl.postJSON('/report/txn/getPS', '', function(data){
		for(var i =0;i<data.list.length;i++){ 
			var ps = data.list[i];
			var key = ps['DP_CODE'];
			var value = ps['DP_NAME'];
			if (i==data.list.length - 1) {
				dpMaxName = value;
			};
			dp_color[value] = data.list.length - 1 -i;
		}
	});
	// 组装地图数据
	function getMapData(list,mt){
		var t_series = {}; //存放处置：数据
		var legend_l = {};
		var legend_data = [];
		var series_data = [];
		var series_geocoord = {};
		// alert(mt);
		for (var i = 0; i < list.length; i++) {
			// 如果为中国
			if (list[i]['COUNTRYCODE'] == '5044') {
				if (mt != 'china') {
					if(list[i]['REGIONCODE'] != mapType_ch[mt])
						continue;
				}
				var dpName = list[i]['DISPOSALNAME'];
				if (!dpName) {
					continue;
				};
				legend_l[dpName] = i;
				// legend_data.push(dpName);
				if (!t_series[dpName]) {
					t_series[dpName] = [];
				};
				var cityName = list[i]['CITYNAME']||'未知编码-'+list[i]['CITYCODE'];
				t_series[dpName].push({
                        // name : list[i]['CITYNAME']+'-'+list[i]['DISPOSALNAME'],
                        name : cityName,
                        value : list[i]['CITYNUM']
                });
				// 当前所有地址的维度表
				// var cityName = list[i]['CITYNAME']+'-'+list[i]['DISPOSALNAME'];
				if (!series_geocoord[cityName]) {
					series_geocoord[cityName] = [];
				};
				series_geocoord[cityName].push(list[i]['LONGITUDE']);
				series_geocoord[cityName].push(list[i]['LATITUDE']);
			};
		};
		for(var i in legend_l)
				legend_data.push(i);


		var map_color = [];
		// 级别必须从高到底
		for (var i = 0; i < legend_data.length; i++) {
			var name  = legend_data[i];
			var data =  t_series[legend_data[i]];
			if (i == 0 && name == dpMaxName) {
				series_data.push(getMapMPSeries(name,data,mt));
			};
			var sym = 2;
			// if (i >= color.length) {
			// 	color.push(color[color.length-1]);
			// };
			// if (i >= symbolSize.length) {
			// 	sym = 2;
			// }else{
			// 	sym = symbolSize[i];
			// }
			var cl = dp_color[name];
			if (cl) {
				if (cl >= color.length) {
					map_color.push(color[color.length-1]);
				}else{
					map_color.push(color[cl]);
					sym = symbolSize[cl];
				}
			}else{
				map_color.push(color[0]);
				sym = symbolSize[0];
			}
			series_data.push(getMapDPSeries(name,sym,data,series_geocoord,mt));
		};
		map_option =  getMapOption(legend_data,map_color,series_data,mt);
		// return map_option;
	}

	var isOnEvent = false;
	function onClickMap(list){
		mymap.on(ecConfig.EVENT.MAP_SELECTED, function (param){
            var mt = map_mt;
            // alert(mt);
            if (mt == 'china') {
                // 全国选择时指定到选中的省份
                var selected = param.selected;
                for (var i in selected) {
                    if (selected[i]) {
                		// alert(i);
                        mt = i;
                        break;
                    }
                }
            }else {
                mt = 'china';
            }
            if (mt == '南海诸岛') {
                return;
            };
            if (list) {
            	getMapData(list,mt);
            }else{
            	getMapData(mapList,mt);
            }
            map_mt = mt;
            resetChart(mymap,map_option);
        });
	}

	// 获取地图数据
	function getMapChart(){
		jcl.postJSON('/tms/monitor/grid/all/map', 'pageindex=1&pagesize=1000&order=DISPOSAL', function(data){
			var list = data.page.list;
			getMapData(list,map_mt);			
			mapList  = list;
   			if (!isOnEvent) {
   				onClickMap(list);
				isOnEvent = true;
   			};
			resetChart(mymap,map_option);
		},false);
	}
	// 欺诈数据--frm=4代表当前4个小时的数据，frm=currentTime 默认当前1小时
	function getFraudChart(){
		jcl.postJSON('/tms/monitor/grid/all/fraud', 'pageindex=1&pagesize=10&frm='+frm+'&order=FRAUDNUMBER', function(data){
			// jcl.postJSON('/tms/monitor/grid/all/txn', 'frm=1000&order=NUMTXNS', function(data){
			var list = data.page.list;
			var legend_data = [];
			var series_data = [];
			var f_len = list.length;
			var f_n = '';
			if(f_len >= 6)
				f_n = '\n';
			for (var i = 0; i < list.length; i++) {
				var txnName = list[i]['FRAUDNAME'];
				var num = list[i]['FRAUDNUMBER'];
				if ((i+1)%2 == 0) {
					txnName = f_n + txnName;
				};
				legend_data.push(txnName);
				// series_data.push({value:num,name:txnName});
				series_data.push(num);
			};
			// alert(mo_tran_option.legend.data);
			// alert(legend_data);
			// 报表名称
			// mo_tran_option.title = '当期交易总数前10名';
			// // 交易名称
			// mo_tran_option.legend.data = legend_data;
			// alert(mo_tran_option.legend.data);
			// // 图表显示数据
			// mo_tran_option.series[0].data = series_data;
			resetChart(mo_fraud_charts,getFraudOption(legend_data,series_data));
		},false);
	}
	// 获取交易数据
	function getTXNChart(){
		jcl.postJSON('/tms/monitor/grid/all/txn', 'pageindex=1&pagesize=10&frm='+frm+'&order=NUMTXNS', function(data){
			// jcl.postJSON('/tms/monitor/grid/all/txn', 'frm=1000&order=NUMTXNS', function(data){
			var list = data.page.list;
			var legend_data = [];
			var series_data = [];
			for (var i = 0; i < list.length; i++) {
				var txnName = list[i]['TXNNAME'];
				var num = list[i]['NUMTXNS'];
				legend_data.push(txnName);
				series_data.push({value:num,name:txnName});
			};
			// alert(mo_tran_option.legend.data);
			// alert(legend_data);
			// 报表名称
			// mo_tran_option.title = '当期交易总数前10名';
			// // 交易名称
			// mo_tran_option.legend.data = legend_data;
			// alert(mo_tran_option.legend.data);
			// // 图表显示数据
			// mo_tran_option.series[0].data = series_data;
			resetChart(mo_tran_charts,getTXNOption(legend_data,series_data));
		},false);
	}
	// 获取规则执行
	function getRuleList(){
		jcl.postJSON('/tms/monitor/grid/all/rule', 'pageindex=1&pagesize=10&frm='+frm+'&order=numhits&ruleName=', function(data){
			// jcl.postJSON('/tms/monitor/grid/all/rule', 'frm=currentTime&order=NUMTXNS', function(data){
			var list = data.page.list;
			ruleList = list;
			resetRuleHtml(list);
		},false);
	}
	// 设计规则列表
	function resetRuleHtml(list){
		var ruleWidth =  $("#MO_RULE").width(); 
		var ruleNameWidth = ruleWidth*0.8 - 10;
		var TXNNUMWidth = ruleWidth*0.2 - 10;
		var ruleHtml = '';
		if (list && list.length > 0) {
			ruleHtml = '<li style=\"text-align:center;width:80%px;padding:5px;color:#FFF;list-style-type:none;font-size:17px;\"><b>规则运行前10</b></li>';
			for (var i = 0; i < list.length; i++) {
				// for (var j = 0; j < 10; j++) {
				var ruledesc = list[i]['RULEDESC']+'('+list[i]['TXNNAME']+')';
				var num = list[i]['NUMHITS'];
				ruleHtml += '<li style=\"float:left;margin-left:10px;width:'+ruleNameWidth+'px;padding:1.5px;color:#FFF;list-style-type:none;font-size:13px;\">'
				+'<span title = \"'+ruledesc+'\" style=\"width:'+ruleNameWidth+'px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block;\">';
				if (i == 0) {
					ruleHtml += '<font color=\"red\">'+(i+1)+'&nbsp;&nbsp;'+ruledesc +'</font>';
				}else if(i == 1){
					ruleHtml += '<font color=\"orange\">'+(i+1)+'&nbsp;&nbsp;'+ruledesc +'</font>';
				}else if(i == 2){
					ruleHtml += '<font color=\"yellow\">'+(i+1)+'&nbsp;&nbsp;'+ruledesc +'</font>';
				}else{
					ruleHtml += (i+1)+'&nbsp;&nbsp;'+ruledesc;
				};
				ruleHtml += '</span></li><li style=\"float:right;width:'+TXNNUMWidth+'px;padding:1.5px;color:#FFF;list-style-type:none;text-align:right;font-size:13px;\">'+num+'&nbsp;&nbsp;</li>';
			}
		}else{
			ruleHtml = '<li style=\"text-align:center;width:80%px;padding:3px;color:#FFF;list-style-type:none;font-size:17px;\"><b>规则运行前10-无数据</b></li>';
		}
		// alert(ruleHtml);
		$("#MO_RULE").html(ruleHtml);
	}
	// 报表数据重新加载数据
	function resetChart(chart,option){
		chart.clear();
		chart.setOption(option);
		// chart.restore();
		// chart.refresh();
		// chart.resize();
	}

		// 取系统时间，之后进行后续的工作
	jcl.postJSON('/tms/monitor/alarm/time','',function(data){
		var currentTime = data.row.currentTime;//yyyy-MM-dd HH:mm:ss
		// 根据服务器时间算出开始时间
		startTime = new Date(currentTime.substr(0,4),currentTime.substr(5,2)-1,currentTime.substr(8,2),currentTime.substr(11,2),currentTime.substr(14,2),currentTime.substr(17,2));
		if(startTime=='NaN') startTime = new Date();
		nowTime = startTime.getTime();
		// var seconds = ruleForm.getItem('ruleRefresh').val();
		// var seconds = "60";
		if(seconds == undefined){
			seconds = "60";
		}
        endTime=startTime.getTime()+Number(seconds)*1000;
		getSysTime();
	});

	//计时器
	function getSysTime(){
		// 差距时间
		var nMS = endTime - nowTime;
		var nM = Math.floor(nMS/(1000*60)) % 60;
		var nS = Math.floor(nMS/1000) % 60;
		if(nM == 0 && nS == 0 && nMS < 1000) //当倒计时结束
		{
			// window.focus();
			startTime.setTime(nowTime);
			// var seconds = "60";
			if(seconds == undefined){
				seconds = "60";
			}
		    endTime=startTime.getTime()+Number(seconds)*1000;
			setChart();
		}
		if(nS < 10) nS = "0" + nS;
		if(nMS >= 0){
			// $('#reruleTime').text("上次更新时间："+ rulestartTime.getHours()+"时"+rulestartTime.getMinutes()+"分"+rulestartTime.getSeconds() + "秒(" + nM + "分" + nS + "秒)");
		    // 当前时间加1秒
		    nowTime = nowTime +1*1000;
		    setTimeout(function(){getSysTime();},1000);
		}
	}
});
</script>
</head>
	<body>
		 <div id="mainMap" style="float:left;background:#252525;height:500px;width:99%;min-width:1300px;border:0.5px solid;padding:3px;"></div>
		 <div  id="MO_TRAN"  class="mo_line_3"></div>
         <div id="MO_RULE" class="mo_line_3" style="background:#252525; color:#000"></div>
         <div id="MO_CHEAT" class="mo_line_3" ></div>	
	</body>
</html>
