<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.monitor.center.alarm")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="$rc.contextPath/s/tms/css/Style.css" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionCharts/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionMaps/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionWidgets/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/PowerCharts/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	ruletrigid = jQuery.url.param("ruletrigid");
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.monitor.center.ruletraffic")',
		id:'editNameListFormBox'
	});
	box.addDom('dataForm');
	jcl.postJSON('/tms/monitor/alarm/get_ruletrafficlist_detail?ruletrigid='+ruletrigid, "", function(data){
		$('#boxdiv_alertid').text(data.row.ALERTID);
		$('#boxdiv_deviceid').text(data.row.DEVICEID);
		//$('#boxdiv_trafficid').text(data.row.TRAFFICID);
		$('#boxdiv_sessionid').text(data.row.SESSIONID);
		//$('#boxdiv_ruletrigid').text(data.row.RULETRIGID);
		$('#boxdiv_rulename').text(data.row.RULENAME);
		$('#boxdiv_ipaddr').text(data.row.IPADDR);
		$('#boxdiv_message').text(data.row.MESSAGE);
		$('#boxdiv_numtimes').text(data.row.NUMTIMES + '#springMessage("view.tms.monitor.center.ruletraffic.millisecond")');
		$('#boxdiv_score').text(data.row.SCORE);
		$('#boxdiv_starttime').text(data.row.STARTTIME);
		$('#boxdiv_endtime').text(data.row.ENDTIME);
		$('#boxdiv_location').text(data.row.COUNTRYNAME + "-" + data.row.REGIONNAME + "-" + data.row.CITYNAME );
		$('#boxdiv_userid').text(data.row.USERID);
		$('#boxdiv_username').text(data.row.USERNAME);
		$('#boxdiv_txnname').text(data.row.TXNNAME);
	});
	$('#backBtn').click(function(){
		jcl.go('/tms/monitor/alarm/get_ruletrafficlist');
	});
});
</script>
</head>
  <body>
	  <div name="dataForm" id="dataForm">
	  	<ul class="list-box">
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.alertid"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_alertid" style="font-weight: bold"></div> </span>
				</li>
				<!-- 
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.trafficid"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_trafficid" style="font-weight: bold"></div> </span>
				</li>
				 -->
				<!-- 
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.ruletrigid"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_ruletrigid" style="font-weight: bold"></div> </span>
				</li>
				 -->
				 <li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.rule.add.trade"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_txnname" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.rulename"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_rulename" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.message"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_message" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.numtimes"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_numtimes" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.alarm.score"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_score" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.starttime"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_starttime" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.endtime"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_endtime" style="font-weight: bold"></div> </span>
				</li>
				
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.transactiontraffic.sessionid.en"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_sessionid" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.alarm.userid"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_userid" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.ruletraffic.clientipaddr"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_ipaddr" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.transactiontraffic.deviceid"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_deviceid" style="font-weight: bold"></div> </span>
				</li>
				<li class="list-box-item">
					<label class="list-box-item-label">
						#springMessage("view.tms.monitor.center.alarm.location"):
					</label>
					<span class="list-box-item-content"><div id="boxdiv_location" style="font-weight: bold"></div> </span>
				</li>
			</ul>
	  </div>
	  <div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="backBtn"/>
	  </div>
  </body>
</html>
