<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.monitor.center.alarm")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="$rc.contextPath/s/tms/css/Style.css" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript">
var regioncode ;
$(document).ready(function(){

	regioncode = jQuery.url.param("regioncode");
	initParams();
	var g = $("#boxdiv_detailalarm").grid({
		title:'#springMessage("view.tms.monitor.center.alarm")',
		//width:1150,height:50,checkboxEnable:false,
		//width:document.body.clientWidth-30,height:250,
		columns:[
			//{name:'序号', width: 15, dataIndex:'PATTERNID'},
			{name:'#springMessage("view.tms.monitor.center.alarm.alertid")', width: 60, dataIndex:'ALERTID'},
			{name:'#springMessage("view.tms.monitor.center.alarm.createtime")', width: 50, dataIndex:'CREATETIME'},
			{name:'#springMessage("view.tms.monitor.center.alarm.txnname")', width: 80, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.monitor.center.alarm.trigrulenum")', width: 25, dataIndex:'TRIGRULENUM'},
			{name:'#springMessage("view.tms.monitor.center.alarm.hitrulenum")', width: 25, dataIndex:'HITRULENUM'},
			{name:'#springMessage("view.tms.monitor.center.alarm.score")', width: 25, dataIndex:'SCORE'},
			{name:'#springMessage("view.tms.monitor.center.alarm.risklevel")', width: 25, dataIndex:'RISKLEVEL'},
			{name:'#springMessage("view.tms.monitor.center.alarm.disposal")', width: 25, dataIndex:'DISPOSAL', render:'tms.rule.disposal'},
			{name:'#springMessage("view.tms.monitor.center.alarm.userid")', width: 40, dataIndex:'USERID'},
			{name:'#springMessage("view.tms.monitor.center.alarm.location")', width: 60, dataIndex:'COUNTRYNAME'}
		],
		ds:{
			url:"/tms/monitor/alarm/get_alarmlist",
			params:{
				"type":"regioncode",
				"regioncode":$('#regioncode').val(),
				"countrycode":$('#countrycode').val(),
				"citycode":$('#citycode').val(),
				"operate_time":$('#operate_time').val(),
				"end_time":$('#end_time').val(),
				"risklevelcode":$('#risklevelcode').val()
			},
			callback:function(list){
				for(var i = 0; i < list.length; i++){
					list[i]['ALERTID']= '<a href="#" onclick="listAlarmDetail(\''+list[i]['ALERTID']+'\')" >'+list[i]['ALERTID']+'</a>';
				}
				
				for(var i = 0; i < list.length; i++){
					if(list[i]['COUNTRYNAME'] == null || list[i]['COUNTRYNAME'] == ''){
						list[i]['COUNTRYNAME'] = '<font color="red">'+'未知'+'</font>';
					}
					if(list[i]['REGIONNAME'] == null || list[i]['REGIONNAME'] == ''){
						list[i]['REGIONNAME'] = '<font color="red">'+'未知'+'</font>';
					}
					if(list[i]['CITYNAME'] == null || list[i]['CITYNAME'] == ''){
						list[i]['CITYNAME'] = '<font color="red">'+'未知'+'</font>';
					}
					list[i]['COUNTRYNAME'] = list[i]['COUNTRYNAME'] + "-" + list[i]['REGIONNAME'] + "-" + list[i]['CITYNAME'] ;
				}
			}
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.find")', toggleQform:true}
		],
		checkboxEnable:false,
		pagebar: true,
		qform: {id:"qformdate", display:false}
	});
	
	//风险分级数据
/*	jcl.postJSON('/tms/monitor/risklevel/list', "", function(data){
		$.each(data.row, function(i,row){
			$("select[name=risklevelcode]").append("<option value='" + row['LEVELID'] + "'>" + row['LEVELNAME'] + "</option>");  
		});
	});*/
	jcl.code.selector('risklevelcode','tms.rule.risktype',{text:'--请选择--',value:''});
	//  tms.rule.risktype
	//国家
	jcl.postJSON('/tms/monitor/alarm/get_all_country', "", function(data){
		$.each(data.row, function(i,row){
			$("select[name=countrycode]").append("<option value='" + row['COUNTRYCODE'] + "'>" + row['COUNTRYNAME'] + "</option>");  
		});
	});
	g.goPage();
	
	$("#quick_search_btn").click(function(){
		
		var startTime = $('#operate_time').val();
		var end_time = $('#end_time').val();
		//if(startTime=="" && end_time!=""){
		//	alert('#springMessage("view.cmc.log.list.msg.beginTime")');
		//	return ;
		//}
		if(startTime!="" && end_time!="" && startTime>end_time){
			alert('#springMessage("view.cmc.log.list.msg.endTimeEarly")');
			return ;
		}
		var params = $('#qformdate').serialize();
		g.setDsParams(params);
		g.goPage();
	});
});
function listAlarmDetail(alertid){
	jcl.go('/tms/monitor/alarm/get_alarmlist_detail?alertid=' + alertid);
}
//地区
function loadRegion(){
	$("#regioncode").find('option').remove().end().append('<option value="">--请选择--</option>');
	$("#citycode").find('option').remove().end().append('<option value="">--请选择--</option>');
	jcl.postJSON('/tms/monitor/alarm/get_region_by_country?country='+$('#countrycode').val(), "", function(data){
		$.each(data.row, function(i,row){
			$("select[name=regioncode]").append("<option value='" + row['REGIONCODE'] + "'>" + row['REGIONNAME'] + "</option>");  
		});
	});
}
//城市
function loadCity(){
	$("#citycode").find('option').remove().end().append('<option value="">--请选择--</option>');
	jcl.postJSON('/tms/monitor/alarm/get_city_by_region?region='+$('#regioncode').val(), "", function(data){
		$.each(data.row, function(i,row){
			$("select[name=citycode]").append("<option value='" + row['CITYCODE'] + "'>" + row['CITYNAME'] + "</option>");  
		});
	});
}
function initParams(){
	var nowDate = new Date();
	var operate_Date = new Date(nowDate.getTime() - 1*60000);
	
	var year = nowDate.getFullYear();
	var month = nowDate.getMonth()+1;//获取本月
	var day = nowDate.getDate();
	var hour = nowDate.getHours();
	var minutes = nowDate.getMinutes();
	var second = nowDate.getSeconds();
	
	var operate_year = operate_Date.getFullYear();
	var operate_month = operate_Date.getMonth()+1;//获取本月
	var operate_day = operate_Date.getDate();
	var operate_hour = operate_Date.getHours();
	var operate_minutes = operate_Date.getMinutes();
	var operate_second = operate_Date.getSeconds();
	
	if(month < 10) month = "0" + month;
	if(day < 10) day = "0" + day;
	if(hour < 10) hour = "0" + hour;
	if(minutes < 10) minutes = "0" + minutes;
	if(second < 10) second = "0" + second;
	
	if(operate_month < 10) operate_month = "0" + operate_month;
	if(operate_day < 10) operate_day = "0" + operate_day;
	if(operate_hour < 10) operate_hour = "0" + operate_hour;
	if(operate_minutes < 10) operate_minutes = "0" + operate_minutes;
	if(operate_second < 10) operate_second = "0" + operate_second;
	
	$('#operate_time').val(operate_year+"-"+operate_month+"-"+operate_day+" "+operate_hour+":"+operate_minutes+":"+operate_second);
	$('#end_time').val(year+"-"+month+"-"+day+" "+hour+":"+minutes+":"+second);
}

</script>
</head>
  <body>
  	<form id="qformdate" name="qformdate" method="post">
  		<table>
			<tr>
				<td width="90" align="right">
					#springMessage("view.tms.report.center.timescope")：
				</td>
				<td width="400">
					<input name="operate_time" id="operate_time" onfocus="jcl_tms.datepicker(this)" readonly="readonly"  type="text" class="tms-itext" value=""/>
		    	-- <input name="end_time" id="end_time" onfocus="jcl_tms.datepicker(this)" readonly="readonly"  type="text" class="tms-itext" value=""/> 
				</td>
			</tr>
			<tr>
				<td width="90" align="right">
					#springMessage("view.tms.monitor.center.alarm.risklevel")：
				</td>
				<td width="400">
					<select id="risklevelcode" name="risklevelcode">
	                  <option value="">--请选择--</option>
	             	</select> 
				</td>
			</tr>
			<tr>
				<td width="90" align="right">
					#springMessage("view.tms.monitor.center.alarm.location")：
				</td>
				<td width="500">
					<select id="countrycode" name="countrycode" onchange="loadRegion();">
		                 <option value="">--请选择--</option>
		            </select>
		            <select id="regioncode" name="regioncode" onchange="loadCity();">
		                 <option value="">--请选择--</option>
		            </select>
		            <select id="citycode" name="citycode">
		                 <option value="">--请选择--</option>
		            </select>
		            <input id="quick_search_btn" type="button" value="#springMessage("ui.common.btn.qquery")" class="btn"/>
				</td>
			</tr>
		</table>
	</form>
  <div id="boxdiv_detailalarm" class="box"></div>
  </body>
</html>
