<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.monitor.center.rulenumst")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="$rc.contextPath/s/tms/css/Style.css" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionCharts/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionMaps/FusionMaps.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/FusionWidgets/FusionCharts.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/PowerCharts/FusionCharts.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	ruleBox = new jcl.ui.Box({
		title:'#springMessage("view.tms.monitor.center.rulenumst")'
	});
	ruleBox.addDom($('#rule_monitor'));
	
	ruleForm = new jcl.ui.Form({
		display: true,
		items:[
			{label:'刷新频率', name:'ruleRefresh', type:'selector', ds:{type:'code', category:'tms.monitor.refleshrate'}},
			{label:'统计范围', name:'scope', type:'selector', items:[
				{text:'当前1小时', value:'currentTime'},
				{text:'过去4小时', value:'4'},
				{text:'过去12小时', value:'12'},
				{text:'过去24小时', value:'24'}
			]}
		]
	}, $('#rule_conds'));
	ruleForm.jqDom.find('.form-item-label').width(80);
	var formItem = ruleForm.jqDom.find('.form-item');
	$.each(formItem, function(i, it){
		$(it).width($(it).width() - 20);
	});
	
	ruleForm.getItem('ruleRefresh').component.onChange(function(){
		ruleChange();
	});
	
	ruleForm.getItem('scope').component.onChange(function(){
		changerulemonitor();
	});
	
	//规则运行监控表格显示
	ruleGrid = new jcl.ui.Grid({
		title: '#springMessage("view.tms.monitor.center.rulegrid")',
		//width:1000,
		//marginTop:15,
		//height:300,
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.find")', toggleQform:true}
		],
		qform:{
			display: false,
			items:[
			    {name:'frm', type:'hidden', value:''},
				{label:'#springMessage("view.tms.monitor.center.rulename")', name:'ruleName', type:'text'}
			],
			btns:[
			      {text:'#springMessage("view.tms.pub.btn.find")', id:'rule-btn-find'}
			]
		},
		table:{
			checkboxEnable:false,
			columns:[
				{name:'#springMessage("view.tms.monitor.center.rulename")', width: 60, dataIndex:'RULEDESC'},
				{name:'#springMessage("view.tms.monitor.center.ruletxnname")', width: 60, dataIndex:'TXNNAME'},
				{name:'#springMessage("view.tms.monitor.center.rulenum")', width: 30, dataIndex:'TXNNUM'},
				{name:'#springMessage("view.tms.monitor.center.rulehit")', width: 30, dataIndex:'NUMHITS'},
				{name:'#springMessage("view.tms.monitor.center.rulehitrate")', width: 30, dataIndex:'RULERATE'},
				{name:'#springMessage("view.tms.monitor.center.ruleresponsetime")', width: 50, dataIndex:'AVGEXEC'}
			],
			ds:{
				url:'/tms/monitor/grid/all/rule'
			},
			pagebar: true
		}
	}, ruleBox.container);
	ruleGrid.jqDom.children('.box-title-wrap').children('.box-title').css({textAlign:'center'});
	ruleGrid.qform.jqDom.find('.form-btns > #rule-btn-find').on('click', function(){
		changerulemonitor();
	});
	
	// 取系统时间，之后进行后续的工作
	jcl.postJSON('/tms/monitor/alarm/time','',function(data){
		var currentTime = data.row.currentTime;//yyyy-MM-dd HH:mm:ss
		// 根据服务器时间算出开始时间
		rulestartTime = new Date(currentTime.substr(0,4),currentTime.substr(5,2)-1,currentTime.substr(8,2),currentTime.substr(11,2),currentTime.substr(14,2),currentTime.substr(17,2));
		if(rulestartTime=='NaN')rulestartTime = new Date();
		rulenowTime = rulestartTime.getTime();
		var seconds = ruleForm.getItem('ruleRefresh').val();
		if(seconds == undefined){
			seconds = "1";
		}
        ruleendTime=rulestartTime.getTime()+Number(seconds)*1000;
		getRuleTime();
	});
	
	changerulemonitor();
	$('#rule_monitor').width(ruleGrid.jqDom.width());
});

//规则命中率仪表盘
function rulehitrate(){
	var chart = new FusionCharts("$rc.contextPath/s/tms/chart/AngularGauge.swf", "ChartId","240", "150", "0", "0");
	chart.setDataXML(dataRuleModel.row[0]);
	chart.render("chartdiv_rmrulehit");
}

//刷新频率改变时，倒计时结束时
function ruleChange(){
	rulestartTime.setTime(rulenowTime);
	var seconds = ruleForm.getItem('ruleRefresh').val();
	if(seconds == undefined){
		seconds = "1";
	}
    ruleendTime=rulestartTime.getTime()+Number(seconds)*1000;
	changerulemonitor();
}

//计时器
function getRuleTime(){
	// 差距时间
	var nMS = ruleendTime - rulenowTime;
	var nM = Math.floor(nMS/(1000*60)) % 60;
	var nS = Math.floor(nMS/1000) % 60;
	if(nM == 0 && nS == 0 && nMS < 1000) //当倒计时结束
	{
		window.focus();
		ruleChange();
	}
	if(nS < 10) nS = "0" + nS;
	if(nMS >= 0){
		$('#reruleTime').text("上次更新时间："+ rulestartTime.getHours()+"时"+rulestartTime.getMinutes()+"分"+rulestartTime.getSeconds() + "秒(" + nM + "分" + nS + "秒)");
	    // 当前时间加1秒
	    rulenowTime = rulenowTime +1*1000;
	    setTimeout("getRuleTime()",1000);
	}
}

//规则运行监控
function changerulemonitor(){
	var rulevalue = ruleForm.getItem('scope').val();
	ruleGrid.qform.getItem('frm').val(rulevalue);
	var ruleName = ruleGrid.qform.getItem('ruleName').val();
    if(IsEmpty(ruleName) && !checkSpecialCharacterInTxn('#springMessage("view.tms.monitor.center.rulename")', ruleName, 2)){
    	return false;
    }
    if(!checkeLength(ruleName, 50)) {
		alert('规则名称不能超过50个字符');
		return false;
    }
    var param = ruleGrid.qform.serialize();
    ruleGrid.table.opts.ds.params = param;
    ruleGrid.goPage();
    jcl.postJSON('/tms/monitor/grid/all/ruleChart', param, function(data){
		dataRuleModel = data;
		rulehitrate();
	});
}
</script>
</head>
<body>
<div id="rule_monitor" style="margin-left:auto;margin-right:auto;">
	<div id="chartdiv_rmrulehit" style="width:240px;float:left;"></div>
	<div id="rule_conds" style="float:left;"></div>
	<div id="reruleTime" style="width:280px;font-size:13px;font-weight:bold;float:right;line-height:26px;text-align:right;"></div>
	<div class="clear"></div>
</div>
</body>
</html>