<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms35.rule.add.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/stat.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	
	var p_win = window.dialogArguments; //得到window参数
	
	var txnId = jQuery.url.param("txnId");
	$('#RULE_TXN').val(txnId);
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms35.rule.add.title")',
		id:'addStatFormBox'
	});
	
	box.addDom('dataForm');
	
	var addDialog = new jcl.ui.Dialog({
		id:'adddialog',
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	addDialog.addDom('#succesInfo');
	
	// 保存
	$("#addBtn").click(function(){
		var ruleDescObject=$('input[name=RULE_DESC]');
		var ruleDesc=ruleDescObject.val();
		
		var ruleCondObject=$('input[name=RULE_COND]');
		var ruleCond=ruleCondObject.val();
		
		var ruleScoreObject=$('input[name=RULE_SCORE]');
		var ruleScore=ruleScoreObject.val();
		
		
		if(Trim(ruleDesc)==""){
			alert('#springMessage("view.tms35.rule.ruleDesc")'+"不能为空");
			ruleDescObject.focus();
			return;
		}else{
			
			if(!checkeLength(ruleDesc,50)){
				alert('#springMessage("view.tms35.rule.ruleDesc")'+'不能超过50个字符');
				ruleDescObject.focus();
				return;
			}
			if(!checkeSpecialCode(ruleDesc)){
				alert('#springMessage("view.tms35.rule.ruleDesc")'+'不能包含特殊字符');
				ruleDescObject.focus();
				return;
			}
			
		}
				
		if(Trim(ruleCond)==""){
			alert('#springMessage("view.tms35.rule.ruleCond")'+"不能为空");
			ruleCondObject.focus();
			return;
		}else{
			
			if(!checkeLength(ruleCond,50)){
				alert('#springMessage("view.tms35.rule.ruleCond")'+'不能超过50个字符');
				ruleCondObject.focus();
				return;
			}
		}
		
		if(Trim(ruleScore)==""){
			alert('#springMessage("view.tms35.rule.ruleScore")'+"不能为空");
			ruleScoreObject.focus();
			return;
		}else{
			
			if(!IsNumber(ruleScore,0)){
				alert('#springMessage("view.tms35.rule.ruleScore")'+'不是整数');
				ruleScoreObject.focus();
				return;
			}
			
		}
		// 在坐标【100,100】开始查找可用的坐标
		var a = p_win.queryUnUsedPoint(100,100);
		$('#X').val(a[0]);
		$('#Y').val(a[1]);
		
		var params = $('#dataForm').serialize();
		//p_win.addNode("1","1112",a[0],a[1]);// 调用父页面增加一个节点
		// 保存当前规则数据和图层数据，如果有子交易还要循环增加/更新所有子交易的图层数据。保存成功后在父页面画图。
		jcl.postJSON('/tms35/rule/getRuleId', params, function(data){
			var json = data.RULE;
			p_win.addNode(json,a[0],a[1]);// 调用父页面增加一个节点
			addDialog.show();
		});
		
	});
	
	// 取消
	$('#cancelBtn').click(function(){
		window.close();
	});
	
	// 继续
	$('#goonBtn').click(function(){
		window.showModalDialog("$rc.contextPath/tms35/rule/add?txnId="+txnId,window.dialogArguments,'dialogWidth=1000px;dialogHeight=600px;resizable=yes');	
		window.close();
	});
	
	// 返回
	$('#backBtn').click(function(){
		window.close();
	});
	
	// 条件框的双击事件，弹出条件编辑页面
	$('#RULE_COND').dblclick(function(){
		var stat_cond = $('#RULE_COND').val();
		var rv = window.showModalDialog("$rc.contextPath/tms/stat/cond?stat_id="+''+"&stat_cond="+stat_cond+"&txnId="+txnId,window,'dialogWidth=1000px;dialogHeight=600px;resizable=yes');	
		$('#RULE_COND').val(rv);
	});
	
	
});
</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.tms.pub.add.success")</div>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.continueCrt")" class="btn" id="goonBtn"/>
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="backBtn"/>
	</div>
</div>


<form name="dataForm" id="dataForm" method="post">
	
<input type="hidden" id="RULE_TXN" name="RULE_TXN"/>
<input type="hidden" id="X" name="X"/>
<input type="hidden" id="Y" name="Y"/>

<ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms35.rule.ruleDesc")：</label> 
		<span class="list-box-item-content"><input name="RULE_DESC" id="RULE_DESC" maxlength="50" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms35.rule.ruleCond")：</label> 
		<span class="list-box-item-content"><input name="RULE_COND" id="RULE_COND" maxlength="256" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms35.rule.ruleScore")：</label> 
		<span class="list-box-item-content"><input name="RULE_SCORE" id="RULE_SCORE"  maxlength="8" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms35.rule.isTest")：</label> 
		<span class="list-box-item-content">
			<input type='checkbox' id='RULE_ISTEST' name='RULE_ISTEST'/>
 		</span>
	</li>
</ul>
<div class="button-box">
	<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="addBtn"/>
	<input type="button" value="#springMessage("view.tms.pub.btn.cancel")" class="btn" id="cancelBtn"/>
</div>
</form>

</body>
</html>