<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>通道开关状态修改历史页面</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">
var g = "";

var id = jQuery.url.param("id");
$(document).ready(function(){
	
	//组装表格     
	g = new jcl.ui.Grid({
		title:'通道开关状态修改历史列表',
		toolbar:[
				{id:"btn-return", icon:"icon-tb-add", text:'返回'}
		],
		qform:{
		},
		table:{
			checkboxEnable:false,
			columns:[
				{name:'修改时间', width: 25, dataIndex:'UPDATE_TIME' , render:'datetime'},
				{name:'修改人工号', width: 25, dataIndex:'UPDATOR_ID'},
				{name:'修改前开关状态', width: 25, dataIndex:'STATUS_OLD'},
				{name:'修改后开关状态', width: 25, dataIndex:'STATUS_NEW'}
			],
			ds:{
				url:"/tms/bankSwitch/hisList",
				params:{'ID':id},
				callback:function(list){
					for(var i = 0; i < list.length; i++){
						if(list[i]['STATUS_OLD']==0)
							list[i]['STATUS_OLD']= '关闭';
						if(list[i]['STATUS_OLD']==1)
							list[i]['STATUS_OLD']= '打开';
						if(list[i]['STATUS_NEW']==0)
							list[i]['STATUS_NEW']= '关闭';
						if(list[i]['STATUS_NEW']==1)
							list[i]['STATUS_NEW']= '打开';
					}
				}
			},
			pagebar: true
		
		}
	});
	g.goPage();
	
	$("#btn-return").click(function(){
    	history.go(-1);
    });
});
</script>

</head>
<body>

<div id="boxdiv" class="box"></div>

<div style="display: none;">
<ul style="list-style:none;" id="exportUL">
	<li class="list-box-item"><a href="#"  id="txt">TXT</a></li>
	<li class="list-box-item"><a href="#"  id="csv">CSV</a></li>
	<li class="list-box-item"><a href="#"  id="xls">Excel2003及以下版本</a></li>
	<li class="list-box-item"><a href="#"  id="xlsx">Excel2007及以上版本</a></li>
</ul>
</div>
</body>
</html>
