<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IP地址维护</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun-plugins.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/scms/js/jquery.request.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">

$(document).ready(function() {
	$('#fmportfile').show();
	$('#IPProgress').hide();
	$('#cityProgress').hide();
	$('#cardProgress').hide();
	$('#mobileProgress').hide();
	$('#time').hide();

	var box = new jcl.ui.Box({
		title : 'IP地址维护',
		id : 'importip'
	});
	box.addDom('succesInfo');

	function FileType(str) {
		allowSubmit = false;
		if (!str) {
			return false;
	}

	while (str.indexOf("\\") != -1) {
		str = str.slice(str.indexOf("\\") + 1);
	}

	ext = str.slice(str.indexOf(".")).toLowerCase();

	if (ext == ".csv") {
		url = "$rc.contextPath/tms/ip/import";
		allowSubmit = true;
	} else {
		allowSubmit = false;
	}
	return allowSubmit;
}

	$("#importfile").click(function() {
		if ($("input[name='importIPFile']").val() == '' || $("input[name='importCityFile']").val() == '') {
			alert('请添加所要导入的文件！');
			return false;
		}
		if (!FileType($("input[name='importIPFile']").val()) || !FileType($("input[name='importCityFile']").val())) {
			alert('只能导入.csv文件！');
			return false;
		}

		$('#time').show();
		$('#cityProgress').show();
		$('#IPProgress').show();
		$('#cardProgress').show();
		$('#mobileProgress').show();
		$('#importfile').hide();
		$('.point').hide();
		
		window.document.dataForm.action = url;
		window.document.dataForm.submit();
		
		getProgress();
		studyTime();
	});
});

function setImportProgress(domId, progress) {
    if (progress) { 
        $("#" + domId + " > span").css("width", String(progress) + "%"); 
        $("#" + domId + " > span").html(String(progress) + "%"); 
    } 
} 
//获取子窗口的进度参数
function getProgress() {
	var IPProgress = $('#IPPro').val();
	var cityProgress = $('#cityPro').val();
	var cardProgress = $('#cardPro').val();
	var mobileProgress = $('#mobilePro').val();
	var errorInfo = $('#error').val();
	if (IsEmpty(errorInfo)) {
		alert(errorInfo);
		jcl.go('/tms/ip/protect');
	}
	if(IPProgress != 0) {
		setImportProgress("IPProgress", IPProgress);
	}
	if(cityProgress != 0) {
		setImportProgress("cityProgress", cityProgress);
	}
	if(cardProgress != 0) {
		setImportProgress("cardProgress", cardProgress);
	}
	if(mobileProgress != 0) {
		setImportProgress("mobileProgress", mobileProgress);
	}
	if (IPProgress >= 100 && cityProgress >= 100
			&& cardProgress >= 100 && mobileProgress >= 100) {
    	alert("文件已导入!"); 
        jcl.go('/tms/ip/protect');
	}
	setTimeout("getProgress()", 1000);
}
//计时
var hour = 0, minute = 0, second = 0;
var t = 0;
function studyTime() {
	hour = parseInt(t / 60 / 60);
	if(hour < 10) {
		hour = "0" + hour;
	}
	minute = parseInt(t / 60 % 60);
	if(minute < 10) {
		minute = "0" + minute;
	}
	second = parseInt(t % 60);
	if(second < 10) {
		second = "0" + second;
	}
	var time = hour + ":" + minute + ":" + second;
	$('#costTime').html(time);
	t = t + 1;
	setTimeout("studyTime()", 1000);
}
</script>
<style type="text/css">
.progress {
 	position:absolute; 
	background: white;
	height: 20px;
	padding: 2px;
 	border: 1px solid green; 
 	margin: 2px; 
 	left: 310px; 
	display: inline; 
}

.progress span {
	background: green;
	height: 16px;
	text-align: center;
	padding: 1px;
	margin: 1px;
	display: block;
	color: yellow;
	font-weight: bold;
	font-size: 14px;
	width: 0%;
}

#time {
	position:absolute;
	width:143px;
	height:115px;
	z-index:1;
	font-size: 20px;
	color: blue;
	left: 702px;
	top: 49px;
}
</style>
</head>
<body>
<div id="succesInfo">
	<form id="dataForm" name="dataForm" target="send" method="post" enctype="multipart/form-data">
		<span>IP地址文件：</span> 
		<br /> 
		<span><input name="importIPFile" id="importIPFile" type="file" /><font class="point" color="red"> 请导入.CSV文件</font></span><div id="IPProgress" class="progress" style="width: 300px; height: 20px; top: 58px;"><span></span></div>
		<p></p>
		<span>城市代码文件：</span> 
		<br /> 
		<span><input name="importCityFile" id="importCityFile" type="file" /><font class="point" color="red"> 请导入.CSV文件</font></span><div id="cityProgress" class="progress" style="width: 300px; height: 20px; top: 104px;"><span></span></div>
  		<p></p>
  		<span>身份证号段文件：</span> 
		<br /> 
		<span><input name="importCardFile" id="importCardFile" type="file" /><font class="point" color="red"> 请导入.CSV文件</font></span><div id="cardProgress" class="progress" style="width: 300px; height: 20px; top: 150px;"><span></span></div>
  		<p></p>
  		<span>手机号段文件：</span> 
		<br /> 
		<span><input name="importMobileFile" id="importMobileFile" type="file" /><font class="point" color="red"> 请导入.CSV文件</font></span><div id="mobileProgress" class="progress" style="width: 300px; height: 20px; top: 196px;"><span></span></div>
  		<!-- iframe提交 -->
  		<p></p>
  		<iframe id="send" name="send" style="display:none"></iframe>
	    <div id="time">
	      <p>已用时间：</p>
	      <span id="costTime"></span>
	    </div>
	</form>
	<p></p>
	<input type="hidden" id="error" name="error" />
	<input type="hidden" id="cityPro" name="cityPro" />
	<input type="hidden" id="IPPro" name="IPPro" />
	<input type="hidden" id="cardPro" name="cardPro" />
	<input type="hidden" id="mobilePro" name="mobilePro" />
	<input type="button" value='确定' class="btn" id="importfile" />
</div>
</body>
</html>