<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>获取上传进度</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/fun-plugins.js" charset="gb2312"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/scms/js/jquery.request.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	jcl.postJSON('/tms/ip/recordImpInfo', "", function(data){
	})
	getProgress();
});
var i = 0;
function getProgress() {
	jcl.postJSON('/tms/ip/getProgress', "", function(data) {
		var errorInfo = data.errorInfo;
		var IPProgress = data.IPProgress;
		var cityProgress = data.cityProgress;
		var cardProgress = data.cardProgress;
		var mobileProgress = data.mobileProgress;
		//将进度信息赋值给父窗口的隐藏标签
		//错误信息
		$(window.parent.document).find('#error').val(errorInfo);
		//IP地址文件导入进度
		$(window.parent.document).find('#IPPro').val(IPProgress);
		//城市代码文件导入进度
		$(window.parent.document).find('#cityPro').val(cityProgress);
		//身份证号段文件导入进度
		$(window.parent.document).find('#cardPro').val(cardProgress);
		//手机号段文件导入进度
		$(window.parent.document).find('#mobilePro').val(mobileProgress);
		
		if (!IsEmpty(errorInfo) && (IPProgress < 100 || cityProgress < 100
				|| cardProgress < 100 || mobileProgress < 100)) {
			setTimeout("getProgress()", 1000);
			i++;
		}
	}, false);
}
</script>
</head>
<body>
</body>
</html>