<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.mgr.namelist.add.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.mgr.namelist.add.title")',
		id:'addNameListFormBox'
	});
	
	box.addDom('dataForm');
	
	var dialog = new jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialog.addDom('succesInfo');
	
	// 保存
	$("#addBtn").click(function(){
		var rosterdescObject=$('input[name=rosterdesc]');
		var rosterdesc=rosterdescObject.val();
		
		var rostertypeObject=$('select[name=rostertype]');
		var rostertype=rostertypeObject.val();
		
		var datatypeObject=$('select[name=datatype]');
		var datatype=datatypeObject.val();
		
		var remarkObject=$('textarea[name=remark]');
		var remark=remarkObject.val();
		
		var rosternameObject = $("input[name=rostername]");
		var rostername = rosternameObject.val();
		
		if(Trim(rostername)==""){
			alert('#springMessage("view.tms.mgr.namelist.add.rostername.check")');
			rosternameObject.focus();
			return;
		}else{
			if(!checkeLength(rostername,32)){
				alert('#springMessage("view.tms.mgr.namelist.rostername")'+'不能超过32个字符');
				rosternameObject.focus();
				return;
			}
			//rostername只能包含英文字母
			if(!isEnglishLetters(rostername)){
				alert('#springMessage("view.tms.mgr.namelist.rostername")'+'只能包含英文字母');
				rosternameObject.focus();
				return;
			}
		}
		
		if(Trim(rosterdesc)==""){
			alert('#springMessage("view.tms.mgr.namelist.add.rosterdesc.check")');
			rosterdescObject.focus();
			return;
		}else{
			if(!checkeLength(rosterdesc,20)){
				alert('#springMessage("view.tms.mgr.namelist.rosterdesc")'+'不能超过20个字符');
				rosterdescObject.focus();
				return;
			}
			//rosterdesc不能包含特殊字符
			if(!checkeSpecialCode(rosterdesc)){
				alert('#springMessage("view.tms.mgr.namelist.rosterdesc")'+'不能包含特殊字符');
				rosterdescObject.focus();
				return;
			}
		}
		
		if(datatype==""){
			alert('#springMessage("view.tms.mgr.namelist.add.datatype.check")');
			datatypeObject.focus();
			return;
		}
		
		if(rostertype==""){
			alert('#springMessage("view.tms.mgr.namelist.add.rostertype.check")');
			rostertypeObject.focus();
			return;
		}
		
		if(remark != ""){
			if(!checkeLength(remark,170)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'最多不能超过170个字符');
				rosterdescObject.focus();
				return;
			}
			if(!checkeSpecialCode(remark)){
				alert('#springMessage("view.tms.mgr.namelist.rosterdesc")'+'不能包含特殊字符');
				rosternameObject.focus();
				return;
			}
		}
		
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/mgr/add', params, function(data){
			dialog.show();
		});
		
	});
	
	// 取消
	$('#cancelBtn').click(function(){
		window.close();
	});
	
	// 继续
	$('#goonBtn').click(function(){
		window.showModalDialog('$rc.contextPath/tms/mgr/add','名单添加','dialogWidth=1000px;dialogHeight=600px;resizable=yes');	
		window.close();
	});
	
	// 返回
	$('#backBtn').click(function(){
		window.close();
	});
	
	// 数据类型下拉列表
	jcl.code.selector('datatype','tms.model.datatype.roster',{text:'--请选择--',value:''});
	
	// 名单类型下拉列表
	jcl.code.selector('rostertype','tms.mgr.rostertype',{text:'--请选择--',value:''});
});

//检查字符串是否为全英文字母
function isEnglishLetters(str){
	var regx = /^[A-Za-z]+$/;
	if(regx.test(str)){
		return true;
	}
	return false;
}
</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.tms.pub.add.success")</div>
	<div class="button-box">
		<input type="button" value='#springMessage("view.tms.pub.btn.continueCrt")' class="btn" id="goonBtn"/>
		<input type="button" value='#springMessage("view.tms.pub.btn.banck")' class="btn" id="backBtn"/>
	</div>
</div>


<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.rostername")：</label> 
		<span class="list-box-item-content"><input name="rostername" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.rosterdesc")：</label> 
		<span class="list-box-item-content"><input name="rosterdesc" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.datatype")：</label> 
		<span class="list-box-item-content"> <select name="datatype" id="datatype">
                     <option value="">--请选择--</option>
               </select><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.rostertype")：</label> 
		<span class="list-box-item-content"> <select name="rostertype" id = 'rostertype'>
                     <option value="">--请选择--</option>
               </select><font color="red" id="fontid_type">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.iscache")：</label> 
		<span class="list-box-item-content">
			<input type="radio" name="iscache" value="1" checked="checked" /> 是
			<input type="radio" name="iscache" value="0" /> 否
 		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.remark")：</label> 
			<span class="list-box-item-content"><textarea  name="remark" id="remark" class="ttext" rows="3" cols="20"></textarea>
		</span>
	</li>
</ul>
<div class="button-box">
	<input type="button" value='#springMessage("view.tms.pub.btn.save")' class="btn" id="addBtn"/>
	<input type="button" value='#springMessage("view.tms.pub.btn.cancel")' class="btn" id="cancelBtn"/>
</div>
</form>

</body>
</html>