<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.namelist.import")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var rosterId = jQuery.url.param("rosterId");
	var rosterdesc = jQuery.url.param("rosterdesc");
	$("#ROSTERID").val(rosterId);
	$("#ROSTERDESC").val(rosterdesc);
	
   var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.namelist.import.title")',
		id:'importNameList'
	});
	box.addDom('dataForm');
	
	var editloading = new jcl.ui.Loading({
	         id:'rulemapedit-loading',
	         zindex : 800
	});
	
	//点击确定
	$("#importfile").click(function(){
		if($("input[name='importFile']").val() == '') {
			alert('#springMessage("view.tms.mgr.namelist.condition.impbody.title")!');
			return false;
		}
		if(!FileType($("input[name='importFile']").val())) {
			alert('#springMessage("view.tms.rule.condition.impbody.only")');
			return false;
		}
		window.document.dataForm.action=url;
		window.document.dataForm.submit();
	});
	
	//点击取消
	$('#cancelBtn').click(function(){
		jcl.go('/tms/mgr/list');
	});

	//判断导入时的文件类型
	function FileType(str) {
		allowSubmit = false; 
		if (!str) {
			return false;
		}
		
		while (str.indexOf("\\") != -1){
			str = str.slice(str.indexOf("\\") + 1);
		}
		ext = str.slice(str.indexOf(".")).toLowerCase();	
		if(ext==".xls" || ext==".xlsx" || ext==".csv" || ext==".txt"){
			url="$rc.contextPath/tms/mgr/import"
			$("#FORMAT").val(ext);	//文件扩展名
			allowSubmit = true;
		}
		return allowSubmit;
	}
});

</script>

</head>
<body>

<div id="succesInfo">
</div>

<form id="dataForm" name="dataForm" method="post"  enctype="multipart/form-data">
	<ul class="list-box">
		<li class="list-box-item">
			<label>#springMessage("view.tms.mgr.namelist.condition.impbody.title"):</label> 
			<span>
				<input name="importFile" id="importFile" type="file"/>
			</span>
		</li>
	</ul>
	<div class="button-box">
			 <input name="ROSTERID" id="ROSTERID" type="hidden"></input>
			 <input name="ROSTERDESC" id="ROSTERDESC" type="hidden"></input>
			 <input name="FORMAT" id="FORMAT" type="hidden"></input>
		     <input type="button" value='#springMessage("view.tms.pub.btn.sure")' class="btn" id="importfile"/>
			 <input type="button" value='#springMessage("view.cmc.pub.btn.banck")' class="btn" id="cancelBtn"/>   
	</div>
</form>

<div id="faileInfo">
</div>

</body>
</html>
