<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>暂停结算客户处理</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	//组装表格
	var g = new jcl.ui.Grid({
		title:'暂停结算客户列表',
		qform:{
			display: true,
			layout: 'list',
			items:[
				{label: '注册手机号', name: 'MOBILE', type: 'text'},
				{label: '客户名称', name: 'CUSNAME', type: 'text'},
				{label: '客户号', name: 'USERID', type: 'text'},
				{label: '时间范围',type: 'dateduration', duraSeparator:' ', viewSeparator:'至', 
					layout:'datetime', items:[{name:'startTime'},{name:'endTime'}]}
			
			], btns:[
				{id: 'quick_search_btn', text: '查询'},
				{id: 'btn-query-reset', text: '重置'}	
			]
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'查询', action:'toggleQform'},
			{id:"btn-export", icon:"icon-tb-add", text:'导出', enable:'oneRowSelected'}

		],
		table:{
			columns:[
				{name:'注册手机号', width: 20, dataIndex:'MOBILE'},
				{name:'客户名称', width: 15, dataIndex:'CUSNAME'},
				{name:'客户号', width: 25, dataIndex:'USERID',},
				{name:'暂停结算时间', width: 25, dataIndex:'PS_TIME',render:'datetime'},
				{name:'操作', width: 50, dataIndex:'OPERATE_RESULT'}
			],
			ds:{
				url:"/tms/assignAuto/paySuspend",
				params:{},
				callback:function(list){
					for(var i = 0; i < list.length; i++){
						list[i]['OPERATE_RESULT']= (list[i]['SUSPEND']=='1'?'暂停结算':'取消暂停结算')+"  "+(list[i]['BLOCK']=='1'?'冻结账户':'取消冻结账户')+"  "+(list[i]['BLACKLIST']=='1'?'添加黑名单':'取消添加黑名单');
					}
				}
			},
			pagebar: true
		}
	});
	
	g.goPage();
	
	$("#btn-query-reset").click(function(){
		g.qform.reset();
	});
	
	
	$("#quick_search_btn").click(function(){
		var mobile = g.qform.jqDom.find('[name=MOBILE]').val();
		var userid = g.qform.jqDom.find('[name=USERID]').val();
		var cusname = g.qform.jqDom.find('[name=CUSNAME]').val();
		var startTime = g.qform.jqDom.find('input[name=startTime]').val();
		var endTime = g.qform.jqDom.find('input[name=endTime]').val();
		
		if(mobile!=""&&!/^[0-9]*$/.test(mobile)){
			alert('注册手机号只能输入数字！');
			return;
		}
		if(cusname!=""&&!/^[\u4e00-\u9fa5]*$/.test(cusname)){
			alert('请输入中文！');
			return;
		}		
		if(userid!=""&&!/^[0-9]*$/.test(userid)){
			alert('客户号只能输入数字！');
			return;
		}
		if(startTime!="" && endTime!="" && startTime>endTime){
			alert('结束时间不能早于开始时间！');
			return ;
		}
		var params = g.qform.jqDom.serialize();
		g.setDsParams(params);
		g.goPage();
		
	});
	
	var dialogExp;
	//导出
	g.toolbar.onClick('#btn-export', function(){
	var rows = g.selectedRows();
		if(rows.length == 0){ 
			alert('请选中一条记录');
			return;
		}
		if(rows.length>1){
			alert('只能选中一条记录');
			return;
		}
		
		dialogExp = new jcl.ui.Dialog({
			title:'选择导出名单格式'
		});
		dialogExp.addDom('exportUL');
		dialogExp.show();
			
     });

	$('#txt,#csv,#xls,#xlsx').click(function(){
		var flag = $(this).attr('id');
		var params = g.qform.jqDom.serialize() + "&"  + "&flag="+flag;
		exportAction(dialogExp, params);
	});

});

function exportAction(dialog, params){
	dialog.hide();	
	//var url = '/tms-web/tms/mgr/export?' + params;
 	//window.open(url);
	
	var rowData = g.table.selectedOneRow();
	
	export_form.set({rosterId:rowData.ROSTERID,rosterdesc:rowData.ROSTERDESC});
	var export_params = export_form.serialize();
 	jcl.postJSON('', export_params, function(data){
	});
}

</script>

<style type="text/css">
.grid{
    margin:0 10px;
    padding-right:10px;
}
</style>

</head>
<body>
<div style="display: none;">
<ul style="list-style:none;" id="exportUL">
	<li class="list-box-item"><a href="#"  id="txt">TXT</a></li>
	<li class="list-box-item"><a href="#"  id="csv">CSV</a></li>
	<li class="list-box-item"><a href="#"  id="xls">Excel2003及以下版本</a></li>
	<li class="list-box-item"><a href="#"  id="xlsx">Excel2007及以上版本</a></li>
</ul>
</body>
</html>