<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安全终端管理页面</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script>
<script type="text/javascript">

var g = "";
$(document).ready(function(){
	//组装表格     
	g = new jcl.ui.Grid({
		title:'安全终端管理列表',
		marginTop:1,
		qform:{
			display: false,
			layout: 'list',
			items:[
				{label: '客户号', name: 'USERID', type: 'text'},
				{label: '终端ID', name: 'DEVICE_ID', type: 'text'},
				{label: '创建时间',type: 'dateduration', duraSeparator:' 到  ', layout:'datetime', 
					items:[{name:'startTime'},{name:'endTime'}]}
			],btns:[
				{id: 'quick_search_btn', text: '#springMessage("view.cmc.but.find")'},
				{id: 'btn-query-reset', text: '重置'}	
			]
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.find")', action:'toggleQform'},
			{id:"btn-add", icon:"icon-tb-add", text:'#springMessage("view.tms.pub.btn.new")'},
			{id:"btn-edit", icon:"icon-tb-edit", text:'#springMessage("view.tms.pub.btn.edit")', enable:'oneRowSelected'}
			
		],
		table:{
			columns:[
				{name:'客户号', width: 20, dataIndex:'USER_ID'},
				{name:'终端ID', width: 13, dataIndex:'DEVICE_ID'},
				{name:'风险等级', width: 13, dataIndex:'RISK_LEVEL'},
				{name:'客户姓名', width: 13, dataIndex:'CUSNAME'},
				{name:'状态', width: 8, dataIndex:'STATUS' , render:'tms.safe.card.status'},
				{name:'描述', width: 8, dataIndex:'DESCR'},
				{name:'创建时间', width: 25, dataIndex:'CREATED_DATE', render:'datetime'},
				{name:'修改时间', width: 25, dataIndex:'UPDATED_DATE', render:'datetime'}
			],
			ds:{
				url:"/tms/safeDevice/list",
				params:{}
			},
			pagebar: true
		
		}
	});
	g.jqDom.find('div.form-btns').attr("style","height:30px");
	g.jqDom.find('#quick_search_btn').attr("style","margin-left:110px;float:left;");
	g.jqDom.find('#btn-query-reset').attr("style","float:left;");
	g.goPage();	
	
	$("#btn-query-reset").click(function(){
		g.qform.reset();
	});
	
	$("#quick_search_btn").click(function(){
		var device_id = g.qform.jqDom.find('[name=DEVICE_ID]').val();
		var userid = g.qform.jqDom.find('[name=USERID]').val();
		var startTime = g.qform.jqDom.find('input[name=startTime]').val();
		var endTime = g.qform.jqDom.find('input[name=endTime]').val();
		
		if(!checkeLength(userid,32)){
			alert('客户号不能超过32个字符');
			return false;
		}
		if(device_id!=""&&!/^[0-9]*$/.test(device_id)){
			alert('终端ID只能输入数字！');
			return;
		}
		if(!checkeLength(device_id,15)){
			alert('终端ID不能超过15个数字');
			return false;
		}
		
		if(startTime!="" && endTime!="" && startTime>endTime){
			alert('结束时间不能早于开始时间！');
			return ;
		}
		var params = g.qform.jqDom.serialize();
		g.setDsParams(params);
		g.goPage();
		
	});
	
	//新增
	var addDialog = new jcl.ui.Dialog({title:'新增安全终端', draggable: true});
	
	var addForm = new jcl.ui.Form({
		display: false,
		layout: 'list',
		items:[
			{label:'终端ID', name:'DEVICE_ID', type: 'text' ,required:true},
			{label:'备注', name: 'DESCR',	type:'textarea'}
			
		],
		btns:[
			{text: '#springMessage("view.tms.pub.btn.save")', cls: 'addBtn'},
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
		]
	});
    addDialog.addDom(addForm.jqDom); 
    
    g.toolbar.onClick('#btn-add', function(){
    	addForm.reset();
		addDialog.show();
    });
    
    addForm.jqDom.find('.addBtn').click(function(){

    	var device_id = addForm.getItem('DEVICE_ID').val();
		var descr = addForm.getItem('DESCR').val();
    	if(device_id==""||(!/^[0-9]*$/.test(device_id))){
    		alert("请输入一个终端ID,且必须为数字");
    		return;
    	}
		if(!checkeLength(device_id,15)){
			alert('终端ID不能超过15个数字');
			return false;
		}
		
		if(!checkeLength(descr,500)){
			alert('备注不能超过500个字符');
			return ;
		}
		
    	var params = $.param(addForm.data());//addForm.jqDom.serialize();
		jcl.postJSON('/tms/safeDevice/add', params, function(data){
			addDialog.hide();
			jcl.msg.info('#springMessage("view.cmc.pub.add.success")');
			g.goPage();
		});
		
	}).end().find('.cancelBtn').click(function(){
		addDialog.hide();
	});
    
    //编辑
	var editDialog = new jcl.ui.Dialog({title:'修改安全终端状态', draggable: true});
	
	var editForm = new jcl.ui.Form({
		display: false,
		layout: 'list',
		items:[
			{label:'终端ID', name:'DEVICE_ID', type: 'hidden' },
			{label:'状态', name:'STATUS' , type: 'radio', value: '0',
				items:[{text:'删除', value:'0'},{text:'正常', value:'1'}],required:true},
			{label:'备注', name: 'DESCR',	type:'textarea'}
			
		],
		btns:[
			{text: '#springMessage("view.tms.pub.btn.save")', cls: 'editBtn'},
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
		]
	});
    editDialog.addDom(editForm.jqDom); 
    
    g.toolbar.onClick('#btn-edit', function(){
    	var rows = g.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.cmc.pub.checkbox.msg0")!');
			return;
		}
		if(rows.length>1){
			alert('#springMessage("view.cmc.pub.checkbox.msg1")!');
			return;
		}
		
		var device_id = rows[0]["DEVICE_ID"];
		var status = rows[0]["STATUS"];
		var descr = rows[0]["DESCR"];
		if(descr==null)
			descr="";
		editForm.set({'DEVICE_ID': device_id,
				'STATUS': status,
				'DESCR': descr
				});
		editDialog.show();
    });
    
    editForm.jqDom.find('.editBtn').click(function(){
		var descr = editForm.getItem('DESCR').val();
    	if(!checkeLength(descr,500)){
			alert('备注不能超过500个字符');
			return ;
		}
		
    	var params = $.param(editForm.data());//addForm.jqDom.serialize();
		jcl.postJSON('/tms/safeDevice/mod', params, function(data){
			editDialog.hide();
			jcl.msg.info('#springMessage("view.tms.pub.edit.success")');
			g.goPage();
		});
    	
	}).end().find('.cancelBtn').click(function(){
		editDialog.hide();
	});  
    
});

</script>

</head>
<body>

<div id="boxdiv" class="box"></div>

</body>
</html>