<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.mgr.valueviewlist.edit.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/tms_mgr_roster.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var rosterValueId = jQuery.url.param("rosterValueId");
	var rosterId = jQuery.url.param("rosterId");
	var datatype = jQuery.url.param("datatype");
	var rostername = jQuery.url.param("rosternamenote");
	$('#rosterValueId').val(rosterValueId);
	$('#datatype').val(datatype);
	$('#rosterId').val(rosterId);
	$('#rostername').val(rostername);
	
	var qtype = jQuery.url.param("qtype");
	var url = "/tms/mgrView/valueget";
	if(qtype=='new'){
		url = "/tms/mgr/valueget";
	}
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.mgr.valueviewlist.edit.title")',
		id:'editValueEditFormBox'
	});
	box.addDom('dataForm');
	
	var dialog = jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialog.addDom('succesInfo');
	
	jcl.postJSON(''+url, "rosterValueId="+rosterValueId + "&datatype="+datatype, function(data){
			$('#valuestart').val(data.row.VALUESTART);
			$('#valueend').val(data.row.VALUEEND);
			$('#startdate').val(data.row.STARTDATE);
			$('#enddate').val(data.row.ENDDATE);
			$('#rosterdesc').val(data.row.VALUEDESC);
	});
	
	if(datatype == 'TimeType'){
		
		$('#valuestart').attr("readonly","true");
		$('#valueend').attr("readonly","true");
		
		$('#valuestart').focus(function(){
			jcl_tms.datepicker(this);// 在表单控件上使用日期控件
		});
		$('#valueend').focus(function(){
			jcl_tms.datepicker(this);// 在表单控件上使用日期控件
		});
		
	}else{
		$('#valuestart').focus(function(){
			showHintByType(this,datatype);// 焦点显示提示信息
		});
		$('#valueend').focus(function(){
			showHintByType(this,datatype);// 焦点显示提示信息
		});
		$('#valuestart').blur(function(){
			fz_hiddenHintLayer();// 焦点移开隐藏提示信息
		});
		$('#valueend').blur(function(){
			fz_hiddenHintLayer();// 焦点移开隐藏提示信息
		});
		
	}
	
	
	$('#backBtn').click(function(){
		window.close();
	//	jcl.go('/tms/mgr/valuelist?rosterId=' +　rosterId + '&datatype=' + datatype);
	});
	
	$('#cancelBtn').click(function(){
		window.close();
	//	jcl.go('/tms/mgr/valuelist?rosterId=' +　rosterId + '&datatype=' + datatype);
	});
	
});

</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.cmc.pub.edit.success")</div>
	<div class="button-box">
		<input type="button" value='#springMessage("view.cmc.pub.btn.sure")' class="btn" id="backBtn"/>
	</div>
</div>

<div id="openDiv"></div>

<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<li class="list-box-item" >
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.valuestart")：</label> 
		<span class="list-box-item-content"> 
		<input id="valuestart" name="valuestart" maxlength="128" type="text" class="itext" disabled="disabled" />
		
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.valueend")：</label> 
		<span class="list-box-item-content">
		<input id="valueend" name="valueend" maxlength="128" type="text" class="itext"  disabled="disabled" /></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.startime")：</label> 
		<span class="list-box-item-content">
		<input id="startdate" name="startdate" onfocus="jcl.datepicker(this)" disabled="disabled"  type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.endtime")：</label> 
		<span class="list-box-item-content">
		<input id="enddate" name="enddate" onfocus="jcl.datepicker(this)" disabled="disabled"  type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.rosterdesc")：</label> 
		<span class="list-box-item-content">
		<textarea id="rosterdesc" maxlength="512" class="ttext" name="rosterdesc"  disabled="disabled" ></textarea></span>
	</li>
</ul>
<div class="button-box">
	
	<input type="button" value="#springMessage("view.tms.pub.btn.close")" class="btn" id="cancelBtn"/>
	<input name="rosterValueId" id="rosterValueId" type="hidden" class="itext" />
	<input name="rosterId" id="rosterId" type="hidden" class="itext" />
	<input name="datatype" id="datatype" type="hidden" class="itext" />
	<input type="hidden" id="rostername" name="rostername" value="" />
</div>
</form>

</body>
</html>
