<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<title>#springMessage("view.tms.mgr.valuelist.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script>
<script type="text/javascript">
var g = '';
var dialog = '';
var datatype = '';
var rostertype = '';
var rosterdescVal = '';

$(document).ready(function(){
	var rosterId = jQuery.url.param("rosterId");
	var datatype = jQuery.url.param("datatype");
	$('#ROSTERID').val(rosterId);
	
	//组装表格
	g = $("#boxdiv").grid({
		title:'#springMessage("view.tms.mgr.valuelist.title")',
		qform:{
			display: false,
			items:[
				{label: '名单值', name: 'ROSTERVALUE'}
			],btns:[
				{id: 'quick_search_btn', text: '#springMessage("view.cmc.but.find")'}
			]
		},
		columns:[
			{name:'#springMessage("view.tms.mgr.valuelist.value")', width: 40, dataIndex:'ROSTERVALUE'},
			{name:'#springMessage("view.tms.mgr.valuelist.enabletime")', width: 30, dataIndex:'ENABLETIME'},
			{name:'#springMessage("view.tms.mgr.valuelist.disabletime")', width: 30, dataIndex:'DISABLETIME'},
			{name:'#springMessage("view.tms.mgr.valuelist.createtime")', width: 30, dataIndex:'CREATETIME'},
			{name:'#springMessage("view.tms.mgr.namelist.remark")', width: 40, dataIndex:'REMARK'}
		],
		ds:{
			url:"/tms/mgr/valuelist?rosterId="+rosterId + "&datatype=" + datatype,
				params:{}
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("view.tms.pub.btn.find")', action:'toggleQform'},
			{id:"btn-add", icon:"icon-tb-add", text:'#springMessage("view.tms.pub.btn.new")'},
			{id:"btn-edit", icon:"icon-tb-edit", text:'#springMessage("view.tms.pub.btn.edit")', enable:'oneRowSelected'},
			{id:"btn-del", icon:"icon-tb-del", text:'#springMessage("view.tms.pub.btn.del")', enable:'rowSelected'},
			{id:"btn-valueMgr", icon:"icon-tb-edit", text:'#springMessage("view.tms.pub.btn.valueChange")', enable:'oneRowSelected'},
			{id:"btn-back", icon:"icon-tb-aw-l", text:'#springMessage("view.tms.pub.btn.banck")'}
		],
		pagebar: true,
// 		qform: {id:"qform1", display:true}

	});
	g.goPage();
	// 查询
	$("#quick_search_btn").click(function(){
		var params = g.qform.jqDom.serialize();
		g.setDsParams(params);
		g.goPage();
	});
	
	var isstat = 0; 
	//取页面数据
	jcl.postJSON('/tms/mgr/get', "rosterId="+rosterId, function(data){
			datatype = data.row["DATATYPE"];
			rostertype = data.row["ROSTERTYPE"];
			rosterdescVal = data.row["ROSTERDESC"];
			var str = $('.box-title').html();
			$('.box-title').html(str+"->"+data.row['ROSTERDESC']);
// 			$('#rostername').html(data.row['ROSTERNAME']);
// 			$('#rosterdesc').html(data.row["ROSTERDESC"]);
// 			$("#datatype").html(jcl.convert(datatype,'tms.model.datatype.roster'));
// 			$('#rostertype').html(jcl.convert(rostertype,'tms.mgr.rostertype'));
	});
	
	var addDialog = new jcl.ui.Dialog({title:'#springMessage("view.tms.mgr.valuelist.add.title")', draggable: true});
	var editDialog = new jcl.ui.Dialog({title:'#springMessage("view.tms.mgr.valuelist.edit.title")', draggable: true});
	
	var addForm =  new jcl.ui.Form({
		display: false,
		layout: 'list',
		items:[
			{label: 'ROSTERID', name: 'ROSTERID', value: rosterId, type: 'hidden'},
			{label: 'datatype', name: 'datatype', value: datatype, type: 'hidden'},
			{label: '#springMessage("view.tms.mgr.namelist.rosterdesc")', name: 'rosterdesc', type: 'hidden'},
			{label: '#springMessage("view.tms.mgr.valuelist.value")', name: 'rostervalue', required:true},
			{label: '#springMessage("view.tms.mgr.valuelist.enabletime")', name: 'enabletime', required:true, type: 'date', layout:'datetime'},
			{label: '#springMessage("view.tms.mgr.valuelist.disabletime")', name: 'disabletime', type: 'date', layout:'datetime'},
			{label: '#springMessage("view.tms.mgr.namelist.remark")', name: 'remark', type: 'textarea'}
		],btns:[
			{text: '#springMessage("view.tms.pub.btn.save")', cls: 'addBtn'},
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
		]
	});
	
	addDialog.addDom(addForm.jqDom);
	
	addForm.jqDom.find('.addBtn').click(function(){
	
		var value = addForm.getItem('rostervalue').val();
		var remark = addForm.getItem('remark').val();
		var enabletime = addForm.getItem('enabletime').val();
		var disabletime = addForm.getItem('disabletime').val();
		
		//名单值
		if(Trim(value)==""){
			alert('#springMessage("view.tms.mgr.valuelist.add.value.check")');
			addForm.getItem('rostervalue').component.focus();
			return;
		}else{
			//长度检查
			if(!checkeLength(value,64)){
				alert('#springMessage("view.tms.mgr.valuelist.value")'+'不能超过64个字符');
				addForm.getItem('rostervalue').component.focus();
				return;
			}
			//特殊字符检查
			if(datatype != 'ip' && !checkeSpecialCode(value)){
				alert('#springMessage("view.tms.mgr.valuelist.value")'+'不能包含特殊字符');
				addForm.getItem('rostervalue').component.focus();
				return;
			}
			//格式检查
			if (datatype == 'ip'&&!isIP(value)) {
				alert("IP名单值格式错误");
				addForm.getItem('rostervalue').component.focus();
				return;
			} 
		}
		
		if(remark != "") {
			if(!checkeLength(remark,512)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'不能超过512个字符');
				addForm.getItem('remark').component.focus();
				return;
			}
			if(!checkeSpecialCode(remark)){
				alert('#springMessage("view.tms.mgr.namelist.check.remark")');
				addForm.getItem('remark').component.focus();
				return;
			}
		}
		if(enabletime == "" ){
			alert("开始日期不能为空");
			return;
		}
		if(enabletime != "" && disabletime != "" && disabletime < enabletime){
			alert("开始日期不得大于结束日期");
			return;
		}
		
		var params = addForm.jqDom.serialize();
		jcl.postJSON('/tms/mgr/valueadd', params, function(data){
			addDialog.hide();
			jcl.msg.info('#springMessage("view.cmc.pub.add.success")');
			g.goPage();
		});
		
		
	}).end().find('.cancelBtn').click(function(){
		addDialog.hide();
	});
	
	g.toolbar.onClick('#btn-add', function(){
		addForm.reset();
		initParams();
		addForm.jqDom.find('[name=rosterdesc]').val(rosterdescVal);
		addDialog.show();
	});
	
	var editForm = new jcl.ui.Form({
		display: false,
		layout: 'list',
		items:[
			{label: '', name: 'rosterid', type: 'hidden'},
			{label: 'rosterValueId', name: 'rosterValueId', type: 'hidden'},
			
			{label: '#springMessage("view.tms.mgr.valuelist.value")', name: 'rostervalue', required:true},
			{label: '#springMessage("view.tms.mgr.namelist.rosterdesc")', name: 'rosterdesc', type: 'hidden'},
			{label: '#springMessage("view.tms.mgr.valuelist.enabletime")', name: 'enabletime', required:true, type: 'date', layout:'datetime'},
			{label: '#springMessage("view.tms.mgr.valuelist.disabletime")', name: 'disabletime', type: 'date', layout:'datetime'},
			{label: '#springMessage("view.tms.mgr.namelist.remark")', name: 'remark', type: 'textarea'}
		],btns:[
			{text: '#springMessage("view.tms.pub.btn.save")', cls: 'updateBtn'},
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
		]
	
	});
	
	editDialog.addDom(editForm.jqDom);
	
	editForm.jqDom.find('.cancelBtn').click(function(){
		editDialog.hide();
	}).end().find('.updateBtn').click(function(){
		
		var value = editForm.getItem('rostervalue').val();
		var remark = editForm.getItem('remark').val();
		var enabletime = editForm.getItem('enabletime').val();
		var disabletime = editForm.getItem('disabletime').val();
		
		//开始值
		if(Trim(value)==""){
			alert('#springMessage("view.tms.mgr.valuelist.add.value.check")');
			editForm.getItem('rostervalue').component.focus();
			return;
		}else{
			//长度检查
			if(!checkeLength(value,64)){
				alert('#springMessage("view.tms.mgr.valuelist.value")'+'不能超过64个字符');
				editForm.getItem('rostervalue').component.focus();
				return;
			}
			//特殊字符检查
			if(datatype != 'ip' && !checkeSpecialCode(value)){
				alert('#springMessage("view.tms.mgr.valuelist.value")'+'不能包含特殊字符');
				editForm.getItem('rostervalue').component.focus();
				return;
			}
			//格式检查
			if (datatype == 'ip'&&!isIP(value)) {
				alert("IP名单值格式错误");
				editForm.getItem('rostervalue').component.focus();
				return;
			} 
		}
		
		if(remark != "") {
			if(!checkeLength(remark,512)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'不能超过512个字符');
				editForm.getItem('remark').component.focus();
				return;
			}
			if(!checkeSpecialCode(remark)){
				alert('#springMessage("view.tms.mgr.namelist.check.remark")');
				editForm.getItem('remark').component.focus();
				return;
			}
		}
		if(enabletime == "" ){
			alert("开始日期不能为空");
			return;
		}
		if(enabletime != "" && disabletime != "" && disabletime < enabletime){
			alert("开始日期不得大于结束日期");
			return;
		}
		
		var params = editForm.jqDom.serialize();
		jcl.postJSON('/tms/mgr/valuemod', params, function(data){
			editDialog.hide();
			jcl.msg.info('#springMessage("view.tms.pub.edit.success")');
			g.goPage();
		});
	});
	
	g.toolbar.onClick('#btn-edit', function(){
		var rows = g.selectedRows();
		editForm.jqDom.find('[name=rosterdesc]').val(rosterdescVal);
		var rosterValueId = rows[0]['ROSTERVALUEID'];
		jcl.postJSON('/tms/mgr/valueget', "rosterValueId="+rosterValueId, function(data){
			editForm.set(data.row, {
				'rosterid': 'ROSTERID',
				'rosterValueId': 'ROSTERVALUEID',
				'rostervalue': 'ROSTERVALUE',
				'enabletime': 'ENABLETIME',
				'disabletime': 'DISABLETIME',
				'remark': 'REMARK'
			});
		});
		editDialog.show();
	});
	
	function initParams(){
		var nowDate = new Date();
		var currDateTime = _ymdhms(nowDate);
		addForm.getItem('enabletime').val(currDateTime);
	}
	
	// 返回
	g.toolbar.onClick('#btn-back', function(){
		jcl.go('/tms/mgr/list');
	});
	
	
	// 删除
	g.toolbar.onClick('#btn-del', function(){
		var rows = g.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")!');
			return;
		}
		if(confirm('#springMessage("view.tms.pub.del.confirm")?')){
			var list = [];
			var rosterdesc = rosterdescVal;
			$.each(rows, function(i, row){
				list.push(
					$.extend({}, row, {'ROSTERDESC':rosterdesc})
				);
			});

			var json_data = JSON.stringify({'del':list});
			var json_data_encode = encodeURIComponent(json_data);
			var url_para = "postData=" + json_data_encode;
			
			jcl.postJSON('/tms/mgr/valuedel', url_para, function(data){
				alert('#springMessage("view.tms.pub.del.success")');
				g.goPage();
			});
		}else{
			return ;
		}
	});
	
	// 值转换
	g.toolbar.onClick('#btn-valueMgr', function(){
		var rows = g.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		if(rows.length>1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")');
			return;
		}
		dialog = new jcl.ui.Dialog({
			title:'#springMessage("view.tms.pub.btn.valueChange")'
		});
		var param = 'datatype=' + datatype + '&rostertype=' + rostertype + '&rosterId='+rosterId;
		var htmlStr = '';
		var rosterdescEnter = '';
		jcl.postJSON('/tms/mgr/changevalueget', param, function(data){
			if (data.row == '') {
				htmlStr += '<ul style="list-style:none;">';
				htmlStr += '<li class="list-box-item">无可转换类型</li>';
				htmlStr += '<div class="button-box">';
				htmlStr += '<input type="button" value="#springMessage("view.tms.pub.btn.close")" class="btn" id="closeBtn" onclick="dialog.hide()"/>';
				htmlStr += '</div>';
				htmlStr += '</ul>';
			} else {
				htmlStr += '<table border="0" width="100%">';
				htmlStr += '<thead><td></td><td><b>名单名称</b></td><td><b>名单数据类型</b></td><td><b>名单类型</b></td></thead>';
				$.each(data.row, function(i,row){
				rosterdescEnter = rosterdescEnter + row['ROSTERDESC'];
					htmlStr += '<tr>' + 
					'<td><input type="radio" name="valueList" value="' + row['ROSTERID'] +'||||'+row['ROSTERDESC']+ '"' + (i==0?"checked":"") + '></td><td>' + row['ROSTERDESC'] + '</td>'+
					'<td>'+ jcl.code.get('tms.model.datatype.roster',row['DATATYPE']) +'</td>'+
					'<td>'+ jcl.code.get('tms.mgr.rostertype',row['ROSTERTYPE']) +'</td></tr>';
				}); 
				htmlStr += '</table>';
				
			}
			var jq = $(htmlStr);
			
			var btnHtml = '<div class="button-box">';
			btnHtml += '<input type="button" value="#springMessage("view.tms.pub.btn.sure")" class="btn" id="sureBtn" onclick="constrast()"/>&nbsp;&nbsp;&nbsp;';
			btnHtml += '<input type="button" value="#springMessage("view.tms.pub.btn.close")" class="btn" id="closeBtn" onclick="dialog.hide()"/>';
			btnHtml += '</div>';
			
			var btnJq = $(btnHtml);
			
			dialog.addDom(jq[0]);
			if (data.row != '') {
				dialog.addDom(btnJq[0]);
			}
			
			dialog.show();
		});
	});
});

//单击值转换确定按钮时
function constrast(){
	var rosterValueId = [];
	var selectedRosterId = $(':radio[name=valueList]:checked').val();
	var rows = g.selectedRows();
	$.each(rows, function(i, row){
		rosterValueId.push('rosterValueId='+row['ROSTERVALUEID']);
		rosterValueId.push('rostervalue='+encodeURIComponent(row['ROSTERVALUE']));
	});
	rosterValueId.push('rosterId='+encodeURIComponent(selectedRosterId));
	rosterValueId.push('rosterIdOld='+$('#ROSTERID').val());
	rosterValueId.push('rosterdescOut='+encodeURIComponent(rosterdescVal));
	var params = rosterValueId.join('&');

	jcl.postJSON('/tms/mgr/changevalue', params, function(data){
		dialog.hide();
		alert('#springMessage("view.tms.mgr.valuelist.convert.success")');
		g.goPage();
	});
}

function _ymdhms(d){
	return [_ymd(d), _hms(d)].join(' ');
}

function _ymdformat(y, m, d){
	return [y, _doublefill(m), _doublefill(d)].join('-');
}

function _ymd(d){
	return _ymdformat(d.getFullYear(), d.getMonth() + 1, d.getDate());
}

function _hmsformat(h, m, s){
	return [_doublefill(h), _doublefill(m), _doublefill(s)].join(':');
}

function _hms(d){
	return _hmsformat(d.getHours(), d.getMinutes(), d.getSeconds());
}

function _doublefill(i){
	var str = i+'';
	return  (str.length < 2) ? '0' + str : str;
}

</script>

</head>
<body>
<div id="blk1" class="box"></div>

<!-- <form id="qform" name="qform"> -->
<!--  <input name="ROSTERID" id="ROSTERID" type="hidden" value=""/> -->
<!--    <table width="1000px" id="conftab" style="border-collapse: collapse;"> -->
<!--         <tr> -->
<!--        	   <td width="90" align="right">#springMessage("view.tms.mgr.namelist.rostername")：</td> -->
<!--            <td width="415"> -->
<!--               <div style="display: inline" id='rostername'></div>  -->
<!--            </td> -->
<!--            <td width="90" align="right">#springMessage("view.tms.mgr.namelist.rosterdesc")：</td> -->
<!--            <td width="415"> -->
<!--               <div style="display: inline" id='rosterdesc'></div> -->
<!--            </td> -->
<!--        </tr> -->
<!--        <tr> -->
<!--        	   <td width="90" align="right">#springMessage("view.tms.mgr.namelist.rostertype")：</td> -->
<!--            <td width="415"> -->
<!--               <div style="display: inline" id='rostertype'></div>  -->
<!--            </td> -->
<!--            <td width="90" align="right">#springMessage("view.tms.mgr.namelist.datatype")：</td> -->
<!--            <td width="415"> -->
<!--               <div style="display: inline" id='datatype'></div>  -->
<!--            </td> -->
<!--        </tr> -->
<!-- 	</table> -->
<!-- </form> -->

<div id="boxdiv" class="box"></div>
</body>
</html>
