<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.mgr.valuelist.add.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/tms_mgr_roster.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	var rosterId = jQuery.url.param("rosterId");
	var datatype = jQuery.url.param("datatype");

	initParams();
	
	$('#ROSTERID').val(rosterId);
	$('#datatype').val(datatype);
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.mgr.valuelist.add.title")',
		id:'addRosterValueFormBox'
	});
	box.addDom('dataForm');
	
	var dialog = new jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialog.addDom('succesInfo');
	
	//现在数字、货币等不可以创建名单，无需对其格式进行提示，modified by wangsch 
	/* $('#valuestart').focus(function(){
		showHintByType(this,datatype);// 焦点显示提示信息
	});
	$('#valueend').focus(function(){
		showHintByType(this,datatype);// 焦点显示提示信息
	});
	$('#valuestart').blur(function(){
		fz_hiddenHintLayer();// 焦点移开隐藏提示信息
	});
	$('#valueend').blur(function(){
		fz_hiddenHintLayer();// 焦点移开隐藏提示信息
	}); */
	
	// 保存
	$("#addBtn").click(function(){
		var valuestartObject=$('input[id=valuestart]');
		var valuestart=valuestartObject.val();
		
		var valueendObject=$('input[id=valueend]');
		var valueend=valueendObject.val();
		
		var remarkObject=$('textarea[name=remark]');
		var remark=remarkObject.val();
		
		var enabletime = $('input[id=enabletime]').val();
		var disabletime = $('input[id=disabletime]').val();
		
		//开始值
		if(Trim(valuestart)==""){
			alert('#springMessage("view.tms.mgr.valuelist.add.valuestart.check")');
			valuestartObject.focus();
			return;
		}else{
			//长度检查
			if(!checkeLength(valuestart,50)){
				alert('#springMessage("view.tms.mgr.valuelist.valuestart")'+'不能超过50个字符');
				valuestartObject.focus();
				return;
			}
			//特殊字符检查
			if(!checkeSpecialCode(valuestart)){
				alert('#springMessage("view.tms.mgr.valuelist.valuestart")'+'不能包含特殊字符');
				valuestartObject.focus();
				return;
			}
			//格式检查
			if (datatype == 'ip'&&!isIP(valuestart)) {
				alert("开始值格式错误");
				valuestartObject.focus();
			} 
		}
		
		//结束值
		if(valueend != ""){
			if(!checkeLength(valueend,50)){
				alert('#springMessage("view.tms.mgr.valuelist.valueend")'+'不能超过50个字符');
				valueendObject.focus();
				return;
			}
			if(datatype != 'ip' && !checkeSpecialCode(valueend)){
				alert('#springMessage("view.tms.mgr.valuelist.valueend")'+'不能包含特殊字符');
				valueendObject.focus();
				return;
			}
			if(datatype == 'ip'){
				if(!isIP(valueend)) {
					alert("结束值格式错误");
					valueendObject.focus();
					return;
				}
			}
		}
		
		if(remark != "") {
			if(!checkeLength(remark,170)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'不能超过170个字符');
				remarkObject.focus();
				return;
			}
			if(!checkeSpecialCode(remark)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'不能包含特殊字符');
				remarkObject.focus();
				return;
			}
		}

		if(enabletime == "" ){
			alert("开始日期不能为空");
			return;
		}
		if(enabletime != "" && disabletime != "" && disabletime < enabletime){
			alert("开始日期不得大于结束日期");
			return;
		}
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/mgr/valueadd', params, function(data){
			dialog.show();
		});
		
	});
	
	//继续新建
	$('#goonBtn').click(function(){
		window.showModalDialog('$rc.contextPath/tms/mgr/valueadd?' + "rosterId=" + rosterId + "&datatype=" + datatype,'名单值添加','dialogWidth=1000px;dialogHeight=600px;resizable=yes');	
		window.close();
	});
	
	//返回
	$('#backBtn').click(function(){
		window.close();
	});
	
	//取消
	$('#cancelBtn').click(function(){
		window.close();
	});
	
	
});

function initParams(){
	var nowDate = new Date();
	
	var year = nowDate.getFullYear();
	var month = nowDate.getMonth()+1;//获取本月
	var day = nowDate.getDate();
	
	if(month < 10) month = "0" + month;
	if(day < 10) day = "0" + day;
	
	$('#enabletime').val(year+"-"+month+"-"+day);
}
</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.tms.pub.add.success")</div>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.continueCrt")" class="btn" id="goonBtn"/>
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="backBtn"/>
	</div>
</div>

<div id="openDiv"></div>

<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<li class="list-box-item" >
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.valuestart")：</label> 
		<span class="list-box-item-content"> <input id="valuestart" name="valuestart" maxlength="32" type="text" class="itext"  /><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item" id="valueendli">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.valueend")：</label> 
		<span class="list-box-item-content"><input id="valueend" name="valueend" maxlength="32" type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.enabletime")：</label> 
		<span class="list-box-item-content"><input id="enabletime" name="enabletime" onfocus="jcl.datepicker(this)" readonly="readonly" type="text" class="itext"/></span><font color="red">*</font>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.disabletime")：</label> 
		<span class="list-box-item-content"><input id="disabletime" name="disabletime" onfocus="jcl.datepicker(this)" readonly="readonly" type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.remark")：</label> 
		<span class="list-box-item-content"><textarea id="remark" maxlength="512" class="ttext" name="remark"></textarea></span>
	</li>
</ul>
<div class="button-box">
	
	<input type="button" value='#springMessage("view.tms.pub.btn.save")' class="btn" id="addBtn"/>
	<input type="button" value='#springMessage("view.tms.pub.btn.cancel")' class="btn" id="cancelBtn"/>
	<input type="hidden" id="ROSTERID" name="ROSTERID" value="" />
	<input type="hidden" id="datatype" name="datatype" value="" />
</div>
</form>

</body>
</html>
