<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<title>#springMessage("view.tms.mgr.valuelist.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>

<script type="text/javascript">
var g = '';
var datatype = '';
var rostertype = '';

$(document).ready(function(){
	var rosterId = jQuery.url.param("rosterId");
	var datatype = jQuery.url.param("datatype");
	$('#ROSTERID').val(rosterId);
	
	//组装表格
	g = $("#boxdiv").grid({
		title:'#springMessage("view.tms.mgr.namevalue.list.title")',
		columns:[
			{name:'#springMessage("view.tms.mgr.valuelist.value")', width: 40, dataIndex:'ROSTERVALUE'},
			{name:'#springMessage("view.tms.mgr.valuelist.enabletime")', width: 30, dataIndex:'ENABLETIME'},
			{name:'#springMessage("view.tms.mgr.valuelist.disabletime")', width: 30, dataIndex:'DISABLETIME'},
			{name:'#springMessage("view.tms.mgr.valuelist.createtime")', width: 30, dataIndex:'CREATETIME'},
			{name:'#springMessage("view.tms.mgr.namelist.remark")', width: 40, dataIndex:'REMARK'}
		],
		ds:{
			url:"/tms/mgrView/valuelist?rosterId="+rosterId + "&datatype=" + datatype,
				params:{}
		},
		toolbar:[
			{id:"btn-view", icon:"icon-tb-edit", text:'#springMessage("view.tms.pub.btn.view")', enable:'oneRowSelected'},
			{id:"btn-back", icon:"icon-tb-aw-l", text:'#springMessage("view.tms.pub.btn.banck")'}
		],
		pagebar: true,
		qform: {id:"qform", display:true}

	});
	g.goPage();
	
	//取页面数据
	jcl.postJSON('/tms/mgrView/get', "rosterId="+rosterId, function(data){
			datatype = data.row["DATATYPE"];
			rostertype = data.row["ROSTERTYPE"];
			$('#rostername').html(data.row['ROSTERNAME']);
			$('#rosterdesc').html(data.row["ROSTERDESC"]);
			$("#datatype").html(jcl.convert(datatype,'tms.model.datatype.roster'));
			$('#rostertype').html(jcl.convert(rostertype,'tms.mgr.rostertype'));
	});
	
	var dialogdom = new jcl.ui.Dialog({draggable: true});
	
	var viewForm = new jcl.ui.Form({
		display: false,
		layout: 'list',
		items:[
			{label: 'rosterValueId', name: 'rosterValueId', type: 'hidden'},
			{label: '#springMessage("view.tms.mgr.valuelist.value")', name: 'rostervalue'},
			{label: '#springMessage("view.tms.mgr.valuelist.enabletime")', name: 'enabletime', type: 'date'},
			{label: '#springMessage("view.tms.mgr.valuelist.disabletime")', name: 'disabletime', type: 'date'},
			{label: '#springMessage("view.tms.mgr.namelist.remark")', name: 'remark', type: 'textarea'}
			
		],btns:[
			{text: '#springMessage("view.tms.pub.btn.cancel")', cls: 'cancelBtn'}
		]
	});
	
	dialogdom.addDom(viewForm.jqDom);
	
	viewForm.jqDom.find('.cancelBtn').click(function(){
		dialogdom.hide();
	});

	//不可编辑
	viewForm.getItem('rostervalue').disable(true);
	viewForm.getItem('enabletime').disable(true);
	viewForm.getItem('disabletime').disable(true);
	viewForm.getItem('remark').disable(true);
	
	// 返回
	g.toolbar.onClick('#btn-back', function(){
		jcl.go('/tms/mgrView/list');
	});
	
	//查看
	g.toolbar.onClick('#btn-view', function(){
		var rows = g.selectedRows();
		
		dialogdom.setTitle('#springMessage("view.tms.mgr.valueviewlist.title")');
		viewForm.jqDom.show();
		dialogdom.show();
		
		var rosterValueId = rows[0]['ROSTERVALUEID'];
		jcl.postJSON('/tms/mgrView/valueget', "rosterValueId="+rosterValueId, function(data){
			viewForm.set(data.row, {
				'rosterValueId': 'ROSTERVALUEID',
				'rostervalue': 'ROSTERVALUE',
				'enabletime': 'ENABLETIME',
				'disabletime': 'DISABLETIME',
				'remark': 'REMARK'
			});
		});
	});
});
</script>

</head>
<body>
<div id="blk1" class="box"></div>

<form id="qform" name="qform">
 <input name="ROSTERID" id="ROSTERID" type="hidden" value=""/>
   <table width="1000px" id="conftab" style="border-collapse: collapse;">
       <tr>
       	   <td width="90" align="right">#springMessage("view.tms.mgr.namelist.rostername")：</td>
           <td width="415">
              <div style="display: inline" id='rostername'></div> 
           </td>
           <td width="90" align="right">#springMessage("view.tms.mgr.namelist.rosterdesc")：</td>
           <td width="415">
              <div style="display: inline" id='rosterdesc'></div>
           </td>
       </tr>
       <tr>
       	   <td width="90" align="right">#springMessage("view.tms.mgr.namelist.rostertype")：</td>
           <td width="415">
              <div style="display: inline" id='rostertype'></div> 
           </td>
           <td width="90" align="right">#springMessage("view.tms.mgr.namelist.datatype")：</td>
           <td width="415">
              <div style="display: inline" id='datatype'></div> 
           </td>
       </tr>
	</table>
</form>

<div id="boxdiv" class="box"></div>
</body>
</html>
