<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.mgr.valuelist.edit.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/tms_mgr_roster.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var rosterValueId = jQuery.url.param("rosterValueId");
	$('#rosterValueId').val(rosterValueId);
	
	var datatype = jQuery.url.param("datatype");
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.mgr.valuelist.edit.title")',
		id:'editValueEditFormBox'
	});
	box.addDom('dataForm');
	
	var dialog = new jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialog.addDom('succesInfo');
	
	jcl.postJSON('/tms/mgr/valueget', "rosterValueId="+rosterValueId, function(data){
			$('#valuestart').val(data.row.VALUESTART);
			$('#valueend').val(data.row.VALUEEND);
			$('#enabletime').val(data.row.ENABLETIME);
			$('#disabletime').val(data.row.DISABLETIME);
			$('#remark').val(data.row.REMARK);
	});
	
	//现在数字、货币等不可以创建名单，无需对其格式进行提示，modified by wangsch 
	/* $('#valuestart').focus(function(){
		showHintByType(this,datatype);// 焦点显示提示信息
	});
	$('#valueend').focus(function(){
		showHintByType(this,datatype);// 焦点显示提示信息
	});
	$('#valuestart').blur(function(){
		fz_hiddenHintLayer();// 焦点移开隐藏提示信息
	});
	$('#valueend').blur(function(){
		fz_hiddenHintLayer();// 焦点移开隐藏提示信息
	}); */
		
	
	$("#addBtn").click(function(){
		var valuestartObject=$('input[id=valuestart]');
		var valuestart=valuestartObject.val();
		
		var valueendObject=$('input[id=valueend]');
		var valueend=valueendObject.val();
		
		var remarkObject=$('textarea[name=remark]');
		var remark=remarkObject.val();
		
		var enabletime = $('input[id=enabletime]').val();
		var disabletime = $('input[id=disabletime]').val();
		
		if(Trim(valuestart)==""){
			alert('#springMessage("view.tms.mgr.valuelist.add.valuestart.check")');
			valuestartObject.focus();
			return;
		}else{
			if(!checkeLength(valuestart,50)){
				alert('#springMessage("view.tms.mgr.valuelist.valuestart")'+'不能超过50个字符');
				valuestartObject.focus();
				return;
			}
			if (datatype == 'ip') {
				if (!isIP(valuestart)) {
					alert("开始值格式错误");
					valuestartObject.focus();
					return;
				}
			}
			if(datatype != 'ip' && !checkeSpecialCode(valuestart)){
				alert('#springMessage("view.tms.mgr.valuelist.valuestart")'+'不能包含特殊字符');
				valuestartObject.focus();
				return;
			}
		}
		
		if(valueend != ""){
			if(!checkeLength(valueend,50)){
				alert('#springMessage("view.tms.mgr.valuelist.valueend")'+'不能超过50个字符');
				valueendObject.focus();
				return;
			}
			if(datatype == 'ip'){
				if(!isIP(valueend)){
					alert("结束值格式错误");
					valueendObject.focus();
					return;
				}
			}
			if(datatype != 'ip' && !checkeSpecialCode(valueend)){
				alert('#springMessage("view.tms.mgr.valuelist.valueend")'+'不能包含特殊字符');
				valueendObject.focus();
				return;
			}
		}
		
		if(remark != ""){
			if(!checkeLength(remark,170)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'不能超过170个字符');
				rosterdescObject.focus();
				return;
			}
			if(!checkeSpecialCode(remark)){
				alert('#springMessage("view.tms.mgr.namelist.remark")'+'不能包含特殊字符');
				rosterdescObject.focus();
				return;
			}
		}
		if(enabletime != "" && disabletime != "" && disabletime < enabletime){
			alert("开始日期不得大于结束日期");
			return;
		}
		if(enabletime == "" ){
			alert("开始日期不能为空");
			return;
		}
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/mgr/valuemod', params, function(data){
			dialog.show();
		});
		
	});
	
	$('#backBtn').click(function(){
		window.close();
	});
	
	$('#cancelBtn').click(function(){
		window.close();
	});
	
});

</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.cmc.pub.edit.success")</div>
	<div class="button-box">
		<input type="button" value='#springMessage("view.cmc.pub.btn.sure")' class="btn" id="backBtn"/>
	</div>
</div>

<div id="openDiv"></div>

<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<li class="list-box-item" >
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.valuestart")：</label> 
		<span class="list-box-item-content"> <input id="valuestart" name="valuestart" maxlength="128" type="text" class="itext"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.valueend")：</label> 
		<span class="list-box-item-content"><input id="valueend" name="valueend" maxlength="128" type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.enabletime")：</label> 
		<span class="list-box-item-content"><input id="enabletime" name="enabletime" onfocus="jcl.datepicker(this)" readonly="readonly" type="text" class="itext"/></span><font color="red">*</font>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.valuelist.disabletime")：</label> 
		<span class="list-box-item-content"><input id="disabletime" name="disabletime" onfocus="jcl.datepicker(this)" readonly="readonly" type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.mgr.namelist.remark")：</label> 
		<span class="list-box-item-content"><textarea id="remark" maxlength="512" class="ttext" name="remark"></textarea></span>
	</li>
</ul>
<div class="button-box">
	<input type="button" value='#springMessage("view.tms.pub.btn.save")' class="btn" id="addBtn"/>
	<input type="button" value='#springMessage("view.tms.pub.btn.cancel")' class="btn" id="cancelBtn"/>
	<input name="rosterValueId" id="rosterValueId" type="hidden" class="itext" />
</div>
</form>

</body>
</html>
