<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p][%c]%x- %m%n" />
		</layout>
	</appender>
	
	<appender name="bizlog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./logs/bizlog.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8"/>
		<param name="Threshold" value="debug" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p][%c]- %m%n" />
		</layout>
	</appender>

	<appender name="transpin" class="org.apache.log4j.RollingFileAppender">
	  <param name="File" value="./logs/transpin.log" />
	  <param name="Append" value="true" />
	  <param name="encoding" value="UTF-8"/>
	  <param name="Threshold" value="info" />
	  <param name="MaxFileSize" value="100MB" />
	  <param name="MaxBackupIndex" value="20" />
	  <layout class="org.apache.log4j.PatternLayout">
	   <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS}- %m%n" />
	  </layout>
	</appender>
	
	<logger name="org.springframework.core">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.context">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.jdbc">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.web">
		<level value="warn" />
	</logger>

	<!-- biz.log 业务日志 -->
	<logger name="cn.com.higinet.tms.mgr.log.LogBizAdvice" additivity="false">
		<level value="warn" />
		<appender-ref ref="bizlog" />
	</logger>
	
	<logger name="com.mchange.v2">
		<level value="warn" />
	</logger>

	<logger name="cn.com.higinet.rapid">
		<level value="info" />
	</logger>

	<logger name="cn.com.higinet.tms35">
		<level value="info" />
		<appender-ref ref="bizlog" />
	</logger>
	
	<logger name="cn.com.higinet.tms35.comm.translog_worker" additivity="false">
	  <level value="info" />
	  <appender-ref ref="transpin" />
	  <appender-ref ref="console" />
	 </logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="bizlog" />
	</root>

</log4j:configuration>
