@charset "utf-8";
html {overflow:auto;}
body {margin: 0px; padding: 0px; font-size: 62.5%; height:100%;}
body,p,span,div,li,td,input,textarea,select,pre{font-family:Verdana,Arial,sans-serif;}
.unselectable{-moz-user-select:none; -webkit-user-select:none;}

.frame{position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; width:100%; height:100%; overflow:auto;}

.clear{clear:both; height: 0px; line-height: 0px; margin:0; padding:0; display: block;}
.mask { z-index: 10; position: absolute; top:0px; left:0px; -moz-opacity: 0; opacity: 0; filter: alpha(opacity=0); width: 100%; height: 100%; zoom: 1; background-color:#999; display:none; }
.loading { z-index: 20; width:200px; position: absolute; text-align: center; height: 40px; line-height: 40px; border: 1px solid #99BBE8; background: #FFF url(../images/icon/icon_onload.gif) no-repeat 50px center; }
.loading span { margin-left: 5px; line-height: 40px; font-size:12px; }

/* -- page table --*/
.box { width: 600px; margin-right: auto; margin-left: auto; font-size:12px; overflow: hidden;}
.box-b-a{border:1px solid #B2B2B2;}
.box-b-b{border-bottom:1px solid #B2B2B2;}
.box-b-t{border-top:1px solid #B2B2B2;}
.box-b-l{border-left:1px solid #B2B2B2;}
.box-b-r{border-right:1px solid #B2B2B2;}

.box-content-wrap-b { background:#FFFFFF url(../images/page/qform_bg_b.png) repeat-x bottom;}
.box-content-wrap-t { background: url(../images/page/qform_bg_t.png) repeat-x top; padding: 10px; }
.box-content{overflow: hidden;}
.box-title-wrap-m { background: url(../images/page/box_title_bg.png) repeat-x center -33px; height: 33px; width: 100%; }
.box-title-wrap-l { background: url(../images/page/box_title_bg.png) no-repeat left top; height: 33px; }
.box-title-wrap-r { background: url(../images/page/box_title_bg.png) no-repeat right -66px; height: 33px; }

.box-title-wrap { background: url(../images/page/box_title_bg.png) repeat-x center -35px; height: 30px; border-radius:5px 5px 0 0;}
.box-title{padding-left: 15px; font: bold 12px/30px Verdana, Geneva, sans-serif; color: #333;}
.box-btn-close { background: url(../images/page/box_close_btn_bg.gif) no-repeat center 0px; height: 16px; width: 16px; display: inline; margin-top: 8px; margin-right: 10px; float: right; overflow: hidden; line-height: 0px;}
.box-btn-close:hover{ background-position: center -16px; }

.dialog{position:absolute;}

/* -- messagebox --*/
.box-icon{ background: url(../images/icon/icon-messagebox.gif) no-repeat; width: 32px; height: 32px; }
.icon-msg-none{ width:0px; background-position: -128px 0px;}
.icon-msg-question{background-position: 0px 0px;}
.icon-msg-info{background-position: -32px 0px;}
.icon-msg-warn{background-position: -64px 0px;}
.icon-msg-error{background-position: -96px 0px;}
.box-msg {word-wrap:break-word; overflow:auto; line-height:18px; max-height: 120px;}
.box-btn{clear:both; text-align: center; }

/* -- datepicker --*/
.calendar{ width: 180px; font: 12px Verdana, Geneva, sans-serif; border: 1px solid #999; position: absolute; background: #FFF; z-index:1000;}
.calendar-ym{ width: 80px; text-align: center; }
.calendar-ym-box { height: 26px; width: 170px; margin-right: auto; margin-left: auto; text-align: center; }
.calendar-y-prev, .calendar-y-next, .calendar-m-prev, .calendar-m-next{ width: 22px; height: 26px; line-height: 26px; font-family: Verdana, Geneva, sans-serif; font-weight: bold; text-align: center; cursor: pointer; display: block; text-decoration: none; color: #333; }
.calendar-week-title { background: #EEE; border: 1px solid #DDD;}
.calendar-day{ height: 22px; width: 24px; text-align: center; cursor: pointer; font: 10px/22px Verdana, Geneva, sans-serif; }
.calendar-week{ height: 22px; width: 24px; text-align: center; font: 12px/22px Verdana, Geneva, sans-serif; }
.calendar-day-picked { background: #3ED9FF; }
.calendar-day-hover { background: #C8F4FF; }
.calendar-othermon { color: #999; }
.calendar-week-box { width: 170px; margin-right: auto; margin-left: auto; }
.calendar-week-table{ border-collapse:collapse; empty-cells:show; border: 1px solid #CCC; }
.calendar-btn-box { text-align: right; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; }
.calendar-btn { border: 1px solid #CCC; font-size: 12px; height: 20px; line-height: 20px; }

/* -- toolbar --*/
.toolbar { background: url(../images/page/pagebar_bg.png) repeat-x; height: 28px; overflow:hidden;}
.toolbar-items {list-style: none; margin: 0px; padding: 0px; display:block; height:26px;}
.toolbar-item { display: block; float: left; height: 24px; cursor: pointer; padding-right: 1px; padding-left: 1px; margin-right: 1px; margin-left: 1px; color: #069;}
.toolbar-item-text { float: left; font-size: 12px; line-height: 26px; display: block; padding-right: 5px; padding-left: 5px; white-space: nowrap; }
.toolbar-item-icon { float: left; margin: 5px 2px; }
.toolbar-item-hover { background: #FAFCFD; }
.toolbar-item-toggled { background: #91B4DF; }
.toolbar-item-disabled { color: #999 !important; cursor: auto; }
.toolbar-scroller-left {float: left; background: url(../images/page/toolbar_scroller_arr.gif) no-repeat 0px center; height: 25px; margin-top: 2px; width: 20px; border-right:1px solid #B2B2B2; cursor:pointer;}
.toolbar-scroller-left-disable{background-position: -20px center !important; cursor: default !important;}
.toolbar-scroller-right {float: right; background: url(../images/page/toolbar_scroller_arr.gif) no-repeat -40px center; height: 25px; margin-top: 2px; width: 20px; border-left:1px solid #B2B2B2; cursor:pointer;}
.toolbar-scroller-right-disable{background-position: -60px center !important; cursor: default !important;}
.toolbar-scroller{float:left; height:26px; overflow:hidden; margin:2px 2px 0;}

/* -- grid --*/
.grid{}

.grid-qform {}
.grid-qform-wrap-b { background:#FFFFFF url(../images/page/qform_bg_b.png) repeat-x bottom; _padding-bottom: 1px;}
.grid-qform-wrap-t { background: url(../images/page/qform_bg_t.png) repeat-x top; padding: 10px; }

/* -- table --*/
.table { overflow-x: auto; }
.table-columns { background: url(../images/page/column_bg.png); filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')"; -moz-background-size:100% 100%; background-size:100% 100%; }
.column-cell { text-align: left; font-size: 12px; text-indent: 5px; color: #333; overflow: hidden; font-weight: bold; }
.column-cell.sort{cursor:pointer;}
.column-cell.sort span{padding-right:16px;}
.column-cell-cb{width:36px; border-left: none;}
.sort .asc{background: url(../images/page/arr_up.gif) no-repeat right 6px; }
.sort .desc{background: url(../images/page/arr_down.gif) no-repeat right 6px;}
.column-scroller { border-right: 0px; width:18px;}

.column-cell-single { line-height: 23px; height: 23px; }
.column-cell-single.title { text-align: center; font-size: 12px; text-indent: 5px; color: #333; overflow: hidden; font-weight: bold; }
.table-columns td { border-right: 1px solid #D0D0D0; border-left: 1px solid #EEEEEE; border-bottom: 1px solid #D0D0D0; }

.table-rows{}
.row { line-height: 24px; height: 24px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #EDEDED; border-right: 1px solid #EDEDED; }
.row-cell { font-size: 12px; text-indent: 5px; line-height: 24px; height: 24px; overflow: hidden; white-space:nowrap;}
.row-cell-cb{width:37px;}
.row-bg-gray { background: #FAFAFA; }
.row-bg-selected { background: #DFE8F6 !important; border-top: 1px solid #BCCED7 !important; border-bottom: 1px solid #BCCED7 !important; }
.row-bg-hover { background: #EFEFEF !important; border-color: #DDDDDD; }
.row-form{}
.row-editing, .row-viewing {border-top:1px solid #B2B2B2;border-right:1px solid #B2B2B2;border-bottom:1px solid #B2B2B2;}

.table-pagebar { overflow: hidden; background: url(../images/page/pagebar_bg.png) repeat-x top; height: 28px; }
.pagebar-pbtn { font-size:12px; height: 17px; margin-top: 6px; width: 350px; margin-bottom: 5px; float: left; overflow:hidden; }
.pagebar-info { font-size:12px; height: 17px; margin-top: 6px; margin-bottom: 5px; width: 220px; text-align: right; float: right; margin-right: 6px; overflow:hidden; line-height: 16px; }
.pgb-pbtn { margin-left: 5px; float: left; background: url(../images/page/pagebar_btn.gif) no-repeat; height: 16px; width: 16px; display: block; float: left; }
.pgb-text { font-size:12px; margin-left: 5px; float: left; display: block; float: left; height: 16px; line-height: 16px; }
.pgb-itext { background: url(../images/page/itext_bg.png) repeat-x; border: 1px solid #999999; height: 14px; width: 35px; font: 12px/14px Arial, sans-serif !important; text-align: right; padding:0px 3px 0px !important; }
.pbtn-first { background-position: 0px 0px; cursor:pointer; }
.pbtn-prev { background-position: -16px 0px; cursor:pointer; }
.pbtn-next { background-position: -32px 0px; cursor:pointer; }
.pbtn-last { background-position: -48px 0px; cursor:pointer; }
.pbtn-first-disabled { background-position: 0px -16px; }
.pbtn-prev-disabled { background-position: -16px -16px; }
.pbtn-next-disabled { background-position: -32px -16px; }
.pbtn-last-disabled { background-position: -48px -16px; }


/* -- form element --*/
.btn { background: url(../images/page/btn_bg.png) repeat-x; height: 27px; border: 1px solid #999; font-size: 12px; line-height: 23px; border-radius:4px; padding:0 8px;}
.itext {width:134px; background: url(../images/page/itext_bg.png) repeat-x; height:20px; line-height:20px; border: 1px solid #999999; padding: 2px 3px 0px; font: 12px Verdana, Arial, sans-serif; }
.ttext { background: url(../images/page/itext_bg.png) repeat-x top; border: 1px solid #999999; height: 80px; width: 300px; padding: 2px 0px 0px 3px;font: 12px/18px Verdana, Arial, sans-serif; }
.button-box{text-align: center; padding-top:5px; padding-bottom:5px; clear:both;}
select.sselect{width:142px; height:22px; padding: 1px; background:#FFF; border: 1px solid #999999;font: 12px Verdana, Arial, sans-serif;}
option{background: #FFF; font: 12px Verdana, Arial, sans-serif; }
select.mselect {background:#FFF; line-height: 20px; border: 1px solid #999999; margin: 0px; font: 12px Verdana, Arial, sans-serif;}
.invalid{background: url(../images/page/invalid_line.gif) repeat-x center bottom; height:18px; border: 1px solid #CC3300;}
.error{color:#FF0000; }

.form { margin: 0px; }
.form-items{list-style:none; margin:0; padding:0; display:block;}
.form-item{margin:0; padding:0; padding:3px 0; float:left; font-size:12px; display:block;}
.form-item-disable{}
.form-item-label{line-height:26px; text-align:right; padding-right:10px; float:left; display:block; width:100px; }
.form-item-content{line-height:26px; float:left; min-width:180px;}
.form-item-view{line-height:26px; float:left; min-width:180px;}
.form-item-view .ttext-view{margin: 0px; min-height: 26px; width: 300px; padding: 2px 0px 0px 3px;font: 12px/18px Verdana, Arial, sans-serif; white-space: pre-wrap;}
.form-item-content .itext{width:174px;}
.form-btns{text-align: left; padding: 5px 110px;}
.form-item-content .warn{color: red;}
.form-item-content .ok{color: green;}
.form-item-content .validate-info{padding-left: 5px;}

.long {width:240px !important;}
.short {width:60px !important;}

.selector{border:1px solid #999; position:relative; background: url(../images/page/itext_bg.png) repeat-x;}
.selector-itext{border: 0; height: 20px; line-height: 20px; padding:2px 3px 0px; background:transparent; font-size: 12px;}
.selector-icon{width:20px; float:right; height:22px; background: url(../images/icon/icon_selector.gif) no-repeat 1px -19px; cursor:pointer; position:absolute; top:0; right:0;}
.selector-box{overflow-y: auto; border:1px solid #999; position:absolute; display:none; background:#FFF; z-index: 1;}
.selector-list{list-style:none; margin:0; padding:0;}
.selector-item{display:block; line-height:22px; font-size:12px; padding:0 3px; cursor: default;}
.selector-item-selected{background:#EEE;}
.selector-item-hover{background:#CCC;}
.icon-calendar{background-position: 1px 1px;}
.icon-list{background-position: 1px -19px;}
.icon-calendar-disable{background-position: -19px 1px; cursor:default; }
.icon-list-disable{background-position: -19px -19px; cursor:default; }
.selector-box-loading{height:24px; line-height:24px; background: #EEE url(../images/icon/icon_onload.gif) no-repeat right center; padding-left:3px;}

.selector-list-box {border:1px solid #999; position:absolute; display:none; background:#FFF; overflow: hidden; z-index: 1;}
.selector-list-box-select-all {width:100%;border-bottom: 1px solid #999999;}
.selector-list-box-panel {overflow:auto;}

.radio{width:13px; height:13px; line-height:13px; background: url(../images/page/checkbox.gif) no-repeat 0px 0px;}
.radio-hover{background-position: -13px 0px;}
.radio-press{background-position: -26px 0px;}
.radio-disable{background-position: -39px 0px;}
.radio-checked{background-position: 0px -13px;}
.radio-checked-hover{background-position: -13px -13px;}
.radio-checked-press{background-position: -26px -13px;}
.radio-checked-disable{background-position: -39px -13px;}
.radio-hfchecked{background-position: 0px -26px;}
.radio-hfchecked-hover{background-position: -13px -26px;}
.radio-hfchecked-press{background-position: -26px -26px;}
.radio-hfchecked-disable{background-position: -39px -26px;}

/* -- listbox --*/
.list-box { list-style: none; margin: 0px; padding: 0px; }
.list-box-item { clear: both; margin-left: 5px; padding: 6px; line-height: 22px; display: block; min-height: 22px;}
.list-box-item-label { display: block; float: left; line-height: 22px; text-align: right; padding-right: 5px; width:100px;}
.list-box-item .required{ display: block; float: left; line-height: 22px; width: 12px; color:red; }
.list-box-item-tip {display: block; float: left; line-height: 22px; padding: 0px 5px 0px; color:#999999;}
.list-box-item-content { float: left; padding-left: 5px; }


/* -- tab panel -- */
.tabp-tabs-wrap{background: url(../images/page/pagebar_bg.png) repeat-x; height: 29px; overflow:hidden;}
.tabp-tabs{ height:27px; padding: 2px 0px 0px 5px; margin: 0px; background: url(../images/page/tab_nav_bg.jpg) repeat-x bottom; clear:both; }
.tabp-tabs a{ height: 25px; line-height: 25px; display: block; float: left; border: 1px solid #B2B2B2; padding: 0px 15px; margin-left: 2px; color: #333; text-decoration: none; }
.tabp-tab{background: #F9F9F9 url(../images/page/tab_bg.jpg) repeat-x bottom; border-radius:3px 3px 0 0; white-space:nowrap;}
.tabp-tab-active{ background: #FFF url(../images/page/tab_active_bg.jpg) repeat-x top !important; border-bottom: 1px solid #FFF !important; }
.tabp-list{overflow: auto; position:relative;}
.tabp-content{display:none; padding:5px;}
.tabp-tabs-scroller-wrap {background: url(../images/page/tab_nav_bg.jpg) repeat-x bottom; height: 29px; overflow:hidden;}
.tabp-tabs-scroller-left {float: left; background: url(../images/page/toolbar_scroller_arr.gif) no-repeat 0px center; height: 25px; margin-top: 2px; width: 20px; border-right:1px solid #B2B2B2; cursor:pointer;}
.tabp-tabs-scroller-left-disable{background-position: -20px center !important; cursor: default !important;}
.tabp-tabs-scroller-right {float: right; background: url(../images/page/toolbar_scroller_arr.gif) no-repeat -40px center; height: 25px; margin-top: 2px; width: 20px; border-left:1px solid #B2B2B2; cursor:pointer;}
.tabp-tabs-scroller-right-disable{background-position: -60px center !important; cursor: default !important;}
.tabp-tabs-scroller{float:left; height:27px; overflow:hidden; margin:2px 2px 0;}


/* -- tree --*/
.tree {margin: 0px; padding: 0px;}
.tree li { margin: 0px; padding: 0px; font-size: 12px; line-height: 18px; clear: both; }
.tree ul { clear: both; padding: 0 0 0 20px; margin: 0px; display: block; list-style: none; }
.tree ul.top{padding-left: 0px;}
.tree ul.mult { padding-left:20px; background: url(../images/icon/icon_tree.gif) repeat-y -120px 0px; }
.tree .tcell { display: block; height: 20px; width: 20px; float: left; margin: 0px; padding: 0px;}
.tree .tn {}
.tree .tn-icon{}
.tree .tn-line{background: url(../images/icon/icon_tree.gif) no-repeat -20px 0px; }
.tree .tn-text{line-height:20px; margin-left:3px; cursor: default;}
.tree .ticon { background: url(../images/icon/icon_tree.gif) no-repeat -20px -20px;  }
.tree .ec {cursor: pointer;}
.tree .collapse {background-position: 0px 0px;}
.tree .collapse-last {background-position: -40px 0px;}
.tree .expand {background-position: -20px 0px;}
.tree .expand-last {background-position: -60px 0px;}
.tree .last {}
.tree .leaf .tn-line {background-position: -80px 0px;}
.tree .leaf .last {background-position: -100px 0px;}
.tree .leaf .ticon { background: url(../images/icon/icon_tree.gif) no-repeat -40px -20px;  }

/*
.tree .node .line { background: url(../images/icon/icon_tree.gif) no-repeat -20px 0px; cursor: pointer; }
.tree .node .lineClose { background: url(../images/icon/icon_tree.gif) no-repeat 0px 0px; cursor: pointer; }
.tree .node .lineEnd { background: url(../images/icon/icon_tree.gif) no-repeat -60px 0px; cursor: pointer; }
.tree .node .lineEndClose { background: url(../images/icon/icon_tree.gif) no-repeat -40px 0px; cursor: pointer; }
.tree .leaf .ticon { background: url(../images/icon/icon_tree.gif) no-repeat -40px -20px; }
.tree .leaf .line { background: url(../images/icon/icon_tree.gif) no-repeat -80px 0px; cursor: default; }
.tree .leaf .lineEnd { background: url(../images/icon/icon_tree.gif) no-repeat -100px 0px; cursor: default; }
*/
.tree .selected{background-color: #DFE8F6; border: 1px solid #BCCED7; font-weight: bold; color: #333; padding: 1px;}
.tree .boldfont {font-weight: bold;}
.tree .grayfont {color:#CCC; }
.ticon-root { background: url(../images/icon/icon_tree.gif) no-repeat 0px -20px; }
.ticon-module { background: url(../images/icon/icon_tree.gif) no-repeat -20px -20px; }
.ticon-node { background: url(../images/icon/icon_tree.gif) no-repeat -40px -20px; }
.ticon-fn { background: url(../images/icon/icon_tree.gif) no-repeat -60px -20px; }
.ticon-subfn { background: url(../images/icon/icon_tree.gif) no-repeat -80px -20px; }



/* -- icon --*/
.icon { display: block; height: 16px; width: 16px; }
.icon-tb { background: url(../images/icon/icon_table.gif) no-repeat left 0px !important; }
.icon-tb-add { background: url(../images/icon/icon_table.gif) no-repeat left -16px !important; }
.icon-tb-edit { background: url(../images/icon/icon_table.gif) no-repeat left -48px !important; }
.icon-tb-del { background: url(../images/icon/icon_table.gif) no-repeat left -32px !important; }
.icon-tb-find { background: url(../images/icon/icon_table.gif) no-repeat left -64px !important; }
.icon-tb-gear { background: url(../images/icon/icon_table.gif) no-repeat left -80px !important; }
.icon-tb-aw-u { background: url(../images/icon/icon_table.gif) no-repeat left -96px !important; }
.icon-tb-aw-r { background: url(../images/icon/icon_table.gif) no-repeat left -112px !important; }
.icon-tb-aw-l { background: url(../images/icon/icon_table.gif) no-repeat left -128px !important; }
.icon-tb-lightning { background: url(../images/icon/icon_table.gif) no-repeat left -144px !important; }
.icon-tb-warn { background: url(../images/icon/icon_table.gif) no-repeat left -160px !important; }
.icon-tb-save { background: url(../images/icon/icon_table.gif) no-repeat left -176px !important; }

.icon-common-accpet { background: url(../images/icon/icon_common.gif) no-repeat left 0px !important; }
.icon-common-add { background: url(../images/icon/icon_common.gif) no-repeat left -16px !important; }
.icon-common-del { background: url(../images/icon/icon_common.gif) no-repeat left -32px !important; }
.icon-common-save { background: url(../images/icon/icon_common.gif) no-repeat left -48px !important; }
.icon-common-tick { background: url(../images/icon/icon_common.gif) no-repeat left -64px !important; }
.icon-common-cross { background: url(../images/icon/icon_common.gif) no-repeat left -80px !important; }
.icon-common-help { background: url(../images/icon/icon_common.gif) no-repeat left -96px !important; }
.icon-common-info { background: url(../images/icon/icon_common.gif) no-repeat left -112px !important; }
.icon-common-warn { background: url(../images/icon/icon_common.gif) no-repeat left -128px !important; }
.icon-common-error { background: url(../images/icon/icon_common.gif) no-repeat left -144px !important; }

.icon-plugin { background: url(../images/icon/icon_plugin.gif) no-repeat left 0px !important; }
.icon-plugin-disable { background: url(../images/icon/icon_plugin.gif) no-repeat left -16px !important; }
.icon-plugin-add { background: url(../images/icon/icon_plugin.gif) no-repeat left -32px !important; }
.icon-plugin-del { background: url(../images/icon/icon_plugin.gif) no-repeat left -48px !important; }
.icon-plugin-edit { background: url(../images/icon/icon_plugin.gif) no-repeat left -64px !important; }
.icon-plugin-warn { background: url(../images/icon/icon_plugin.gif) no-repeat left -80px !important; }
.icon-plugin-go { background: url(../images/icon/icon_plugin.gif) no-repeat left -96px !important; }
.icon-plugin-link { background: url(../images/icon/icon_plugin.gif) no-repeat left -112px !important; }

.icon-tag { background: url(../images/icon/icon_tag.gif) no-repeat left 0px !important; }
.icon-tag-add { background: url(../images/icon/icon_tag.gif) no-repeat left -16px !important; }
.icon-tag-del { background: url(../images/icon/icon_tag.gif) no-repeat left -32px !important; }
.icon-tag-edit { background: url(../images/icon/icon_tag.gif) no-repeat left -48px !important; }

/* -- tooltip --*/
.ui-tooltip{ padding: 8px; position: absolute; z-index: 9999; max-width: 300px; -webkit-box-shadow: 0 0 5px #aaa; box-shadow: 0 0 5px #aaa; border: 1px solid #aaaaaa; border-width: 1px; word-wrap: break-word; background-color:#FFF;}
.ui-tooltip1{ padding: 8px; position: absolute; z-index: 9999; max-width: 300px; -webkit-box-shadow: 0 0 5px #aaa; box-shadow: 0 0 5px #aaa; border: 1px solid #aaaaaa; border-width: 1px; word-wrap: break-word; background-color:#FFF; font-size: 12px;}
/* -- end --*/