<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.rule.add.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<link href="$rc.contextPath/s/common/css/tree.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/tree.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl_tms_json.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/rule_condition.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/rule_conditionedit.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/rule_condition_custom.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript">
var g = "";
var dialogmaps='';
var dialogsuccess ='';
$(document).ready(function(){
	var tabindex = jQuery.url.param("tabindex");
	// 默认显示第一个标签页
	if(tabindex == null || tabindex.length == 0){
		showDiv(1);
	}else{
		showDiv(tabindex);
	}
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.rule.edit.title")',
		width:1150,
		id:'addPatternFormBox'
	});
	box.addDom('dataForm');
	
	
	 
	
	
/*	jcl.postJSON('/tms/dp/txn/getAll', "", function(data){
		$.each(data.row, function(i,row){
			$("select[name=TXNID]").append("<option value='" + row['K'] + "'>" + row['V'] + "</option>");  
		}); 
	});
*/
	var ruleId = "ruleId="+jQuery.url.param("ruleId");
	jcl.postJSON('/tms/rule/get', ruleId, function(data){
			$('#ruleId').val(data.row.RULEID);
			$('#RULENAME').val(data.row.RULENAME);
			$('#RULEDESC').val(data.row.RULEDESC);
            $('#WEIGHT').val(data.row.WEIGHT);
			$('#ALERTMSG').val(data.row.ALERTMSG);
			$('#DISPOSAL').attr("value",data.row.DISPOSAL);
			var TXNID = data.row.TXNID;
			var TXNNAME = data.row.TXNNAME;
			//select设置value的值的项目为当前选中项
			$("#TXNID").attr("value",TXNID);	
			$("#TXNNAME").html(TXNNAME);
			
	});


	
	
	dialogsuccess = new jcl.ui.Dialog({
	    id:'dialogsuccess',
	    closeable: false,
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialogsuccess.addDom('succesInfo');
	
	
	dialogmaps = new jcl.ui.Dialog({
	 id:'dialogmaps',
	 closeable: false,
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialogmaps.addDom('succesInfoMap');
	

	
	$("#updateBtn").click(function(){
	     var ruleName=$('input[name=RULENAME]').val();
	     var issomename ="";
		if(Trim(ruleName)==""){
			alert('#springMessage("view.tms.rule.name.check")');
			return $('#RULENAME').focus();
		} 
	 	/* var txnid=$('select[id=TXNID]').val();
			 if(txnid==""){
			alert('#springMessage("view.tms.rule.check.txnid")');
			return ;
		}
		 if(txnid=='null'){
			alert('#springMessage("view.tms.rule.check.txnid.checknull")');
			return ;
		}*/
		//权重是否为空
		var weight=$('input[name=WEIGHT]').val();
		if(weight==""){
			alert('#springMessage("view.tms.rule.wehigt.check")');
			return $('#WEIGHT').focus();
		    }
		//权重是否为整数
		 var vBool=IsInt(weight,"+",0);
	     if(vBool==false )
           {
          	alert('#springMessage("view.tms.rule.wehigtint.checklimit")');
            return $('#WEIGHT').focus();
           }
	    //权重限制
	    var vlimit=IsCheckLimit(weight,"+");
	     if(vlimit==false )
           {
          	alert('#springMessage("view.tms.rule.wehigtint.checklimit")');
            return $('#WEIGHT').focus();
           }
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/rule/mod', params, function(data){
			dialogsuccess.show();
		});
		})
		

	$('#cancelBtn').click(function(){
		jcl.go('/tms/rule/list');
	});
	
	
	$('#backBtn').click(function(){
		var ruleId=$('#ruleId').val();
	    jcl.go('/tms/rule/edit?ruleId=' + ruleId);
	});
	
	
	
   $('#backBtnForedit').click(function(){
		var ruleId=$('#ruleId').val();
	    jcl.go('/tms/rule/edit?ruleId=' + ruleId);
	});
	
	  var ruleId= jQuery.url.param("ruleId");
	  //组装表格
	   g = $("#boxdiv").grid({
		title:'#springMessage("view.tms.rule.condmap.list")',
		width:1135,
		height:175,
		columns:[
			{name:'#springMessage("view.tms.rule.condition.add.condname")', width: 15, dataIndex:'CONDNAME'},
			{name:'#springMessage("view.tms.rule.condmap.add.type")', width: 15, dataIndex:'CONDTYPE',render:'tms.mgr.rulecmaptype'},
			{name:'#springMessage("view.tms.rule.condmap.add.target")', width: 30, dataIndex:'TARGET',render:'tms.mgr.rulecmaptarget'}
		],
		ds:{
			url:"/tms/rule/getruleCondMap",
			params:{ruleId:''+ruleId}
		},
		toolbar:[
			{id:"btn-toaddcond", icon:"icon-tb-add", text:'#springMessage("view.tms.pub.btn.new")'},
			{id:"btn-toupdatecond", icon:"icon-tb-edit", text:'#springMessage("view.tms.pub.btn.edit")'},
			{id:"btn-delcondBtn", icon:"icon-tb-del", text:'#springMessage("view.tms.pub.btn.del")'}
		],
		pagebar: true,
		qform: {id:"qform", display:false}

	});
	g.goPage();
	
	
	// 条件新建
	$('#btn-toaddcond').click(function(){
		
		/*$.each(g.page.list, function(i,row){
			// 如果列表中已有配置条件，不能新建配置条件类型的条件
			if(row['CONDTYPE']==0){
				$("#CONDTYPE option[value='0']").remove();   
			}
		});

		// 清理数据
		$('#CONDTYPE').val("-1");
		$('#CONDTYPE').change();*/
		if(g.page.list.length > 0){
			alert("已存在记录，只能修改");
			return;
		}
		$('#customcond').html("");
		$('#deployeditcond').html("");
		document.getElementById('deploycond').style.display='block';// 显示配置条件DIV
		document.getElementById('customcond').style.display='none';// 隐藏自定义条件DIV
		if(document.getElementById('deployeditcond')!=null)
		{
			document.getElementById('deployeditcond').style.display='none';	// 隐藏修改配置条件DIV
		}

		deploycondConfig();
		dialog2.show();
		$('#dialog2').unmiddle();
	});
	
	// 条件编辑
	$('#btn-toupdatecond').click(function(){
		var condname = '';
	    var rulecondmapid = '';
	    var condtype = '';
	    $('#deploycond').html("");
	    var rows = g.selectedRows(); 
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")!');
			return;
		}
		if(rows.length > 1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")!');
			return;
		}
	    if(rows != null && rows.length > 0){
			/*condname = rows[0]['CONDNAME'];
			rulecondmapid = rows[0]['RULECONDMAPID'];
			// 跳转到自定义条件修改页面
			editCondView(rulecondmapid,condname);
			condtype = rows[0]['CONDTYPE'];*/
			document.getElementById('deployeditcond').style.display='block';// 显示配置条件DIV
			document.getElementById('customcond').style.display='none';// 隐藏自定义条件DIV
			if(document.getElementById('deploycond')!=null)
			{
				document.getElementById('deploycond').style.display='none';	// 隐藏修改配置条件DIV
			}

			editdeploycondConfig();
			dialogmapedit.show();
			$('#dialogmapedit').unmiddle();
			
		}
		
		/*if(condtype == 1){
			if(rows.length > 1){
		        alert('#springMessage("view.tms.pub.checkbox.msg1")!');
				return;
			}
			// 跳转到自定义条件修改页面
			editCondView(rulecondmapid,condname); 
		}else{
	       
			editdeploycondConfig();
			dialogmapedit.show();
			$('#dialogmapedit').unmiddle();
		
		}*/	   
	});
	
	// 条件删除
	$('#btn-delcondBtn').click(function(){
		var rows = g.selectedRows();
			if(rows.length == 0){ 
				alert('#springMessage("view.tms.pub.checkbox.msg0")!');
				return;
			}
		if(confirm('#springMessage("view.tms.pub.del.confirm")?')){
			var compmapdelid = [];
			$.each(rows, function(i, row){
				compmapdelid.push('compmapdelid='+row['RULECONDMAPID']);
			});
			var params = compmapdelid.join('&');
			jcl.postJSON('/tms/rule/delrulconmap', params, function(data){
				alert('#springMessage("view.tms.pub.del.success")!');
				g.goPage();
			});
		}else{
			return ;
		}
	}); 
 
  	$('#cancelcondmapBtn').click(function(){
		$('#ruleid').val(jQuery.url.param("ruleId"));
		 var ruleId=$('#ruleid').val()
		  dialog2.hide();
		jcl.go('/tms/rule/edit?ruleId=' + ruleId);
	});
	
  	$('#cancelcondmapBtn1').click(function(){
		$('#ruleid').val(jQuery.url.param("ruleId"));
		 var ruleId=$('#ruleid').val()
		  dialog2.hide();
		jcl.go('/tms/rule/edit?ruleId=' + ruleId);
	});	
	
	$('#canceleditcondmapBtn').click(function(){
		$('#ruleid').val(jQuery.url.param("ruleId"));
		var ruleId=$('#ruleid').val();
		dialogmapedit.hide();
	    jcl.go('/tms/rule/edit?ruleId=' + ruleId);
	});
	// 类型下拉列表
	jcl.code.selector('DISPOSAL','tms.rule.disposal');

});
 
 

 
// TAB
function showDiv(index){
	var divObj = document.getElementsByName('first');
	var len = divObj.length;
	for(var i = 0; i < len; i++){
		divObj[i].style.display = "none";// 其他隐藏
	}
	divObj[index-1].style.display = "block";
	if(index == 2){
		//$('#condBtn').attr("class","noselect");
		//$('#actionBtn').attr("class","select");
		viewActionList();
	}/*else{
    	$('#condBtn').attr("class","select");
		$('#actionBtn').attr("class","noselect");
	}*/
}

// 动作列表
function viewActionList(){

		var actiongrid = $("#actionboxdiv").grid({
		title:'#springMessage("view.tms.rule.actionparam.title")',
		width:1135,
		height:175,
		columns:[
			{name:'#springMessage("view.tms.rule.actionparam.funcname")', width: 40, dataIndex:'ACTIONNAME'},
			{name:'#springMessage("view.tms.rule.actionparam.check.funcid")', width: 40, dataIndex:'FUNCNAME'},
			{name:'#springMessage("view.tms.rule.actionparam.funcdesc")', width: 80, dataIndex:'FUNCDESC'}
		],
		ds:{
			url:"/tms/rule/action/actionList",
			params:{ruleId:''+jQuery.url.param("ruleId")}
		},
		toolbar:[
			{id:"btn-add", icon:"icon-tb-add", text:'#springMessage("view.tms.pub.btn.new")'},
			{id:"btn-edit", icon:"icon-tb-edit", text:'#springMessage("view.tms.pub.btn.edit")'},
			{id:"btn-del", icon:"icon-tb-del", text:'#springMessage("view.tms.pub.btn.del")'}
		],
		pagebar: true,
		qform: {id:"qform", display:false}

	});
	actiongrid.goPage();
	
	// 动作新建
	$('#btn-add').click(function(){
		jcl.go('/tms/rule/action/add?ruleid='+jQuery.url.param("ruleId") + '&txnid='+$('#TXNID').val());
	});
	
	// 动作修改
	$('#btn-edit').click(function(){
		var rows = actiongrid.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")');
			return;
		}
		if(rows.length>1){
			alert('#springMessage("view.tms.pub.checkbox.msg1")');
			return;
		}
		var actionmapid = [];
		$.each(rows, function(i,row){
			actionmapid.push('actionmapid=' + row['ACTIONMAPID']);
		});            
		jcl.go('/tms/rule/action/edit?' + actionmapid[0] + '&ruleid='+jQuery.url.param("ruleId") + '&txnid='+$('#TXNID').val());
	});
	
	// 动作删除
	$('#btn-del').click(function(){
		var rows = actiongrid.selectedRows();
		if(rows.length == 0){ 
			alert('#springMessage("view.tms.pub.checkbox.msg0")!');
			return;
		}
		if(confirm('#springMessage("view.tms.pub.del.confirm")')){
			var rosterId = [];
			$.each(rows, function(i, row){
				rosterId.push('actionmapid='+row['ACTIONMAPID']);
			});
			rosterId.push('ruleid='+jQuery.url.param("ruleId"));
			var params = rosterId.join('&');
			jcl.postJSON('/tms/rule/action/del', params, function(data){
				alert('#springMessage("view.tms.pub.del.success")');
				actiongrid.goPage();
			});
		}else{
			return ;
		}
	});
	

	
}    

</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.tms.pub.edit.success")</div>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" align="left" id="backBtnForedit"/>
	</div>
</div>
<div id="succesInfoMap">
	<div>#springMessage("view.tms.pub.add.success")</div>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" align="left" id="backBtn"/>
	</div>
</div>


<div id="addcond" style="height:600px;collapse;">
<!--ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.condmap.add.type")：</label> 
		<span class="list-box-item-content"> <select id="CONDTYPE" name="CONDTYPE">
               </select>
		</span>
		
	</li>
	<div id='backButtonDiv' display="none" align="center">
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="noselect" id="cancelcondmapBtn1"/>
	 </div>
</ul-->

<div id="deploycond" style="display:none">

<table width="100%"  border="1" style="border-collapse: collapse;">
			<tr style="font-weight: bold;">
			 <div align='center'>
			 <input type="button" value="#springMessage("view.tms.rule.condmap.add")"  class="btn" onclick="addRow()" />
			 <input type="button" value="引入专家条件"  class="btn" onclick="importRow('deploycond')" />
			</div>
          <form name="condForm" id="condForm" method="post">
          	<input name="ruleid" type="hidden" id="ruleid" />
          	<input name="count" type="hidden" id="count" />
          	<input name="secondcount" type="hidden" id="secondcount" />
            <input name="threecount" type="hidden" id="threecount" />
            <input name="delcondmapaddid" type="hidden" id="delcondmapaddid" />
		   <table width="100%" id="deployconftab" border="1" style="border-collapse: collapse;">
		   <tbody id="tbody">
	    	<tr style="font-weight: bold;">
				<td  valign="top"  align="center" width="6%">
					#springMessage("view.tms.rule.condmap.editinfo.relation")
				</td>
				<td  valign="top"  align="center" width="8%">
					#springMessage("view.tms.rule.condmap.editinfo.condtxnid")
				</td>
				<td  valign="top"  align="center" width="6%">
					#springMessage("view.tms.rule.condmap.add.target")
				</td>
				<td  valign="top"  align="center" width="49%">
					#springMessage("view.tms.rule.condmap.editinfo.condmain")
				</td>
				<td  valign="top"  align="center" width="9%">
				#springMessage("view.tms.rule.condmap.editinfo.limitdown")
				</td>
				<td valign="top"  align="center" width="3%">
				#springMessage("view.tms.rule.condmap.editinfo.limitup")
				</td>
				<td valign="top"  align="center" width="2%">
					#springMessage("view.tms.rule.condmap.editinfo.scope")
				</td>
				<td valign="top"  align="center" width="6%">
					#springMessage("view.tms.rule.condmap.editinfo.weight")
				
				</td>
				<td valign="top"  align="center" width="20%">
				  	#springMessage("view.tms.rule.condmap.editinfo.countscope")
				</td>
				<td valign="top"  align="center" width="3%">
					#springMessage("view.tms.rule.condmap.editinfo.operotr")
				</td>
			</tr>	
			</tbody>
		</table>
	    </form>
				</td>
			</tr>
		</table>
	
<div class="button-box">
	<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="upcondmapBtn"/>
	<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="cancelcondmapBtn"/>
</div>
</div>




<!--自定义参数部分-->
<div id="customcond" style="display:none">
	
</div>

<div id="deployeditcond" style="display:none">


<div id="editcond" style="height:600px;collapse;">


<table width="100%"  border="1" style="border-collapse: collapse;">
			<tr style="font-weight: bold;">
				
			 <div  align='center'>
			 <input type="button" value="#springMessage("view.tms.rule.condmap.add")" class="btn"  onclick="addRow()" />
			 <input type="button" value="引入专家条件" class="btn"  onclick="importRow('deployeditcond')" />
          </div>
          <form name="condeditForm" id="condeditForm" method="post">
            
			<input name="ruleid" type="hidden" id="ruleid" />
          	<input name="count" type="hidden" id="count" />
          	<input name="secondcount" type="hidden" id="secondcount" />
            <input name="threecount" type="hidden" id="threecount" />
            <input name="delcondmapaddid" type="hidden" id="delcondmapaddid" />
		   <table width="100%" id="deployconftabedit" border="1" style="border-collapse: collapse;">
		   <tbody id="tbody">
	    	<tr style="font-weight: bold;">
				<td  valign="top"  align="center" width="7%">
					#springMessage("view.tms.rule.condmap.editinfo.relation")
				</td>
				<td  valign="top"  align="center" width="6%">
					#springMessage("view.tms.rule.condmap.editinfo.condtxnid")
				</td>
				<td  valign="top"  align="center" width="6%">
					#springMessage("view.tms.rule.condmap.add.target")
				</td>
				<td  valign="top"  align="center" width="49%">
					#springMessage("view.tms.rule.condmap.editinfo.condmain")
				</td>
				<td  valign="top"  align="center" width="9%">
					#springMessage("view.tms.rule.condmap.editinfo.limitdown")
				</td>
				<td valign="top"  align="center" width="3%">
					#springMessage("view.tms.rule.condmap.editinfo.limitup")
				</td>
				<td valign="top"  align="center" width="2%">
					#springMessage("view.tms.rule.condmap.editinfo.scope")
				</td>
				<td valign="top"  align="center" width="6%">
					#springMessage("view.tms.rule.condmap.editinfo.weight")
				
				</td>
				<td valign="top"  align="center" width="20%">
				  	#springMessage("view.tms.rule.condmap.editinfo.countscope")
				</td>
				<td valign="top"  align="center" width="3%">
					#springMessage("view.tms.rule.condmap.editinfo.operotr")
				</td>
			</tr>	
			</tbody>
		</table>
	    </form>
				</td>
			</tr>
		</table>
	
<div class="button-box">
	<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="upeditcondmapBtn"/>
	<input type="button" value="#springMessage("view.tms.pub.btn.cancel")" class="btn" id="canceleditcondmapBtn"/>
</div>
</div>


</div>

</div>







<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.rulename")：</label> 
		<span class="list-box-item-content"><input id="RULENAME" name="RULENAME" type="text" class="itext" onblur="checksomenameedit(this)"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.desc")：</label> 
		<span class="list-box-item-content"><input  id="RULEDESC" name="RULEDESC" type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.trade")：</label> 
		<span class="list-box-item-content"> 
		<span> 
				<font  id="TXNNAME"></font>
				<input name="TXNID" id="TXNID" type="hidden" class="itext" />
         </span> 
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.disposal")：</label> 
		<span class="list-box-item-content"> <select id="DISPOSAL" name="DISPOSAL">
				</select><font color="red">*</font>
		</span>
	</li>
    <li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.weight")：</label> 
		<span class="list-box-item-content"><input id="WEIGHT" name="WEIGHT" type="text" class="itext"/>%<font color="red">*</font>
		</span>
	</li>
   <li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.alertmrg")：</label> 
		<span class="list-box-item-content"><textarea name="ALERTMSG" id="ALERTMSG" cols="45" class="ttext" rows="5"></textarea>
		</span>
	</li>
</ul>
<div class="button-box">
	<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="updateBtn"/>
	<input type="button" value="#springMessage("view.tms.pub.btn.cancel")" class="btn" id="cancelBtn"/>
	<input name="ruleId" id="ruleId" type="hidden" class="itext" />
</div>

<div id=u37_rtf style="position:left:57px;">
	<input type="button" value="▼--#springMessage("view.tms.rule.condmap.list")--" class="btn" id="condBtn" align="right"  onclick="showDiv(1);"/>
	<input type="button" value="▼--#springMessage("view.tms.rule.movement.list")--" class="btn" id="actionBtn" align="right" onclick="showDiv(2);"/>
</div>

<div id="first" name="first">
<div id="boxdiv" class="box"></div>
</div>

<div id="first" name="first" style="display:none">
	<div id="actionboxdiv" class="box"></div>
</div>

<div id="addDiv">
	
</div>

<div id="#second">
</div>
</form>

</body>
</html>
