<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.rule.add.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script> 
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	var box = new jcl.ui.Box({
		title: '#springMessage("view.tms.rule.add.title")',
		id:'addPatternFormBox'
	});
	box.addDom('dataForm');
	
	var dialog = jcl.ui.Dialog({
	    closeable: false,
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialog.addDom('succesInfo');
	
	$("#addBtn").click(function(){
		var ruleName=$('input[name=RULENAME]').val();
			if(Trim(ruleName)==""){
			alert('#springMessage("view.tms.rule.name.check")');
			return $('#RULENAME').focus();
		}
		//是否选择交易
		var txnid=$('select[id=TXNID]').val();
		 if(txnid==""){
			alert('#springMessage("view.tms.rule.check.txnid")');
			return $('#TXNID').focus();
		}
		 if(txnid=='null'){
			alert('#springMessage("view.tms.rule.check.txnid.checknull")');
			return $('#TXNID').focus();
		}
		//权重是否为空
		var weight=$('input[name=WEIGHT]').val();
		if(weight==""){
			alert('#springMessage("view.tms.rule.wehigt.check")');
			return $('#WEIGHT').focus();
		    }
		 //权重是否为整数   
		var vBool=IsInt(weight,"+",0);
	     if(vBool==false )
           {
          	alert('#springMessage("view.tms.rule.wehigtint.checklimit")');
            return $('#WEIGHT').focus();
           }
	     //权重限制
	     var vLimit=IsCheckLimit(weight,"+");
	     if(vLimit==false )
           {
          	alert('#springMessage("view.tms.rule.wehigtint.checklimit")');
            return $('#WEIGHT').focus();
           }
		var params = $('#dataForm').serialize();
		jcl.postJSON('/tms/rule/add', params, function(data){
		    $('#ruleId').val(data.row.RULEID);
			dialog.show();
		});
		
	});
	jcl.postJSON('/tms/dp/txn/getAll', "", function(data){
		$.each(data.row, function(i,row){
			//$("select[name=TXNID]").append("<option value='" + row['K'] + "'>" + row['V'] + "</option>");
			if(row['K'].indexOf('G')>-1){//如果是组或渠道，添加为optgroup属性，不能选择               
				$("select[name=TXNID]").append("<optgroup label='"+row['V']+"'> "+ row['V'] + "</optgroup>");
			}else{
				$("select[name=TXNID]").append("<option value='" + row['K'] + "'>" + row['V'] + "</option>");
			}   
		}); 
	});
	$('#cancelBtn').click(function(){
		jcl.go('/tms/rule/list');
	});

	$('#backBtn').click(function(){
	  
	    var ruleId=$('#ruleId').val();
	    jcl.go('/tms/rule/edit?ruleId=' + ruleId);
        //dialog.hide(); 
	});
	
	// 类型下拉列表
	jcl.code.selector('DISPOSAL','tms.rule.disposal');
	
});


</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.tms.pub.add.success")</div>
	<div class="button-box">
		<input type="button" value="#springMessage("view.tms.pub.btn.banck")" class="btn" id="backBtn"/>
	</div>
</div>


<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.rulename")：</label> 
		<span class="list-box-item-content"><input name="RULENAME" id="RULENAME" type="text" class="itext" onblur="checksomenameadd(this)"/><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.desc")：</label> 
		<span class="list-box-item-content"><input name="RULEDESC" type="text" class="itext"/></span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.trade")：</label> 
		<span class="list-box-item-content"> <select id="TXNID" name="TXNID">
                     <option value="">--请选择--</option>
               </select><font color="red">*</font>
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.disposal")：</label> 
		<span class="list-box-item-content"> <select id="DISPOSAL" name="DISPOSAL">
               </select><font color="red">*</font>
		</span>
	</li>
    <li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.weight")：</label> 
		<span class="list-box-item-content"><input name="WEIGHT" type="text" id="WEIGHT" class="itext"/>%<font color="red">*</font>
		</span>
	</li>
   <li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.rule.add.alertmrg")：</label> 
		<span class="list-box-item-content"><textarea name="ALERTMSG" id="ALERTMSG" class="ttext" cols="45" rows="5"></textarea>
		</span>
	</li>
</ul>
<div class="button-box">
	<input type="button" value="#springMessage("view.tms.pub.btn.save")" class="btn" id="addBtn"/>
	<input type="button" value="#springMessage("view.tms.pub.btn.cancel")" class="btn" id="cancelBtn"/>
	<input name="ruleId" id="ruleId" type="hidden" class="itext" />
</div>
</form>

</body>
</html>
