<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.auth.authDetail.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var tableName = jQuery.url.param("tableName");
	var box = new jcl.ui.Box({
		title: '#springMessage("授权意见")',
		id:'editPatternFormBox'
	});
	box.addDom('dataForm');
	
	var authIds = jQuery.url.param("authId");
	//组装授权信息表格
	var authGrid = $("#authGrid").grid({
		title:'#springMessage("授权信息列表")',
		checkboxEnable:false,
		columns:[
			{name:'#springMessage("view.tms.auth.authList.operateData")', width: 30, dataIndex:'OPERATE_DATA'},
			{name:'#springMessage("view.tms.auth.authList.propostName")', width: 30, dataIndex:'REAL_NAME'},
			{name:'#springMessage("view.tms.auth.authList.operateFunc")', width: 30, dataIndex:'FUNC_NAME'}
		],
		ds:{
			url:"/tms/auth/getAuthDetail",
			params:{"authIds":authIds}
		},
		pagebar: false,
		qform: {}
	});
	authGrid.goPage();
	
	var dialog = new jcl.ui.Dialog({
		title:'#springMessage("view.tms.pub.dialog.title")'
	});
	dialog.addDom('succesInfo');
	
	$("#updateBtn").click(function(){
		var status=$("input[name='AUTH_STATUS']:checked").val();
		var reason=$('#AUTH_MSG').val();
		
		if(status=='2' && reason==''){
			alert('#springMessage("view.tms.auth.authDetail.noreason")');
			return ;
		}
		if(reason!='' &&  !checkeLength(reason, '2000')) {
			alert('#springMessage("view.tms.auth.authDetail.reasonToolong")');
			return ;	
		}
		if(reason!='' && !checkeSpecialCode(reason)){
			alert('#springMessage("view.tms.auth.authDetail.specialMsg")');
			return ;
		}
		
		if(status=='1'){
			$('#result').val('#springMessage("view.tms.auth.authOperate.yes")');
		}else{
			$('#result').val('#springMessage("view.tms.auth.authOperate.no")');
		}
		
		$("#AUTH_IDS").val(authIds);
		var params = $('#dataForm').serialize();
		
		//TODO 错误提示
		jcl.postJSON('/tms/auth/modAuth', params, function(data){
			dialog.show();
		});
		
		/* 解锁
		var params = "AUTH_ID="+authId;
		jcl.postJSON('/tms/auth/openLock', params, function(data){
			jcl.go('/tms/auth/modelList');
		}); */
	})
	
	$('#cancelBtn').click(function(){
		jcl.go('/tms/auth/authDataList?tableName='+ tableName);
	});
	$('#backBtn').click(function(){
		/* jcl.go('/tms/auth/modelList'); */
		jcl.go('/tms/auth/authDataList?tableName='+ tableName);
	});
	
});

</script>

</head>
<body>
<div id="succesInfo">
	<div>#springMessage("view.cmc.pub.edit.success")</div>
	<div class="button-box">
		<input type="button" value='#springMessage("view.cmc.pub.btn.sure")' class="btn" id="backBtn"/>
	</div>
</div>

<!-- 授权列表 -->
<div id="authGrid" class="box"></div>

<form name="dataForm" id="dataForm" method="post">
<ul class="list-box">
	<!-- <li class="list-box-item">
		<input name="AUTH_ID" id="AUTH_ID" type="hidden" />
		<input name="DATANAME" id="DATANAME" type="hidden" />
		<input name="FUNC" id="FUNC" type="hidden" />
		<input name="result" id="result" type="hidden" />
		
		<label class="list-box-item-label" id='txnlable' >#springMessage("view.tms.auth.authList.txnName")：</label> 
		<span class="list-box-item-content" id="TXNNAME">
		</span>
	</li> -->
	<li class="list-box-item">
		<input name="AUTH_IDS" id="AUTH_IDS" type="hidden" />
	</li>
	
	<!-- <li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.auth.authDetail.dataName")：</label> 
		<span class="list-box-item-content" id="dataName">
		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.auth.authList.operateFunc")：</label> 
		<span class="list-box-item-content" id="func">
		</span>
	</li> -->
	
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.auth.authDetail.isAccess")：</label> 
		<span class="list-box-item-content">
		<input type="radio" id="status1" name="AUTH_STATUS" value="1" checked="checked" /> 是
			<input type="radio" id="status2" name="AUTH_STATUS" value="2"  /> 否
 		</span>
	</li>
	<li class="list-box-item">
		<label class="list-box-item-label">#springMessage("view.tms.auth.authDetail.reason")：</label> 
		<span class="list-box-item-content" > 
		<textarea name="AUTH_MSG" class="ttext" id="AUTH_MSG" ></textarea>
		</span>
	</li>
	<!-- 页面只有一个text，需要加一个空input标签防止回车提交-->
	<input style='display:none;' ></input>
</ul>
<div class="button-box">
	<input type='button' value='#springMessage("view.tms.pub.btn.save")' class='btn' id='updateBtn'/>
	<input type='button' value='#springMessage("view.tms.pub.btn.banck")' class='btn' id='cancelBtn'/>
	
</div>
</form>


<!-- <div id="boxdiv" class="box"></div> -->
</body>
</html>
