<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.auth.authQuary.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/commoncheck.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var modelName = jQuery.url.param("modelName");
	
	var columns;
	if(modelName=='名单管理'){
		columns = [
			{name:'#springMessage("view.tms.auth.authList.operateData")', width: 30, dataIndex:'OPERATEDATA_VALUE'},
			{name:'#springMessage("view.tms.auth.authList.origFunc")', width: 30, dataIndex:'ORIG_OPERATENAME'},
			{name:'#springMessage("view.tms.auth.authQuary.authStatus")', width: 30, dataIndex:'AUTH_STATUS',render:'tms.auth.authstatus'},
			{name:'#springMessage("view.tms.auth.authDetail.reason")', width: 50, dataIndex:'AUTH_MSG'},
			{name:'#springMessage("view.tms.auth.authList.propostTime")', width: 40, dataIndex:'PROPOSER_TIME'},
			{name:'#springMessage("view.tms.auth.authQuary.refreshStatus")', width: 40, dataIndex:'REFRESH_STATUS',render:'common.operateresult'},
			{name:'#springMessage("view.tms.auth.authQuary.refreshMsg")', width: 40, dataIndex:'REFRESH_INFO'}
		];
	} else {
		columns = [
			{name:'#springMessage("view.tms.auth.authList.operateData")', width: 30, dataIndex:'OPERATEDATA_VALUE'},
			{name:'#springMessage("view.tms.auth.authList.origFunc")', width: 30, dataIndex:'ORIG_OPERATENAME'},
			{name:'#springMessage("view.tms.auth.authList.txnName")', width: 50, dataIndex:'TXNNAME'},
			{name:'#springMessage("view.tms.auth.authQuary.authStatus")', width: 30, dataIndex:'AUTH_STATUS',render:'tms.auth.authstatus'},
			{name:'#springMessage("view.tms.auth.authDetail.reason")', width: 50, dataIndex:'AUTH_MSG'},
			{name:'#springMessage("view.tms.auth.authList.propostTime")', width: 40, dataIndex:'PROPOSER_TIME'},
			{name:'#springMessage("view.tms.auth.authQuary.refreshStatus")', width: 40, dataIndex:'REFRESH_STATUS',render:'common.operateresult'},
			{name:'#springMessage("view.tms.auth.authQuary.refreshMsg")', width: 40, dataIndex:'REFRESH_INFO'}
		];
	}
	//组装表格
	var g = new jcl.ui.Grid({
		title:'#springMessage("view.tms.auth.authQuary.title")',
		table:{
			columns:columns,
			ds:{
				url:"/tms/auth/dataquary",
				params:{"modelName":modelName},
				callback:function(list){
					for(var i = 0; i < list.length; i++){
						list[i]['PROPOSER_TIME'] = jcl.util.convert.datetime(list[i]['PROPOSER_TIME']);
					}
				}
			},
			pagebar: true
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:'#springMessage("ui.common.btn.query")', action:'toggleQform'},
			{id:"btn-log", icon:"icon-tb-aw-l", text:'#springMessage("view.tms.auth.authList.log")', enable:'oneRowSelected'},
			{id:"btn-back", icon:"icon-tb-aw-r", text:'#springMessage("view.tms.pub.btn.banck")'}
		],
		qform: {
			display:false,
			items:[
				 {label:'#springMessage("view.tms.auth.authQuary.txn")',name:'TXN_ID',  type:'treeselector',rtNode:true, multiple:false, cascadeCheck:false, 
				  	 ds:{type:'remote', url:'/tms35/trandef/queryTmp', parser:{key:'list', text:'TAB_DESC', value:'TAB_NAME'}, lazyLoad:true}},
				 
				 //{label: '#springMessage("view.tms.auth.authQuary.txn")', name: 'TXN_ID', type:'selector',title:'-请选择-',ds:{type:'remote',url:'/tms35/trandef/getAllTran',parser:{key:'list',text:'TAB_DESC',value:'TAB_NAME'}}},
				 {label: '#springMessage("view.tms.auth.authQuary.authStatus")', name: 'AUTH_STATUS',type:'selector',title:'-请选择-',items:[{text:'--请选择--',value:''}],ds:{type:'code',category:'tms.auth.authstatus'}},
				 {label: '#springMessage("view.tms.auth.authList.propostTime")', name: 'PROPOSER_TIME',type: 'dateduration', layout:'datetime'}
			],btns:[
				{id: 'quick_search_btn', text: '#springMessage("view.cmc.but.find")'}
			]
		}
	});
	g.goPage();
	
	//单击查看日志按钮
	g.toolbar.onClick('#btn-log', function(){
		var rows = g.selectedRows();
		var param = '';
		var logTile = '';
		$.each(rows, function(i,row){
			param = 'authId='+row['AUTH_ID'];
			logTile = row['OPERATE_NAME']+'-'+row['OPERATEDATA_VALUE']+'授权日志';
		});
		param = param + "&modelName="+modelName+"&flag=query";
		jcl.go('/tms/auth/toLog?'+param,logTile);
	});
	
	//返回
	g.toolbar.onClick('#btn-back', function(){
		jcl.go('/tms/auth/authQuery');
	});
	
	$("#quick_search_btn").click(function(){
		var proposer_time = g.qform.getItem("PROPOSER_TIME").val();// 日期范围
		var ps = proposer_time.split(',');
		
		if(ps[0] != '' && ps[1] != '' && ps[0] > ps[1]){
			alert("授权提交时间的开始值不能大于结束值");
			return;
		}
		
		var params = g.qform.jqDom.serialize();
		var ps = [params, "modelName="+encodeURIComponent(modelName)];
		g.setDsParams(ps.join('&'));
		g.goPage();
	});
	
	jcl.code.selector('AUTH_STATUS','tms.auth.authstatus',{text:'请选择',value:''});
});
</script>

</head>
<body>

</body>
</html>
