<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.auth.authQuary.detail.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	var authId = jQuery.url.param("authId");
	var dataName = jQuery.url.param("dataName");
	
	
	var param = "AUTHID="+authId;
	param +="&isLock=false";
	jcl.postJSON('/tms/auth/getAuthDetail', param, function(data){
			$('#dataName').text(data.row.NEWDATANAME);
			$('#func').text(data.row.FUNCNAME);
			var txnName  = data.row.TXNNAME;
			$("#TXNNAME").text(txnName);
			if(txnName==null || txnName==''){
				$('#txnTr').hide();
			}
			var authStatus = data.row.AUTH_STATUS;
			var status = '';
			if(authStatus=='0'){
				status='待授权';
			}else if(authStatus=='1'){
				status = '通过';
			}else if(authStatus=='2'){
				status = '未通过';
			}
			$("#status").text(status);
			$("#REFUSEINF").val(data.row.REFUSEINF);
	});
	
	
	//组装表格
	var g = $("#boxdiv").grid({
		title:'<'+dataName+'>'+'#springMessage("view.tms.auth.authLog.title")',
		checkboxEnable:false,
		columns:[
			{name:'#springMessage("view.cmc.log.list.col.operator")', width: 30, dataIndex:'REAL_NAME'},
			{name:'#springMessage("view.cmc.operator.list.col.loginName")', width: 30, dataIndex:'LOGIN_NAME'},
			{name:'#springMessage("view.cmc.log.list.col.operateTime")', width: 45, dataIndex:'OPERATE_TIME',render:'datetime'},
			{name:'#springMessage("view.cmc.log.list.col.func")', width: 30, dataIndex:'FUNC_NAME'},
			{name:'#springMessage("view.cmc.log.list.col.operateResult")', width: 20, dataIndex:'OPERATE_RESULT',render:'common.operateresult'},
			{name:'#springMessage("view.cmc.log.list.col.operateData")', width: 120, dataIndex:'OPERATE_DATA'}
		],
		ds:{
			url:"/tms/auth/toLog",
			params:{authId:authId}
		},
		toolbar:[{}],
		pagebar: true,
		qform: {}

	});
	g.goPage();
	
	
});


//  隐藏/展开相应的层
function displayDiv(divId){
	//$("#"+divId).hide();
	var s = document.getElementById(divId).style.display;
	if(s=="none"){
		document.getElementById(divId).style.display="";
	}else{
		document.getElementById(divId).style.display="none";
	}
}

</script>

</head>
<body>

<form id="qform" name="qform" method="post">
<table width="95%" border="0" cellspacing="0" cellpadding="1" style="margin-left: 10px">
<tr><td id="chartTd">
		<div class="box-title-wrap-m" style="width: 100%;">
			<div class="box-title-wrap-l">
				<div class="box-title-wrap-r">
					<div class="box-title" onclick="displayDiv('detaildiv')" style="cursor: pointer;">#springMessage("view.tms.auth.authQuary.detail.title")</div>
				</div>
			</div>
		</div>
		<div class="box-qform-wrap-b" id="detaildiv" style="width: 100%;">
			<div class="box-qform-wrap-t">
				<div id="condetiondiv" class="box-qform">
						<table width="100%"  >
						   <tr id="txnTr">
						       <td align="right" style="width: 50px;">#springMessage("view.tms.auth.authList.txnName"):</td>
					           <td align="left" style="width: 220px;">
					           		<span class="list-box-item-content" id="TXNNAME"></span>
					           </td>
				           </tr>
				           <tr>
						       <td align="right" style="width: 50px;">#springMessage("view.tms.auth.authDetail.dataName"):</td>
					           <td align="left" style="width: 220px;">
					           		<span class="list-box-item-content" id="dataName"></span>
				          	   </td>
				           </tr>
				           <tr>
						       <td align="right" style="width: 50px;">#springMessage("view.tms.auth.authList.operateFunc"):</td>
					           <td align="left" style="width: 220px;">
					           		<span class="list-box-item-content" id="func"></span>
					           </td>
				           </tr>
				           <tr>
						       <td align="right" style="width: 50px;">#springMessage("view.tms.auth.authQuary.authStatus"):</td>
					           <td align="left" style="width: 220px;">
					           		<span class="list-box-item-content" id="status">
							 		</span>
					           </td>
				           </tr>
				           <tr>
						       <td align="right" style="width: 50px;">#springMessage("view.tms.auth.authDetail.reason"):</td>
					           <td align="left" style="width: 220px;">
					           		<span class="list-box-item-content" > 
									<textarea name="REFUSEINF" class="ttext" id="REFUSEINF" readonly="readonly"></textarea>
									</span>
					           </td>
					       </tr>
					  </table>   
				</div>
				<div id="chartdiv" class="box-qform" align="center"></div>
			</div>
		</div>
	</td></tr>
	<tr><td>
		<div id="boxdiv" class="box"></div>
	</td></tr>
</table>
</form>
</body>
</html>
