<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#springMessage("view.tms.alarm.strategy.title")</title>
<link href="$rc.contextPath/s/common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/validate.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/jcq.js"></script>
<script type="text/javascript">
var dualAudit = '${readonly}' == 'false';
var params = decodeURIComponent(jcq.util.getUrlParamsString());
$(document).ready(function(){
	var stBox = new jcl.ui.Box({
		title:'策略信息'
	});
	var stForm = null, ruleHitGrid = null;
	jcl.postJSON('/tms/alarmevent/alarmStrategy', params, function(data){
		var row = data['row'], list = data['list'], rules = data['ruleList'];
		if (row) {
			stForm = new jcl.ui.Form({
				display: true,
				layout: 'list',
				items:[
					{label: '策略名称', name: 'ST_NAME', value:row['ST_NAME']},
					{label: '评估方式', name: 'EVAL_MODE', value:jcl.code.get('tms.strategy.evalmode', row['EVAL_MODE'])},
					{label: '规则执行方式', name: 'RULE_EXEC_MODE', value:jcl.code.get('tms.strategy.rule_exec_mode', row['RULE_EXEC_MODE'])},
					{label: '评估条件', name: 'EVAL_COND_IN', value:row['EVAL_COND_IN']}
				]
			}, stBox.container);
			stForm.showViewMode();
			if (list) {
				for (var i = 0, len = list.length; i < len; i++) {
					var eval = list[i];
					var eval_type = eval['EVAL_TYPE'], eval_mech = eval['EVAL_MECH'];
					var reBox = new jcl.ui.Box({
						title: jcl.code.get('tms.rule.evaltype', eval_type)
					}, stForm.jqDom);
					var _items_ = [{label: '评估机制', name: 'EVAL_MECH', value:jcl.code.get('tms.statregy.eval_mech', eval_mech)}];
					if (eval_mech*1 == 0) {//分值
						_items_.push({label: '统计函数', name: 'STAT_FUNC', value:jcl.code.get('tms.strategy.statfunc', eval['STAT_FUNC'])});
						_items_.push({label: '处置分值', name: 'PS_SCORE', value:eval['PS_SCORE']});
					} else if (eval_mech*1 == 1) {//处置
						_items_.push({label: '中断策略', name: 'DIS_STRATEGY', value:jcl.code.get('tms.statregy.dis_strategy', eval['DIS_STRATEGY'])});
					}
					var reForm = new jcl.ui.Form({
						display: true,
						layout: 'list',
						items:_items_
					}, reBox.container);
					reForm.showViewMode();
				}
			}
		} else {
			stBox.container.empty().html('<div align="center"><b>没有策略信息记录</b></div>');
		}
		jcl.postJSON('/tms35/rule/disposal', '', function(dpData){
			var dps = dpData.row;
			if (rules) {
				ruleHitGrid = new jcl.ui.Grid({
					title:'规则命中列表',
					marginTop:0,
					table:{
						checkboxEnable:false,
						columns:[
							{name:'规则名称', width: 50, dataIndex:'RULE_SHORTDESC'},
							{name:'规则条件', width: 60, dataIndex:'RULE_COND_IN'},
							{name:'风险类型', width: 12, dataIndex:'EVAL_TYPE', render:'tms.rule.evaltype'},
							{name:'分值', width: 8, dataIndex:'RULE_SCORE'},
							{name:'处置方式', width: 15, dataIndex:'DISPOSAL', render:function(v){
								for (var i = 0; i < dps.length; i++) {
									var dp = dps[i];
									var dp_code = dp['DP_CODE'];
									if(dp_code == v){
										return dp['DP_NAME'];
									}
								}
							}},
							{name:'执行耗时', width: 10, dataIndex:'NUMTIMES'}
						],
						pagebar: false
					}
				});
				ruleHitGrid.jqDom.css('padding-top', 8);
				ruleHitGrid.renderPage({list:rules});
			}
			jcq.common.autoSiteIframeHeight(true, params, dualAudit);
		}, false);
	}, false);
});
</script>
</head>
<body>
</body>
</html>