<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>交易模型</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link type="text/css" rel="stylesheet" href="$rc.contextPath/s/common/css/page.css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/query/jcq.js"></script>

<script type="text/javascript">

	jcl.postJSON = function(uri, params, callback, loading){

		var url = '';
	    if (dualAudit != 'true' && $.inArray(uri, uris) > -1) {
	    	url = [(jcl.env.contextPath + '/dualaudit'), uri].join('');
	    } else {
	    	url = [jcl.env.contextPath, uri].join('');
	    }

		url += ((url.indexOf('?') != -1) ? '&' : '?' ) + 'format=json&t=' + new Date().getTime();
		var _loading = true;
		if(loading != undefined){_loading = loading;}
		jcl.ajax({
			loading: _loading,
			url : url,
			data: params,
			dataType: 'json',
			callback: function(data){
				if(typeof(data) == 'object'){
					//TODO 处理业务异常
					//if(common_callback(data)){;}
					callback(data);
				}else{
					//TODO 处理其他服务异常
				}
			}
		});
	};
</script>

<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/model.ui.HandlerFunction.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/txn_model.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/tran_def.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/user_pattern.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/stat_pattern.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/user_info.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/stat_info.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>


<script type="text/javascript">
	var dualAudit = jQuery.url.param("dualAudit");
	var uris = [
	    '/tms35/userpattern/userPatternList',
	    '/tms35/userpattern/save'
	];
</script>


<style type="text/css">
#right-box{float:left; overflow:auto;}
</style>

<script type="text/javascript">
	var grid_s;
	//1只显示二项分布和区间分布，其余都显示
	var staflag = '1';
$(document).ready(function(){
	var userId = jQuery.url.param("userId");
	
	// 初始化统计表格数据
	grid_s = new jcl.ui.Grid({
		title: "统计列表",
		marginTop: 0,
		qform:{
			id:"qformdate", 
			display:false
		},
		toolbar:[
			{id:"btn-find", icon:"icon-tb-find", text:"查询", action:'toggleQform'},
			{id:"u-btn-next", icon:"icon-tb-edit", text:"自定义行为习惯配置", enable:'oneRowSelected'},
			{id:"u-btn-up", icon:"icon-tb-edit", text:"返回"}
		],
		table:{
			columns:[
				{name:"统计名称", width: 15, dataIndex:'STAT_NAME'},
				{name:"统计描述", width: 30, dataIndex:'STAT_DESC'},
				{name:"统计函数",width: 20, dataIndex: 'FUNC_NAME'},
				{name:"统计目标",width: 20, dataIndex: 'STAT_DATAFD'},
				{name:"所属交易", width: 20, dataIndex:'TAB_DESC'},
				{name:"有效性", width: 12, dataIndex:'STAT_VALID', render:'tms.mgr.rulestatus'}
			],
			ds:{
				url:"/tms35/userpattern/list",
				params:{staflag:staflag}
			},
			pagebar: true
		}
		
	});
	
	grid_s.goPage();
	
	// 统计列表查询按钮
	$('#quick_search_btn').click(function(){
		
		var stat_name = $('#stat_name').val();
		var stat_desc = $('#stat_desc').val();
		
		if (stat_name != '' && !checkeSpecialCode(stat_name)) {
			alert('统计名称不能输入特殊字符');
			return false;
		}
		if (stat_desc != '' && !checkSpecialCharacter(stat_desc, "2")) {
			alert('统计描述只能包含汉字,字母,数字和下划线');
			return false;
		}
		
		var params = $('#qformdate').serialize();
		grid_s.setDsParams(params+"&staflag="+staflag);
		grid_s.goPage();
		
	});

$('#qformdate #stat_name').maxLength(10);
$('#qformdate #stat_desc').maxLength(200);

	grid_s.toolbar.onClick('#u-btn-up', function(){
		history.back();
	});
	grid_s.toolbar.onClick('#u-btn-next', function(){
		cond_dialog = new jcl.ui.Dialog({title:"自定义行为习惯配置",width:800,draggable: true});
		cond_dialog.addDom('right-box');
		cond_dialog.show();
		$('#right-box').show();
		
		tabPanel.activeTab(0); // 会调用 onTabClick
		$('#right-box').find('.tabp-tabs-wrap').removeClass();// 删除tabs的背景色
	});
	
	var tabs = [
	   	{title:'自定义行为习惯', dom:'#userPatternGridDiv', handler: model.userPattern},
		{title:'自学习行为习惯', dom:'#statPatternGridDiv', handler: model.statPattern},
	   	{title:'用户信息', dom:'#userInfoDiv', handler: model.userInfo},
		{title:'统计信息', dom:'#statInfoDiv', handler: model.statInfo}
	];
	
	var page = {};
	
	function getAcHandler(index){
	 	var tab = tabs[index];
		var user_id = userId;
		var stat_id = grid_s.selectedRows()[0].STAT_ID;
	 	if(tab.handler.isInit){
	 		tab.handler.load(user_id,stat_id);
	 	}else{
	 		tab.handler.isInit = true;
	 		tab.handler.init(user_id,stat_id);
	 	}
		$(tab.dom).triggerHandler('resizes');
	  }
	
	//多页签面板
    var tabPanel = page.tabPanel = new jcl.ui.TabPanel({tabsWrap:true}, $('#right-box'));
	
	$.each(tabs, function(i, tab){
    	 tabPanel.addTab(tab.title, $(tab.dom), getAcHandler);
    });
	
	//tabPanel.activeTab(0); // 会调用 onTabClick
	
	tabPanel.onTabClick(function(index){
    	return true;		
	});
	
	
	jcl.postJSON('/tms/stat/code', 'category_id=tms.pub.func&args=2', function(data){
		$.each(data.row, function(i,row){
			//1只显示二项分布和区间分布
			if('1' == staflag){
					 if('bin_dist' == row['CODE_KEY'] || 'rang_bin_dist' == row['CODE_KEY']){
						$("select[name=stat_fn]").append("<option value='" + row['CODE_KEY'] + "'>" + row['CODE_VALUE'] + "</option>");
					 } 
			}else{
				$("select[name=stat_fn]").append("<option value='" + row['CODE_KEY'] + "'>" + row['CODE_VALUE'] + "</option>"); 
			}
		}); 
	});
	
	// 所属交易下拉列表
	new jcl.ui.TreeSelector({
		name:"txnid",
		multiple: true,
		cascadeCheck: true,
		sm:{type:"checkbox"},
		rtNode:true,
		ds: {
			type: 'remote',
			url: '/tms35/trandef/query',
			parser: {
				key: 'list',
				text: 'TAB_DESC',
				value: 'TAB_NAME'
			},
			lazyLoad: true
		}
		},$('#txnidDiv'));
	
});

	
</script>
</head>
  <body>
  	<form id="qformdate" name="qformdate" method="post">
		<table>
			<tr>
				<td width="90" align="right">
					统计名称:
				</td>
				<td width="200">
					<input name="stat_name" id="stat_name" type="text" class="itext" />
				</td>
				<td width="90" align="right">
					统计描述:
				</td>
				<td width="200">
					<input name="stat_desc" id="stat_desc" type="text" class="itext"  />
				</td>
				<td width="90" align="right">
					统计函数:
				</td>
				<td width="200">
					<select name="stat_fn" id="stat_fn">
		               	<option value="">--请选择--</option>
		               </select>
				</td>
				<td width="90" align="right">
					所属交易:
				</td>
				<td width="200">
					<div name="txnidDiv" id="txnidDiv"></div>
				</td>
				<td>
					<input id="quick_search_btn" type="button" value='#springMessage("view.tms.pub.btn.find")' class="btn" /> 
				</td>
			</tr>
		</table>
	</form>
	
  <div id="boxdiv_statRrid" class="grid-column"></div>
  
  <div id="right-box" style="display:none;width:760px"></div> <!-- 页签-->
  <div id="userPatternGridDiv" class="grid-column" style="overflow-y:auto;width:750px;height:300px"></div> <!-- 用户自定义行为习惯列表-->
  <div id="statPatternGridDiv" class="grid-column" style="overflow-y:auto;width:750px;height:300px"></div> <!-- 自学习行为习惯列表-->
  <div id="userInfoDiv" style="width:750px;height:300px;overflow-x:hidden;overflow-y:auto;"></div> <!-- 用户信息-->
  <div id="statInfoDiv" style="overflow-y:auto;width:750px;height:300px"></div> <!-- 统计信息-->
  
  </body>
</html>
