<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>自定义行为模式</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link type="text/css" rel="stylesheet" href="$rc.contextPath/s/common/css/page.css" />
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/browser.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jcl.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms/js/common/jcl_tms.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/env.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/env/message.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/model.ui.HandlerFunction.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/commoncheck.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/json2.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/txn_model.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/tran_def.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/user_pattern.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/tms35/js/user_info.js"></script>
<script type="text/javascript" src="$rc.contextPath/s/common/js/jquery.url.js"></script>
<style type="text/css">
#right-box{float:left; overflow:auto;}
</style>
<script type="text/javascript">
$(document).ready(function(){
	var statId = jQuery.url.param("statId");
	var userId = jQuery.url.param("userId");
	
	var tabs = [
	   	{title:'自定义行为习惯', dom:'#userPatternGridDiv', handler: model.userPattern},
		{title:'自学习行为习惯', dom:'#statPatternGridDiv', handler: model.statPattern},
	   	{title:'用户信息', dom:'#userInfoDiv', handler: model.userInfo},
	   	{title:'统计信息', dom:'#statInfoDiv', handler: model.userPattern}
	];
	
	var page = {};
	
	function getAcHandler(index){
	 	var tab = tabs[index];
		var user_id = userId;
		var stat_id = statId;
	 	if(tab.handler.isInit){
	 		tab.handler.load(user_id,stat_id);
	 	}else{
	 		tab.handler.isInit = true;
	 		tab.handler.init(user_id,stat_id);
	 	}
		$(tab.dom).triggerHandler('resizes');
	  }
	
	//多页签面板
    var tabPanel = page.tabPanel = new jcl.ui.TabPanel({tabsWrap:true}, $('#right-box'));
	
	$.each(tabs, function(i, tab){
    	 tabPanel.addTab(tab.title, $(tab.dom), getAcHandler);
    });
	
	tabPanel.activeTab(0); // 会调用 onTabClick
	
	tabPanel.onTabClick(function(index){
    	return true;		
	});
	
	
});

	
</script>
</head>
  <body>
  
  <div id="userPatternGridDiv" class="grid-column"></div>
  <div id="right-box" ></div>
  
  </body>
</html>
